{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters fs_filters%}
{% block page-title %}{% trans 'Form Submission Detail' %}{% endblock %}

{% block head %}
<a class="btn btn-success btn-raised" href="{% url 'forms:formpack_html_export' obj.id %}">{% trans 'All Submissions' %}</a>
<!-- <span>{{status|status}}</span> -->
    <a class="btn btn-success btn-raised" href="{% url 'forms:alter-answer-status' answer status obj.id %}">{% trans 'Alter Status' %}</a>
{% endblock %}


{%block extracss %}
    <link href="{{STATIC_URL}}lightbox2/dist/css/lightbox.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="sub-header-bar">
  <div>
  </div>
</div>
<div class="col-sm-12"> Form Details</div>


    <div class="form-details-all">
        <div class="col-md-9">
            <div class="formmdetails">
                <h2><span class="form-name">Name:</span>{{ obj.xf.title }}</h2>
                <p><span class="site-name">Site:</span>{{ obj.site }}</p>
                <p><span class="creeated-date">Created date:</span>{{ obj.date_created }}</p>
                <p><span class="form-type">Form type:</span>{{obj.form_type}}</p>
                <p><span class="stage-schedule">Stage/Schedule:</span>
                    {% if obj.is_staged %}
                         {{obj.stage_name }}
                         {% endif %}

                         {% if obj.is_scheduled %}
                         {{obj.schedule_name }}
                         {% endif %}
                </p>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <div class="editform">
              <span class="staus-form">{{status|status}}</span>
              <!-- <a class="btn btn-success btn-raised" href="{% url 'forms:alter-answer-status' answer status obj.id %}">{% trans 'Alter Status' %}</a> -->
            </div>
        </div>
        <div class="clearfixx"></div>
    </div>



<div class="medias-img">
  <h3>Medias</h3>
    {% for link in medias %}
                 <a href="{{link}}" data-lightbox="roadtrip"><img height="100" width="100" src="{{link}}"/></a>
    {% endfor %}
</div>

<div>
<a class="btn btn-success btn-raised" href="{% url 'forms:formpack_html_export' obj.id %}">{% trans 'All Submissions' %}</a>
<!-- <span>{{status|status}}</span> -->
    <a class="btn btn-success btn-raised" href="{% url 'forms:alter-answer-status' answer status obj.id %}">{% trans 'Alter Status' %}</a>
</div>

{% endblock %}


{%block extrascript %}

    <script src="{{STATIC_URL}}lightbox2/dist/js/lightbox.js"></script>
{% endblock %}

