{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load fs_filters %}
{% block page-title %}{% trans 'Form Data' %}{% endblock %}
{% block breadcrumbs %}

{% if obj.project %}

<li><a href="{% url 'fieldsight:project-dashboard' obj.project.pk %}">Project Dashboard</a></li>
<li><a href="{% url 'fieldsight:project-list' %}">{% trans 'Projects' %}</a></li>
<li><a href="{% url 'forms:project-responses' obj.project.pk %}">{% trans 'Responses' %}</a>
</li>
{% else %}
<li><a href="{% url 'fieldsight:site-dashboard' obj.site.pk %}">Site Dashboard</a></li>
<li><a href="{% url 'fieldsight:sites-list' %}">{% trans 'Sites' %}</a></li>
<li><a href="{% url 'forms:site-responses' obj.site.pk %}">{% trans 'Responses' %}</a>
</li>

{% endif %}
    <li>Submissions</li>
{% endblock %}
{%block extracss %}
  

    <style>
      .pre-scrollable{
        height:500px;
  
}

.sortable tr {
    cursor: pointer;
}
  
  </style>
    
{% endblock %}
{% block content %}


        <section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-pencil-square-o"></i>Form Submissions</h3>
            <div class="panel-heading-right">
              <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchForms" aria-expanded="false" aria-controls="searchForms"><i class="la la-search"></i> Search</a>
            
            </div>
                    </header>
          <div class="panel-body">
            <!--Search Organization-->
            <div class="collapse margin-top" id="searchForms">
              <form class="padding">
                <div class="row">
                  <div class="col-md-6 ml-md-auto">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                      <span class="input-group-btn">
                      <button class="btn btn-primary" type="button"><i class="la la-search"></i> Search</button>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </form>
            </div>
          <div class="title-module">
            <h3>Form Submission</h3>

            <h5>Form Name</h5>
          </div>
            <div class="pre-scrollable">
              
<div class="container">
            
  <table class="table table-hover ceter-block sortable">
    <thead>
      <tr>
        <th>S.N</th>
        <th>Form Name</th>
        <th>Site Name</th>
        <th>Site Id</th>
        <th>Submitted By</th>
        <th>Submission Date</th>
      </tr>
    </thead>
    <tbody>
      <tr> <td>1</td>
         <td>Fieldsight</td>
          <td>Pokhara</td>
        <td>57</td>
        <td>Doe</td>
        <td>2017/2/5</td>
      </tr>
      <tr>
        <td>1</td>
         <td>Fieldsight</td>
          <td>Pokhara</td>
        <td>57</td>
        <td>Doe</td>
        <td>2017/2/5</td>
      </tr>
      <tr>
        <td>1</td>
         <td>Fieldsight</td>
          <td>Pokhara</td>
        <td>57</td>
        <td>Doe</td>
        <td>2017/2/5</td>
      </tr>
       <tr>
      <td>1</td>
         <td>Fieldsight</td>
          <td>Pokhara</td>
        <td>57</td>
        <td>Doe</td>
        <td>2017/2/5</td>
      </tr>
       <tr>
      <td>1</td>
         <td>Fieldsight</td>
          <td>Pokhara</td>
        <td>57</td>
        <td>Doe</td>
        <td>2017/2/5</td>
      </tr>
       <tr>
        <td>1</td>
         <td>Fieldsight</td>
          <td>Pokhara</td>
        <td>57</td>
        <td>Doe</td>
        <td>2017/2/5</td>
      
      </tr>
       <tr>
        <td>1</td>
         <td>Fieldsight</td>
          <td>Pokhara</td>
        <td>57</td>
        <td>Doe</td>
        <td>2017/2/5</td>
      
       
      </tr>
    </tbody>
  </table>
</div>



            </div>
          </div>

          
                </section>
        

<div id="pagination">
    {{ page.render }}
</div>

{% endblock %}


{% block extrascript %}
    <script src="{{STATIC_URL}}lightbox2/dist/js/lightbox.js"></script>
{% endblock %}
