{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load fs_filters %}
{% block page-title %}{% trans 'Form Data' %}{% endblock %}
{% load filters %}
{% block extracss %}
{% load pagination_tags %}


    <style>
      .pre-scrollable{
        height:500px;
  
}

.sortable tr {
    cursor: pointer;
}
  
  </style>
    
{% endblock %}
{% block content %}

<div id="main-content" class="padding">
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
      <strong class="text-capitalize">{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}!</strong> {{ message }}
    </div>
  {% endfor %}
{% endif %}
        <section class="panel">
            <header class="panel-heading clearfix">
                <h3><i class="la la-pencil-square-o"></i>{% if request.GET.q %}Search Results for "{{request.GET.q}}"{% else %}
                {% trans 'Form' %} {% trans 'Submissions' %}{% endif %} | {{ form_name  }}</h3>


            <div class="panel-heading-right">
            
              <a class="btn btn-sm btn-primary" href="{% url 'forms:project_html_table_export' obj.id %}"><i class="la la-eye"></i> Detailed Responses List</a>
              <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchForms" aria-expanded="false" aria-controls="searchForms"><i class="la la-search"></i> Search</a>
            
            </div>


            
            </header>
          <div class="panel-body">
           
            <div class="collapse margin-top" id="searchForms">
              <form method="GET" class="padding">
                <div class="row">
                  <div class="col-md-6 ml-md-auto">
                    <div class="input-group">
                      <input type="text" class="form-control" name="q" placeholder="Search for..." autofocus value='{{ request.GET.q }}'/>
                      <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit" value="Search"><i class="la la-search"></i> {% trans 'Search' %}</button>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </form>
            </div>
         

    <div class="table-responsive">
   {% if is_project_data %}
          
  <table class="table table-striped table-bordered table-hover margin-top">
    <thead>
      <tr>
        <th>{% trans 'S.N' %}</th>
        <th>{% trans 'Site' %} {% trans 'Name' %}</th>
        <th>{% trans 'Site' %} {% trans 'Id' %}</th>
        <th>{% trans 'Submission' %} {% trans 'Id' %}</th>
        <th>{% trans 'Submitted' %} {% trans 'By' %}</th>
        <th>{% trans 'Submission' %} {% trans 'Date' %}</th>
        <th>{% trans 'Edit' %}</th>
        <th>{% trans 'Delete' %}</th>
      </tr>
    </thead>
    <tbody>

    {% for sub in object_list  %}
       <tr onclick="redirectto(`{% url 'forms:instance' sub.project_fxf.pk %}#/{{ sub.instance.id|stringformat:'d'}}`)" >
          <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
          <td>{{ sub.site.name }}</td>
          <td>{{ sub.site.identifier }}</td>
          <td>{{ sub.instance.id }}</td>
          <td>{{ sub.submitted_by.user_profile.getname }}</td>
          <td>{{ sub.date }}</td>
          <td>
            <a href="{% url 'forms:edit-submission' sub.project_fxf.pk sub.instance.id %}">Edit</a>    
          </td>
          <td>
            <a href="{% url 'forms:delete-finstance' sub.instance.id %}?next={{ request.path|urlencode }}">Delete</a></span>
          </td>
        </tr>        
    {% endfor %}
    </tbody>
  </table>
  {% endif %}



  {% if is_site_data %}

  <table class="table table-striped table-bordered table-hover margin-top">
    <thead>
      <tr>
        <th>{% trans 'S.N' %}</th>
        <th>{% trans 'Submission' %} {% trans 'Id' %}</th>
        <th>{% trans 'Submitted' %} {% trans 'By' %}</th>
        <th>{% trans 'Submission' %} {% trans 'Date' %}</th>
        <td>{% trans 'Edit' %}</td>
        <th>{% trans 'Delete' %}</th>
      </tr>
    </thead>
    <tbody>

    {% for sub in object_list  %}
    {% if site_id %}
      <tr onclick="redirectto(`{% url 'forms:instance' sub.fsxfid site_id %}#/{{ sub.instance.id|stringformat:'d'}}`)" >
          {% else %}
          <tr onclick="redirectto(`{% url 'forms:instance' sub.fsxfid  %}#/{{ sub.instance.id|stringformat:'d'}}`)" >
          {% endif %}
        <td>{{ forloop.counter }}</td>
        <td>{{ sub.instance.id }}</td>
        <td>{{ sub.submitted_by.user_profile.getname }}</td>
        <td>{{ sub.date }}</td>
        <td>
            <a href="{% url 'forms:edit-submission' sub.fsxfid sub.instance.id %}">Edit</a>
        </td>
        <td>
            <a href="{% url 'forms:delete-finstance' sub.instance.id %}?next={{ request.path|urlencode }}">Delete</a></span>
        </td>
      </tr>
    {% endfor %}
     
     
    </tbody>
  </table>
  {% endif %}

</div>


        {% if is_paginated %}
                <nav class="pagination justify-content-center" aria-label="page-navigation">
                  <ul class="pagination">
                  
                  {% if page_obj.number == 1 %}
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ 1 }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">First</a></li>
                  {% endif %}

                  {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&laquo;</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                  {% endif %}

                  {% if paginator.num_pages > 20 %}

                      {% page_offsets page_obj.number paginator.num_pages 21 as data %}
    
                      {% for item in data.front_range %}
                            <li class="page-item"><a class="page-link" href="?page={{ item }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">{{ item }}</a></li>
                      
                      {% endfor %}
                 
                        <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">{{ page_obj.number }}</a></li>

                      {% for item in data.back_range %}
                            <li class="page-item"><a class="page-link" href="?page={{ item }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">{{ item }}</a></li>
                      
                      {% endfor %}

                  {% else %}
                    {% for i in paginator.page_range %}
                      
                      {% if page_obj.number == i %}
                        <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

                      {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}

                  {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">&raquo;</a></li>
                  {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                  {% endif %}

                  {% if page_obj.number == paginator.num_pages %}
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">Last</a></li>
                  {% endif %}

                  </ul>
                </nav>
            {% endif %}
           
          </div>

          

  </section>      
</div>


{% endblock %}


{% block extrascript %}
<script src="{{STATIC_URL}}lightbox2/dist/js/lightbox.js"></script>
<script type="text/javascript">
  function redirectto(url){
    console.log(url)
    window.location.href = url
  }
 
</script>
{% endblock %}

<!-- 
<table>

    <thead>
        <tr>
            <th>{% trans "View or Edit" %}</th>
            {% for label in labels %}
            <th><span class="cell-content-wrap">{{ label }}</span></th>
            {% endfor %}
        </tr>

    </thead>

    <tbody>
    {% for submission_id, row in data  %}
        <tr>
            <th><a href="{% url 'forms:instance' fsxfid %}#/{{ submission_id|stringformat:'d' }}">{% trans "Open" %}</a></th>
            {% for value in row %}
            <td><span class="cell-content-wrap">{{ value }}</span></td>
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>

</table> -->