{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load fs_filters %}
{% block page-title %}{% trans 'Form Data' %}{% endblock %}

{%block extracss %}
  

    <style>
      .pre-scrollable{
        height:500px;
  
}

.sortable tr {
    cursor: pointer;
}
  
  </style>
    
{% endblock %}
{% block content %}

<div id="main-content" class="padding">
        <section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-pencil-square-o"></i>Form Submissions</h3>
            <div class="panel-heading-right">
              <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchForms" aria-expanded="false" aria-controls="searchForms"><i class="la la-search"></i> Search</a>
            
            </div>
                    </header>
          <div class="panel-body">
            <!--Search Organization-->
            <div class="collapse margin-top" id="searchForms">
              <form class="padding">
                <div class="row">
                  <div class="col-md-6 ml-md-auto">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                      <span class="input-group-btn">
                      <button class="btn btn-primary" type="button"><i class="la la-search"></i> Search</button>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </form>
            </div>
          <div class="title-module">
            <h3>Form Submission</h3>

            <h5>Form Name</h5>
          </div>
            <div class="pre-scrollable">
              
<div class="container">
            
  <table class="table table-hover ceter-block sortable">
    <thead>
      <tr>
        <th>S.N</th>
        <th>Form Name</th>
        {% if is_site %}
            <th>Site Name</th>
            <th>Site Id</th>
        {% else %}
            <th>Project Name</th>
            <th>Project Id</th>
        {% endif %}
        <th>Submitted By</th>
        <th>Submission Date</th>
      </tr>
    </thead>
    <tbody>
    
    {% for sub in data  %}
       
              {% if sub.site_fxf %}
               <tr>
                  <a href="{% url 'forms:instance' sub.site_fxf.pk %}#/{{ sub.instance.id|stringformat:'d'}}">
                  <td>{{ sub.site_fxf }}</td>
                  <td>{{ sub.xf.title }}</td>
                  <td>{{ sub.site.title }}</td>
                  <td>{{ sub.site.id }}</td>
                  <td>{{ sub.submitted_by.username }}</td>
                  <td>{{ sub.date }}</td>
                  </a>
                  </tr>
              {% endif %}

              {% if sub.project_fxf %}
               <tr>
                  <a href="{% url 'forms:instance' sub.project_fxf.pk %}#/{{ sub.instance.id|stringformat:'d'}}">
                  <td>{{ sub.project_fxf }}</td>
                  <td>{{ sub.xf.title }}</td>
                  <td>{{ sub.project.title }}</td>
                  <td>{{ sub.project.id }}</td>
                  <td>{{ sub.submitted_by.username }}</td>
                  <td>{{ sub.date }}</td>
                  </a>
                  </tr>
              {% endif %}
        

    {% endfor %}
     
     
    </tbody>
  </table>
</div>



            </div>
          </div>

          
                </section>
        
      </div>
<div id="pagination">
    {{ page.render }}
</div>

{% endblock %}


{% block extrascript %}
    <script src="{{STATIC_URL}}lightbox2/dist/js/lightbox.js"></script>
{% endblock %}

<!-- 
<table>

    <thead>
        <tr>
            <th>{% trans "View or Edit" %}</th>
            {% for label in labels %}
            <th><span class="cell-content-wrap">{{ label }}</span></th>
            {% endfor %}
        </tr>

    </thead>

    <tbody>
    {% for submission_id, row in data  %}
        <tr>
            <th><a href="{% url 'forms:instance' fsxfid %}#/{{ submission_id|stringformat:'d' }}">{% trans "Open" %}</a></th>
            {% for value in row %}
            <td><span class="cell-content-wrap">{{ value }}</span></td>
            {% endfor %}
        </tr>
    {% endfor %}

    </tbody>

</table> -->