{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block page-title %}{% trans 'Form Submission Detail' %}{% endblock %}

{% block head %}
    {{status|status}}
    <a class="btn btn-success btn-raised" href="{% url 'forms:alter-answer-status' answer status obj.id %}">{% trans 'Alter Status' %}</a>
{% endblock %}


{%block extracss %}
    <link href="{{STATIC_URL}}lightbox2/dist/css/lightbox.css" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="sub-header-bar">
  <div>
  </div>
</div>
<div class="col-sm-12"> Form Details</div>


    <div class="form-details-all">
        <div class="col-md-9">
            <div class="formmdetails">
                <h2><span class="form-name">Name:</span>{{ obj.xf.title }}</h2>
                <p><span class="site-name">Site:</span>{{ obj.site }}</p>
                <p><span class="creeated-date">Created date:</span>{{ obj.date_created }}</p>
                <p><span class="form-type">Form type:</span>{{obj.form_type}}</p>
                <p><span class="stage-schedule">Stage/Schedule:</span>
                    {% if obj.is_staged %}
                         {{obj.stage_name }}
                         {% endif %}

                         {% if obj.is_scheduled %}
                         {{obj.schedule_name }}
                         {% endif %}
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="editform">

            </div>
        </div>
        <div class="clearfixx"></div>
    </div>

<div>
   {% for k, v in data.items %}
    <div class="row">
    <div class="col-sm-6">{{k}}</div>
        <div class="col-sm-6">{{v}} </div>
        </div>
{% endfor %}
</div>

<div>Medias
    {% for link in medias %}
                 <a href="{{link}}" data-lightbox="roadtrip"><img height="100" width="100" src="{{link}}"/></a>
    {% endfor %}
</div>


{% endblock %}


{%block extrascript %}

    <script src="{{STATIC_URL}}lightbox2/dist/js/lightbox.js"></script>
{% endblock %}
