{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %} {% trans 'Share Stages To Library' %}{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    <h3> Please Enter Library Details For Stages</h3>
    <form method="POST" action="{% url 'forms:share-stages' id is_project %}">
        <div class="">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
            
            {% csrf_token %}
            {% for field in form %}
               <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ field.label }}</div>
                 <div class="col-sm-3">      {{ field }}</div>
                 <div class="col-sm-6">      {{ field.errors }}</div>
               </div>
            {% endfor %}
        </div>
        
        <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Share' %}</button>

    </form>

    

{% endblock %}
