{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Stages of' %}  {{site.name}}
{% endblock %}

{% block head %}
<a class="btn btn-success btn-raised" href="{{ koboform_url }}#/forms/new">{% trans 'New' %} {% trans 'Form' %}</a>
    <a class="btn btn-success btn-raised" href="{% url 'forms:stage-add' site.pk %}">
                            {% trans 'Add New Stage' %}</a>
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:site-dashboard' site.pk %}">{% trans 'Site Dashboard' %}</a></li>
    <li>{% trans 'Main Stages' %}</li>
{% endblock %}
{%block extracss %}
<style>
    .stages-main-block {
    background: #296fd5;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}
.substages-main-list{
	background: #237dff;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.stages-main-block:hover {
    transform: translateY(-3px);
   box-shadow: 0 0 20px rgba(174,174,174,0.6);
   transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}

.clearfixxx{
	clear: both;
}

.main-stages {
    margin-top: 40px;
}
.sub-stages {
    margin-top: 40px;
}
.all-above-things {
    margin-top: 20px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    background-color: #296fd5;
    border-color: #296fd5;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: #237dff;
    border-color: #237dff;
    color: #FFFFFF;
}
.btn-primary1 {
    background-color: #237dff;
    border-color: #237dff;
    color: #FFFFFF;
}
.btn-primary1:hover, .btn-primary1:focus, .btn-primary1:active, .btn-primary1.active{
    background-color: #296fd5;
    border-color: #296fd5;
    color: #FFFFFF;
}

.selected{
    background: #296fd5 !important;
    color: #fff;
}
.site-forms-list-single {
    padding: 15px 10px;
    background: #ECECEC;
    border-bottom: 1px solid #DADADA;
}
.site-forms-list-single p {
    margin-bottom: 0px;
}
.site-forms-list-single:hover {
    background: #237dff;
    color: #fff;
}
.add_circle_block {
    height: 161px;
    background: #296fd5;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    display: table;
    width: 100%;
    overflow: hidden;
}
.add_circle_table {
    display: table-cell;
    vertical-align: middle;
}
.add-circle {
    font-size: 40px;
}
.add_circle_form {
    visibility: hidden;
    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}
.add_circle_block:hover .add_circle_form {
    visibility: visible;
    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}
.add_circle_block:hover {
    overflow: auto;
}
.add_circle_block:hover .circle_button {
    display: none;
    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}
</style>
{% endblock %}

{% block content %}

{% load filters %}

<div class="main-stages">
    {% for stage in objlist %}
  
    <div class="col-md-4">
        <a href="{% url 'forms:stages-detail' stage.pk %}">
          <div class="stages-main-block">
            <h3><span>Stage:</span> <b>{{stage.order}}</b></h3>
            <h4><span>Name:</span> <b>{{stage.name}}</b></h4>
            <p><span>Description:</span>{{stage.description}}</p>
            <p class="text-center">{% trans 'List Sub Stages' %}({{stage.sub_stage_count}})</p>
          </div>
        </a>
    </div>
  
    {% endfor %}
    <!-- <form method="post" action="{% url 'forms:stage-add' site.pk %}">
         
        <div>{{ form.non_field_errors }}{% csrf_token %}</div>
        <div class="col-md-4">
          <div class="stages-main-block">
                {% for field in form %}
                   <div class="col-sm-12 registration_field">
                   {{ form.non_field_errors }}
                   </div>
                    <h3><span>{{ field.label }}</span> <b>{{ field }}</b>{{ field.errors }}</h3>
                {% endfor %}

               <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>
          </div>

        </div>
  
    </form> -->
    <div class="col-md-4">
        
          <div class="add_circle_block">
            <div class="add_circle_table">
                    <div class="circle_button">
                        <h3><a href=""><span class="add-circle"><i class="fa fa-plus-circle" aria-hidden="true"></i></span></a> </h3>
                    </div>
                    <div class="add_circle_form">
                        <form method="post" action="{% url 'forms:stage-add' site.pk %}">
                            <div>{{ form.non_field_errors }}{% csrf_token %}</div>
                            
                                    {% for field in form %}
                                       <div class="col-sm-12 registration_field">
                                       {{ form.non_field_errors }}
                                       </div>
                                        <h3><span>{{ field.label }}</span> <b>{{ field }}</b>{{ field.errors }}</h3>
                                    {% endfor %}

                                   <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>
                        </form>
                    </div>
            </div>
            
          </div>
        
    </div>
</div>


{% endblock %}