{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Forms Library' %}{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{{ koboform_url }}#/forms/new">{% trans 'New' %} {% trans 'Form' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load fs_filters %}




    <div class="adv-table">


        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}

        <table class="table table-striped" id="dynamic-table1">
            <thead>
            <th>{% anchor title _('Name') %}</th>
            <th>Edit</th>
            <th>Created Date</th>
            <!--<th colspan="2">Share Level</th>-->
            </thead>
            <tbody>
            {% for obj in paginated_objects %}
                <tr>
                    <td>
                        {{ obj.title }}
                    </td>
                    <td>
                        <a class="btn btn-success btn-raised" href="{{ koboform_url }}#/forms/{{ obj.id_string }}/edit">
                             {% trans 'Edit' %}</a>
                    </td>
                    <td>
                        {{ obj.date_created }}
                    </td>


                <!--<form method="post" action="{% url 'forms:share' obj.id_string forloop.counter %}">-->
            <!--{% csrf_token %}-->
                 <!--<td>-->
                 <!--<select name="sl">-->
                     <!--{% with obj.id_string|library as shared %}-->
                     <!--<option value="">{% trans 'None' %}</option>-->

                     <!--<option value="1" {% ifequal shared 1 %} selected {% endifequal %}>{% trans 'Organization' %}</option>-->
                     <!--<option value="2" {% ifequal shared 2 %} selected {% endifequal %}>{% trans 'Project' %}</option>-->
                     <!--<option value="0" {% ifequal shared 0 %} selected {% endifequal %}>{% trans 'Global' %}</option>-->
                     <!--{% endwith %}-->
                <!--</select>-->
                 <!--</td>-->
                    <!--<td>-->
                        <!--<button class="btn btn-success btn-raised" type="submit">Share</button>-->
                    <!--</td>-->
                    <!--</form>-->
                </tr>
            {% endfor %}
            </tbody>
        </table>


        {% paginate %}

    </div>



{% endblock %}