{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Forms' %} {% trans 'Library' %}{% endblock %}


{% block content %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load fs_filters %}
<script type="text/javascript">
function deleteConfirm(url) {
    var r = confirm("Are you sure you want to delete?");
    if (r == true) {
        window.location.href = url;
    } else {
        return;
    }
}

</script>
<div id="main-content" class="padding">
				<section class="panel">
				{% if messages %}
					{% for message in messages %}
						<div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">
						  <strong class="text-capitalize">{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}!</strong> {{ message }}
						</div>
					{% endfor %}
				{% endif %}
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-file-text "></i>{% trans 'My' %} {% trans 'Forms' %}</h3>
						<div class="panel-heading-right">
							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchForm" aria-expanded="true" aria-controls="searchForm"><i class="la la-search"></i> Search</a>
						</div>
                    </header>
					<div class="panel-body">
						<div class="collapse" id="searchForm" style="">
							<form method="GET" class="padding" action="">
								<div class="row justify-content-center">
									<div class="col-md-6 ">
										<div class="input-group">
										  <input type="text" class="form-control" name="q" placeholder="Search for..." value="" autofocus="">
										  <span class="input-group-btn">
											  <button class="btn btn-primary" value="Search"><i class="la la-search"></i> Search</button>
										  </span>
										</div>
									</div>
								</div>
							</form>
						</div>
                      <div class="table-responsive margin-top">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>{% trans 'S.N' %}</th>
                            <th>{% anchor title _('Form Name') %}</th>
                            <th > {% trans 'Created' %} {% trans 'Date' %}</th>
                            <th>{% trans 'Actions' %}</th>


                          </tr>
                        </thead>
                        <tbody>
                        {% for obj in object_list %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td >{{ obj.title }}</td>
                            <td >{{ obj.date_created }}</td>
                            <td><a class="btn btn-success btn-sm btn-xs" target="_blank" href="{% url 'forms:preview' obj.id_string %}" style="height:27px"><i class="la la-eye"></i> {% trans 'Preview' %}</a>
                            <a class="btn btn-primary btn-sm btn-xs" href="{{ koboform_url }}#/forms/{{ obj.id_string }}/edit" style="height:27px"><i class="la la-pencil-square-o"></i> {% trans 'Edit' %}</a>

							<!-- <a class="btn btn-primary btn-sm btn-xs" href="{{ koboform_url }}#/forms/{{ obj.id_string }}/preview" style="height:27px"><i class="la la-eye"></i>{% trans 'Preview' %}</a>
							 -->

							<a class="btn btn-danger btn-sm btn-xs" href="#" onClick="deleteConfirm(`{% url 'forms:xform-delete' obj.pk %}`)" style="height:27px"><i class="la la-pencil-square-o"></i> {% trans 'Delete' %}</a>
							</td>
                            <!--<button type="button" class="btn btn-danger btn-sm btn-xs" style="height:27px"><i class="la la-trash"></i>{% trans ' Delete' %}</button></td>-->

                          </tr>
                        {% empty %}
						{% trans 'No' %} {% trans 'matching' %} {% trans 'results' %}
						{% endfor %}
                        </tbody>
                      </table>
                        <!--pagination-->

					{% if is_paginated %}
			            <nav class="pagination justify-content-center" aria-label="page-navigation">
			              <ul class="pagination">
			              {% if page_obj.has_previous %}
			                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
			              {% else %}
			                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
			              {% endif %}
			              {% for i in paginator.page_range %}
			                {% if page_obj.number == i %}
			                <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

			                {% else %}
			                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
			                {% endif %}
			              {% endfor %}
			              {% if page_obj.has_next %}
			                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
			              {% else %}
			                <li class="disabled"><a class="page-link" href="#">&raquo;</a>
			              {% endif %}
			              </ul>
			            </nav>
			            {% endif %}

						<!--Pagination-->



                      </div>
                    </div>



                </section>

			</div>
{% endblock %}