{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Forms Library' %}{% endblock %}


{% block content %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load fs_filters %}
<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="fa fa-wpforms "></i>My Forms</h3>
						<!--<div class="panel-heading-right">-->

							<!--<a href="#" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i> New Form</a>-->
						<!--</div>-->
                    </header>
					<div class="container">

                      <div class="table-striped">
                      {% autosort object_list as sorted_objects %}
                      {% autopaginate object_list 25 as paginated_objects %}
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center">{% trans 'S.N' %}</th>
                            <th class="text-center">{% anchor title _('Form Name') %}</th>
                            <th class="text-center"> {% trans 'Created Date' %}</th>
                            <th class="text-center">{% trans 'Actions' %}</th>


                          </tr>
                        </thead>
                        <tbody>
                        {% for obj in paginated_objects %}
                          <tr>
                            <td class="text-center">{{ obj.id }}</td>
                            <td class="text-center">{{ obj.title }}</td>
                            <td class="text-center">{{ obj.date_created }}</td>
                            <td class="text-center"><a class="btn btn-primary btn-sm" href="{{ koboform_url }}#/forms/{{ obj.id_string }}/edit" style="height:27px"><i class="la la-pencil-square-o"></i>{% trans ' Edit' %}</a>

                            <button type="button" class="btn btn-danger btn-sm" style="height:27px"><i class="la la-trash"></i>{% trans ' Delete' %}</button></td>

                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      {% paginate %}
                      </div>
                    </div>
					<!--Pagination-->



                </section>

			</div>
{% endblock %}