{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% load fs_filters %}

{% block page-title %}{% trans 'Responses' %}{% endblock %}

   {%block extracss %}
<link rel="stylesheet" href="{% static 'css/knockout-file-bindings.css' %}">
<link rel="stylesheet" href="{% static 'dummy/assets/css/jquery-ui.css' %}">

    {% endblock %}

{% block head %}
{% endblock %}
{% block content %}
<div id="main-content" class="padding">
    <nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
      {% block breadcrumbs %}
			<li class="breadcrumb-item"><a href="{% if is_donor_only %}{% url 'fieldsight:site_dashboard_lite' site %}{% else %}{% url 'fieldsight:site-dashboard' site %}{% endif %}">{{ obj.name }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{% trans 'Responses' %}</li>
		    {% endblock %}
        </ol>
      
    </nav>

    <div class="tabbing">

      <ul class="tab-right">
            <li>
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  View by Form
                </button>
                <div class="dropdown-menu">
                  <a href="{% url 'fieldsight:site-submission-data' site '1' %}" class="btn btn-sm-primary">View by Status</a>
                </div>
              </div>
            </li>
          </ul>
    <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#general1" role="tab">{% trans 'General' %} {% trans 'Forms' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#schedule2" role="tab">{% trans 'Scheduled' %} {% trans 'Forms' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#stage3" role="tab">{% trans 'Staged' %} {% trans 'Form' %}</a>
            </li>
          
          </ul>

    <div class="tab-content">
      <div id="general1" class="tab-pane active">
        {% if generals %}
          <div class="table-responsive">     
          <table class="table table-striped table-bordered table-hover margin-top">
              <thead>
              <th>{% trans 'Form' %} {% trans 'Name' %}</th>
              <th>{% trans 'Last' %} {% trans 'Submission' %} {% trans 'On' %}</th>
              <th>{% trans 'Created' %} {% trans 'Date' %}</th>
              <th>{% trans 'Submissions' %}</th>
              <th>{% trans 'Download' %}</th>
              <th>{% trans 'New' %}</th>
              </thead>
              <tbody>
              {% for obj in generals %}
                  <tr>
                      <td>
                          {{ obj.xf.title }}
                          {% if obj.fsform %}
                            <span class="pull-right">{% trans 'Project' %} {% trans 'Level' %}</span>
                          {% endif %}
                      </td>
                      <td>
                                  {% with obj|getlatestsubmittiondate:site as sdate %}
                              {{ sdate.first.date }}
                                {% endwith %}
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                      <td>
                          {% with obj|site_submissions:site as count %}
                          
                           <a class="badge badge-light" href="{% url 'forms:html_export' obj.id site %}">
                               <i class="la la-eye"></i> {% if count == 0 %} {% trans 'No Submission' %} {% elif count == 1 %}{{ count }} {% trans 'Submission' %} {% else %}{{ count }} {% trans 'Submissions' %}{% endif %}</a>
                          {% endwith %}

                      </td>
                      <td>
                      <a target="_blank" href="{% url 'onadata.apps.viewer.views.export_list' obj.xf.user.username obj.xf.id_string 'xls' 0 obj.id site %}">
                          <i class="la la-download" aria-hidden="true"></i></a>
                      </td>
                      <td>

                                  <a target="_blank" href="{% url 'forms:new-submission' obj.id site %}">
                                      <i class="la la-plus" aria-hidden="true"></i>
                                  </a>
                          
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
        {% endif %}

        <div class="section-wrap margin-top">
          <div class="section-header">
            <h6 class="clearfix">{% trans 'Deleted' %} {% trans 'Forms' %}<a class="btn btn-primary btn-sm pull-right" data-toggle="collapse" href="#collapseDeletedResponsesgeneral1" role="button" aria-expanded="true" aria-controls="collapseDeletedResponsesgeneral1">{% trans 'Show' %} / {% trans 'Hide' %}</a>
            </h6>
          </div>
          <div class="section-body collapse" id="collapseDeletedResponsesgeneral1" style="">
            {% if general_deleted_forms %}
             <div class="table-responsive">     
               <table class="table table-striped table-bordered table-hover margin-top">
                  <thead>
                    <th>{% trans 'Form' %} {% trans 'Name' %}</th>
                    <th>{% trans 'Last' %} {% trans 'Response' %} {% trans 'On' %}</th>
                    <th>{% trans 'Created' %} {% trans 'Date' %}</th>
                    <th>{% trans 'View' %} {% trans 'Submissions' %}</th>
                    <th>{% trans 'Download' %} {% trans 'Excel' %}</th>
                  </thead>
                  <tbody>
                     {% for obj in general_deleted_forms %}
                  
                          <tr>
                            <td>
                              {{obj.xf.title}}
                            </td>
                            <td>
                                {% with obj|getlatestsubmittiondate:site as sdate %}
                              {{ sdate.first.date }}
                                {% endwith %}
                            </td>

                            <td>
                                {{ obj.date_created }}
                            </td>
                            <td>
                              
                              {% with obj|site_submissions:site as count %}

                           <a class="badge badge-light" href="{% url 'forms:html_export' obj.id site %}">
                               <i class="la la-eye"></i> {% if count == 0 %} {% trans 'No Submission' %} {% elif count == 1 %}{{ count }} {% trans 'Submission' %} {% else %}{{ count }} {% trans 'Submissions' %}{% endif %}</a>
                          {% endwith %}
                            </td>
                            <td>
                              <a class="badge badge-success" target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.xf.user.username obj.xf.id_string 'xls' 0 obj.id %}">
                                  <i class="la la-download" aria-hidden="true"></i> Download</a>
                            </td>
                          </tr>
                          
                      {% endfor %}
                  
                  </tbody>
               </table>
            </div>
            {% endif %}
          </div>
        </div>
      </div>


      <div id="schedule2" class="tab-pane fade">
        {% if schedules %}
          <div class="table-responsive">     

          <table class="table table-striped table-bordered table-hover margin-top">
              <thead>
              <th>{% trans 'Schedule' %} {% trans 'Name' %}</th>
              <th>{% trans 'Last' %} {% trans 'Submission' %} {% trans 'On' %}</th>
              <th>{% trans 'Form' %} {% trans 'Name' %}</th>
              <th>{% trans 'Created' %} {% trans 'Date' %}</th>
              <th>{% trans 'Submissions' %}</th>
              <th>{% trans 'Download' %}</th>
              <th>{% trans 'New' %}</th>
              </thead>
              <tbody>
              {% for obj in schedules %}
                  <tr>
                      <td>
                          {{ obj.name}}
                          {% if obj.fsform %}
                            <span class="pull-right">Project' %} {% trans 'Level' %}</span>
                          {% endif %}
                      </td>
                      <td>
                                 {% with obj.schedule_forms|getlatestsubmittiondate:site as sdate %}
                              {{ sdate.first.date }}
                                {% endwith %}
                              </td>
                      <td>
                          {{ obj.schedule_forms.xf.title }}
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                      <td>
                           {% with obj.schedule_forms|site_submissions:site as count %}
                          
                           <a class="badge badge-light" href="{% url 'forms:html_export' obj.schedule_forms.pk site%}">
                              <i class="la la-eye"></i> {% if count == 0 %} {% trans 'No Submission' %} {% elif count == 1 %}{{ count }} {% trans 'Submission' %} {% else %}{{ count }} {% trans 'Submissions' %}{% endif %}
                              </a>
                          {% endwith %}
                      </td>
                      <td>
                      <a target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.schedule_forms.xf.user.username obj.schedule_forms.xf.id_string 'xls' 0 obj.schedule_forms.id%}">
                          <i class="la la-download" aria-hidden="true"></i></a>
                      </td>
                      <td>
                          {% if obj.form %}
                                  <a target="_blank" href="{% url 'forms:new-submission' obj.form.id site %}">
                                      <i class="la la-plus" aria-hidden="true"></i>
                                  </a>
                          {% endif %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
        {% endif %}  
         <div class="section-wrap margin-top">
          <div class="section-header">
            <h6 class="clearfix">{% trans 'Deleted' %} {% trans 'Forms' %}<a class="btn btn-primary btn-sm pull-right" data-toggle="collapse" href="#collapseDeletedResponsesschedule2" role="button" aria-expanded="true" aria-controls="collapseDeletedResponsesschedule2">{% trans 'Show' %} / {% trans 'Hide' %}</a>
            </h6>
          </div>
          <div class="section-body collapse" id="collapseDeletedResponsesschedule2">
            {% if schedule_deleted_forms %}
             <div class="table-responsive">     
               <table class="table table-striped table-bordered table-hover margin-top">
                  <thead>
                    <th>{% trans 'Form' %} {% trans 'Name' %}</th>
                    <th>{% trans 'Last' %} {% trans 'Response' %} {% trans 'On' %}</th>
                    <th>{% trans 'Created' %} {% trans 'Date' %}</th>
                    <th>{% trans 'View' %} {% trans 'Submissions' %}</th>
                    <th>{% trans 'Download' %} {% trans 'Excel' %}</th>
                  </thead>
                  <tbody>
                     {% for obj in schedule_deleted_forms %}
                  
                          <tr>
                            <td>
                              {{obj.xf.title}}
                            </td>
                            <td>
                              {{ obj.getlatestsubmittiondate.first.date }}
                            </td>

                            <td>
                                {{ obj.date_created }}
                            </td>
                            <td>
                              
                              {% with obj|site_submissions:site as count %}

                           <a class="badge badge-light" href="{% url 'forms:html_export' obj.id site %}">
                               <i class="la la-eye"></i> {% if count == 0 %} {% trans 'No Submission' %} {% elif count == 1 %}{{ count }} {% trans 'Submission' %} {% else %}{{ count }} {% trans 'Submissions' %}{% endif %}</a>
                          {% endwith %}
                            </td>
                            <td>
                              <a class="badge badge-success" target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.xf.user.username obj.xf.id_string 'xls' 0 obj.id %}">
                                  <i class="la la-download" aria-hidden="true"></i> Download</a>
                            </td>
                          </tr>
                          
                      {% endfor %}
                  
                  </tbody>
               </table>
            </div>
            {% endif %}
          </div>
        </div>
      </div>


      <div id="stage3" class="tab-pane fade">
        {% if stages %}

          {% for stage in stages %}
          <div class="section-wrap">
            <div class="section-header">
              <h6>{{stage.name }}</h6>
            </div>
          
          
         
                  <div class="section-body no-padding-bottom">
               
                  {% if stage.active_substages %}
                  <div class="table-responsive">     
                  <table class="table table-striped table-bordered table-hover margin-top">
                      <thead>
                      <th>{% trans 'Sub' %} {% trans 'Stage' %} {% trans 'Name' %}</th>
                      <th>{% trans 'Last' %} {% trans 'Submission' %} {% trans 'On' %}</th>
                      <th>{% trans 'Order' %}</th>
                      <th>{% trans 'Form' %} {% trans 'Name' %}</th>
                      <th>{% trans 'Submissions' %}</th>
                      <th>{% trans 'Download' %}</th>
                      <th>{% trans 'New' %}</th>
                      </thead>
                      <tbody>
                      {% for obj in stage.active_substages %}
                          <tr>
                              <td>
                                  {{ obj.name}}
                                  {% if obj.fsform %}
                                    <span class="pull-right">{% trans 'Project' %} {% trans 'Level</span>
                                  {% endif %}
                              </td>
                              <td>
                                  {% with obj.stage_forms|getlatestsubmittiondate:site as sdate %}
                              {{ sdate.first.date }}
                                {% endwith %}
                              </td>
                              <td>
                                  {{ forloop.counter }}
                              </td>
                              <td>{{obj.stage_forms.xf.title}}</td>
                              <td>
                          {% with obj.stage_forms|site_submissions:site as count %}
                          
                               <a class="badge badge-light" href="{% url 'forms:html_export' obj.stage_forms.pk site %}">
                               <i class="la la-eye"></i> {% if count == 0 %} {% trans 'No Submission' %} {% elif count == 1 %}{{ count }} {% trans 'Submission' %} {% else %}{{ count }} {% trans 'Submissions' %}{% endif %}
                               </a>
                          {% endwith %}
                              </td>
                              <td>
                                <a target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.stage_forms.xf.user.username obj.stage_forms.xf.id_string 'xls' 0 obj.stage_forms.id%}">
                                    <i class="la la-download" aria-hidden="true"></i></a>
                              </td>
                               <td>
                                {% if obj.form %}
                                  <a target="_blank" href="{% url 'forms:new-submission' obj.form.id site %}">
                                      <i class="la la-plus" aria-hidden="true"></i>
                                  </a>
                                {% endif %}
                              </td>

                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                  </div>

                  {% endif %}
                </div>
                <br>
          {% endfor %}  
          </div> 

        {% endif %}
         <div class="section-wrap margin-top">
          <div class="section-header">
            <h6 class="clearfix">{% trans 'Deleted' %} {% trans 'Forms' %}<a class="btn btn-primary btn-sm pull-right" data-toggle="collapse" href="#collapseDeletedResponsesstage3" role="button" aria-expanded="true" aria-controls="collapseDeletedResponsesstage3">{% trans 'Show' %} / {% trans 'Hide' %}</a>
            </h6>
          </div>
          <div class="section-body collapse" id="collapseDeletedResponsesstage3">
              {% if stage_deleted_forms %}
             <div class="table-responsive">     
               <table class="table table-striped table-bordered table-hover margin-top">
                  <thead>
                    <th>{% trans 'Form' %} {% trans 'Name' %}</th>
                    <th>{% trans 'Last' %} {% trans 'Response' %} {% trans 'On' %}</th>
                    <th>{% trans 'Created' %} {% trans 'Date' %}</th>
                    <th>{% trans 'View' %} {% trans 'Submissions' %}</th>
                    <th>{% trans 'Download' %} {% trans 'Excel' %}</th>
                  </thead>
                  <tbody>
                     {% for obj in stage_deleted_forms %}
                  
                          <tr>
                            <td>
                              {{obj.xf.title}}
                            </td>
                            <td>
                              {% with obj|getlatestsubmittiondate:site as sdate %}
                              {{ sdate.first.date }}
                                {% endwith %}
                            </td>

                            <td>
                                {{ obj.date_created }}
                            </td>
                            <td>
                              
                             {% with obj|site_submissions:site as count %}

                           <a class="badge badge-light" href="{% url 'forms:html_export' obj.id site %}">
                               <i class="la la-eye"></i> {% if count == 0 %} {% trans 'No Submission' %} {% elif count == 1 %}{{ count }} {% trans 'Submission' %} {% else %}{{ count }} {% trans 'Submissions' %}{% endif %}</a>
                          {% endwith %}
                            </td>
                            <td>
                              <a class="badge badge-success" target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.xf.user.username obj.xf.id_string 'xls' 0 obj.id %}">
                                  <i class="la la-download" aria-hidden="true"></i> Download</a>
                            </td>
                          </tr>
                          
                      {% endfor %}
                  
                  </tbody>
               </table>
            </div>
             {% endif %}
          </div>
        </div>
      </div> 
    </div>
    </div>
</div>
{% endblock %}
