{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Schedules Info' %}{% endblock %}

{% block head %}
{% if is_project %}
    <a class="btn btn-success btn-raised" href="{% url 'forms:project-survey' obj.pk%}">{% trans 'Schedules' %}</a>
    <a class="btn btn-success btn-raised" href="{% url 'forms:project-general' obj.pk%}">{% trans 'General Forms' %}</a>
{% else %}
    <a class="btn btn-success btn-raised" href="{% url 'forms:site-survey' obj.pk%}">{% trans 'Schedules' %}</a>
    <a class="btn btn-success btn-raised" href="{% url 'forms:site-general' obj.pk%}">{% trans 'General Forms' %}</a>
{% endif %}
{% endblock %}

{% block breadcrumbs %}
{% if is_project %}
    <li><a href="{% url 'fieldsight:project-dashboard' obj.pk %}">{% trans 'Project Dashboard' %}</a></li>
{% else %}
<li><a href="{% url 'fieldsight:site-dashboard' obj.pk %}">{% trans 'Site Dashboard' %}</a></li>
{% endif %}
    <li>{% trans 'Schedules Info' %}</li>
{% endblock %}

{% block content %}

    <form method="post" id='form'>
        <div class="">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
            
            {% csrf_token %}
            {{ form.media }}
               <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>

            <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ form.form.label }}</div>
                 <div class="col-sm-3">      {{ form.form }}</div>
                 <div class="col-sm-6">      {{ form.form.errors }}</div>
               </div>

            <div class="col-sm-12 registration_field" style="display:{% if is_edit %} none{% endif %}">
                 <div class="col-sm-3"> {{ form.form_type.label }}</div>
                 <div class="col-sm-3">      {{ form.form_type }}</div>
                 <div class="col-sm-6">      {{ form.form_type.errors }}</div>
            </div>
            <div id="hideable" style="display:{% if is_general %} none{% endif %}">
                <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ form.name.label }}</div>
                 <div class="col-sm-3">      {{ form.name }}</div>
                 <div class="col-sm-6">      {{ form.name.errors }}</div>
               </div>

                <div class="col-sm-12 registration_field">
                     <div class="col-sm-3"> {{ form.date_range_start.label }}</div>
                     <div class="col-sm-3">      {{ form.date_range_start }}</div>
                     <div class="col-sm-6">      {{ form.date_range_start.errors }}</div>
                </div>

                <div class="col-sm-12 registration_field">
                     <div class="col-sm-3"> {{ form.date_range_end.label }}</div>
                     <div class="col-sm-3">      {{ form.date_range_end }}</div>
                     <div class="col-sm-6">      {{ form.date_range_end.errors }}</div>
                </div>

                <div class="col-sm-12 registration_field">
                     <div class="col-sm-3"> {{ form.selected_days.label }}</div>
                     <div class="col-sm-3">      {{ form.selected_days }}</div>
                     <div class="col-sm-6">      {{ form.selected_days.errors }}</div>
                </div>
            </div>

            <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ form.shared_level.label }}</div>
                 <div class="col-sm-3">      {{ form.shared_level }}</div>
                 <div class="col-sm-6">      {{ form.shared_level.errors }}</div>
            </div>

        </div>
        
        <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>

    </form>

    

{% endblock %}

{%block extrascript %}
<script type="text/javascript">
function Hide()
{
    if(document.getElementById('form_type').options[document.getElementById('form_type').selectedIndex].value == "0")
    {
        document.getElementById('hideable').style.display = 'none';

    }else
    {
          document.getElementById('hideable').style.display = '';
}
}
</script>
    {% endblock %}
