{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Manage Forms' %}{% endblock %}

{% block head %}
{% endblock %}
{% block breadcrumbs %}
{% if is_project == "0" %}
<li><a href="{% url 'fieldsight:site-dashboard' pk %}">
     {% trans 'Site Dashboard' %}</a></li>
{% else %}
<li><a href="{% url 'fieldsight:project-dashboard' pk %}">
     {% trans 'Project Dashboard' %}</a></li>
{% endif %}
<li>{% trans 'Manage Forms' %}</li>
{% endblock %}

{%block kocript %}
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/forms/setup.js"></script>

<script>

$(document).ready(function() {
var is_project = "{{is_project}}";
var pk = "{{pk}}";

 vm = new SetUpViewModel(is_project, pk);
 ko.applyBindings(vm);
});

</script>
{% endblock %}

{% block content %}
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn" data-bind="css: {'btn-primary': currentVm() == 'general', 'btn-default': !currentVm() == 'general'}, click: function () {setSelectedVm('general')}">{% trans 'General Forms' %}</button>
  <button type="button" class="btn" data-bind="css: {'btn-primary': currentVm() == 'schedules', 'btn-default': !currentVm() == 'schedules'}, click: function () {setSelectedVm('schedules')}">{% trans 'Schedules' %}</button>
  <button type="button" class="btn" data-bind="css: {'btn-primary': currentVm() == 'stages', 'btn-default': !currentVm() == 'stages'}, click: function () {setSelectedVm('stages')}">{% trans 'Stages' %}</button>
</div>

<div class="row" data-bind="visible: currentVm() == 'general'" style="display:none;">
    <div data-bind="with:generalVm">

        <div data-bind="with:current_form">
    <div class="modal" tabindex="-1" role="dialog" data-bind="modal:$parent.general_form_modal_visibility">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select Form</h4>
      </div>
      <div class="modal-body">

          <form method="post">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>

            {% csrf_token %}
              {{form.as_p}}
        <button class="btn btn-lg btn-primary registration__action" type="submit" data-bind="click:save">{% trans 'Save' %}</button>

    </form>



      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

        <div class="panel panel">
          <div class="panel-heading">
            <h3 class="panel-title"><a data-bind="click:add_form"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></h3>
          </div>
            <div class="panel-body">
            <p><input type="text" class="form-control" placeholder="Search"  data-bind="value:search_key, valueUpdate:'afterkeydown'"></p>
          </div>
             <table class="table">
                 <thead> <tr>
                     <th>#</th>
                     <th>{% trans 'Form Name' %}</th>
                     <th>{% trans 'Date Created' %}</th>
                     <th>{% trans 'Submission Status' %}</th>
                     <th>{% trans 'Deployed Status' %}</th>
                 </tr> </thead>
                 <tbody  data-bind="foreach: forms">
                 <tr>
                     <th scope="row" data-bind='text: $index()+1'></th>
                     <td data-bind="text: name"></td>
                     <td data-bind="text: formatDate(date_created)"></td>
                     <td data-bind="text: formStatus(form_status)"></td>
                     <td data-bind="text: deployStatus(is_deployed)"></td>
                 </tr>
                 </tbody></table>
        </div>
    </div>
</div>

<div class="row" data-bind="visible: currentVm() == 'schedules'" style="display:none;">
      <div data-bind="with:scheduleVm">

        <div data-bind="with:current_form">
    <div class="modal" tabindex="-1" role="dialog" data-bind="modal:$parent.schedule_form_modal_visibility">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create Schedule</h4>
      </div>
      <div class="modal-body">

          <form method="post">
            <div class="col-sm-12 registration_field">
               {{ general_form.non_field_errors }}
               </div>

            {% csrf_token %}
              {{schedule_form.as_p}}
              <div class="form-group">
                  <input data-bind="datePicker : date_range_start" type="date">
              </div>
              <div class="form-group">
                  <input data-bind="datePicker : date_range_end" type="date">
              </div>
           <div class="form-group">
                <div data-bind="foreach: $parent.days">
                    <div class="col-sm-3">
                        <span data-bind="text:day"></span>
                    <input type="checkbox"
                           data-bind="checkedValue: id, checked: $parent.selected_days">
                        </div>
            </div>
            </div>
        <button class="btn btn-lg btn-primary registration__action" type="submit" data-bind="click:save">{% trans 'Create' %}</button>

    </form>



      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

        <div class="panel panel">
          <div class="panel-heading">
            <h3 class="panel-title"><a data-bind="click:add_form"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></h3>
          </div>
            <div class="panel-body">
            <p><input type="text" class="form-control" placeholder="Search"  data-bind="value:search_key, valueUpdate:'afterkeydown'"></p>
          </div>
             <table class="table">
                 <thead> <tr>
                     <th>#</th>
                     <th>{% trans 'Schedule Name' %}</th>
                     <th>{% trans 'Form Name' %}</th>
                     <th>{% trans 'Start' %}</th>
                     <th>{% trans 'End' %}</th>
                     <th>{% trans 'Days' %}</th>
                     <th>{% trans 'Submission Status' %}</th>
                     <th>{% trans 'Deployed Status' %}</th>
                 </tr> </thead>
                 <tbody  data-bind="foreach: forms">
                 <tr>
                     <th scope="row" data-bind='text: $index()+1'></th>
                     <td data-bind="text: name"></td>
                     <td data-bind="text: form_name"></td>
                     <td data-bind="text: formatDate(date_range_start)"></td>
                     <td data-bind="text: formatDate(date_range_start)"></td>
                     <td data-bind="text: days"></td>
                     <td data-bind="text: formStatus(status)"></td>
                     <td data-bind="text: deployStatus(is_deployed)"></td>
                 </tr>
                 </tbody></table>
        </div>
    </div>
</div>

<div class="row" data-bind="visible: currentVm() == 'stages'" style="display:none;">
stages list
</div>
{% endblock %}
