{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Manage Forms' %}{% endblock %}

{% block head %}
{% endblock %}
{% block breadcrumbs %}
{% if is_project == "0" %}
<li><a href="{% url 'fieldsight:site-dashboard' pk %}">
     {% trans 'Site Dashboard' %}</a></li>
{% else %}
<li><a href="{% url 'fieldsight:project-dashboard' pk %}">
     {% trans 'Project Dashboard' %}</a></li>
{% endif %}
<li>{% trans 'Manage Forms' %}</li>
{% endblock %}

{%block kocript %}
<script type="text/javascript" src="{{ STATIC_URL }}js/forms/setup.js"></script>

<script>

$(document).ready(function() {
var is_project = "{{is_project}}";
var pk = "{{pk}}";

 vm = new SetUpViewModel(is_project, pk);
 ko.applyBindings(vm);
});

</script>
{% endblock %}

{% block content %}
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn" data-bind="css: {'btn-primary': currentVm() == 'general', 'btn-default': !currentVm() == 'general'}, click: function () {setSelectedVm('general')}">{% trans 'General Forms' %}</button>
  <button type="button" class="btn" data-bind="css: {'btn-primary': currentVm() == 'schedules', 'btn-default': !currentVm() == 'schedules'}, click: function () {setSelectedVm('schedules')}">{% trans 'Schedules' %}</button>
  <button type="button" class="btn" data-bind="css: {'btn-primary': currentVm() == 'stages', 'btn-default': !currentVm() == 'stages'}, click: function () {setSelectedVm('stages')}">{% trans 'Stages' %}</button>
</div>

<div class="row" data-bind="visible: currentVm() == 'general'" style="display:none;">
    <div data-bind="with:generalVm">

        <div data-bind="with:current_form">
    <div class="modal" tabindex="-1" role="dialog" data-bind="modal:$parent.general_form_modal_visibility">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Select Form</h4>
      </div>
      <div class="modal-body">

          <form method="post">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>

            {% csrf_token %}
               <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>

            <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ form.xf.label }}</div>
                 <div class="col-sm-3">      {{ form.xf }}</div>
                 <div class="col-sm-6">      {{ form.xf.errors }}</div>
               </div>

        <button class="btn btn-lg btn-primary registration__action" type="submit" data-bind="click:save">{% trans 'Save' %}</button>

    </form>



      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><a data-bind="click:add_form"><i class="fa fa-plus" aria-hidden="true"></i> Add</a></h3>
          </div>
            <div class="panel-body">
            Panel content
          </div>
        </div>
    </div>
</div>
<div class="row" data-bind="visible: currentVm() == 'schedules'" style="display:none;">
schdeules list
</div>
<div class="row" data-bind="visible: currentVm() == 'stages'" style="display:none;">
stages list
</div>

{% endblock %}
