{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{{obj.sub_stage_count}}{% trans ' Sub Stages of ' %}{{obj.name}}
{% endblock %}

{% block head %}
<a class="btn btn-success btn-raised" href="{{ koboform_url }}#/forms/new">{% trans 'New' %} {% trans 'Form' %}</a>
    <a class="btn btn-success btn-raised" href="{% url 'forms:stage-add-sub-stage' obj.pk %}">
                            {% trans 'Add Sub Stage' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}




    <div class="adv-table">


        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 5 as paginated_objects %}

        <table class="table table-striped" id="dynamic-table1">
            <thead>
            <th>{% anchor name _('Name') %}</th>
            <th>{% trans 'Type' %} </th>
            <th>{% anchor description _('Description') %}</th>
              <th>{% trans 'Order' %} </th>
            <th>{% anchor date_created _('Date Created') %}</th>
            <th>{% trans 'Form Name' %} </th>
            </thead>
            <tbody>
            {% for obj in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'forms:stage-edit' obj.pk %}">{{ obj.name }}</a>
                    </td>
                    <td>
                        {{ obj.get_display_name }}
                    </td>

                     <td>
                        {{ obj.description }}
                    </td>
                    <td>
                        {{ obj.order }}
                    </td>
                    <td>
                        {{ obj.date_created }}
                    </td>
                    <td> {% if not obj.form_exists %}
                        <a class="btn btn-success btn-raised" href="{% url 'forms:stage-add-form' obj.pk %}">
                        Assign Form
                        </a>
                            {% else %}
                    {{obj.form_name}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  

        {% paginate %}

    </div>



{% endblock %}