{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans ' Sub Stages of ' %}{{obj.name}}
{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'forms:stage-add-sub-stage' obj.pk %}">
        {% trans 'Add Sub Stage' %}</a>
<a class="btn btn-success btn-raised" href="{{ koboform_url }}#/forms/new">{% trans 'New' %} {% trans 'Form' %}</a>
{% endblock %}
{% block breadcrumbs %}
{% if obj.site.pk %}
<li><a href="{% url 'fieldsight:site-dashboard' obj.site.pk %}">
     {{obj.site.name}} {% trans 'Dashboard' %}</a></li>
<li><a href="{% url 'forms:setup-site-stages' obj.site.pk %}">{% trans 'Main Stages' %}</a></li>
{% else %}
<li><a href="{% url 'fieldsight:project-dashboard' obj.project.pk %}">
     {{obj.site.name}} {% trans 'Dashboard' %}</a></li>
<li><a href="{% url 'forms:setup-project-stages' obj.project.pk %}">{% trans 'Main Stages' %}</a></li>
{% endif %}
    <li>{{obj.sub_stage_count}}{% trans ' Sub Stages of ' %}{{obj.name}}</li>
{% endblock %}
{%block extracss %}
<style>
    .stages-main-list {
    background: #296fd5;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}
.substages-main-list{
	background: #237dff;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.stages-main-list:hover {
    transform: translateY(-3px);
   box-shadow: 0 0 20px rgba(174,174,174,0.6);
   transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -webkit-transition:all 0.2s ease-in-out;
}

.clearfixxx{
	clear: both;
}

.main-stages {
    margin-top: 40px;
}
.sub-stages {
    margin-top: 40px;
}
.all-above-things {
    margin-top: 20px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary {
    background-color: #296fd5;
    border-color: #296fd5;
    color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background-color: #237dff;
    border-color: #237dff;
    color: #FFFFFF;
}
.btn-primary1 {
    background-color: #237dff;
    border-color: #237dff;
    color: #FFFFFF;
}
.btn-primary1:hover, .btn-primary1:focus, .btn-primary1:active, .btn-primary1.active{
    background-color: #296fd5;
    border-color: #296fd5;
    color: #FFFFFF;
}

.selected{
    background: #296fd5 !important;
    color: #fff;
}
.site-forms-list-single {
    padding: 15px 10px;
    background: #ECECEC;
    border-bottom: 1px solid #DADADA;
}
.site-forms-list-single p {
    margin-bottom: 0px;
}
.site-forms-list-single:hover {
    background: #237dff;
    color: #fff;
}
</style>
{% endblock %}
{% block content %}

    {% load filters %}
  <div class="sub-stages">
      {% for stage in object_list %}
    <div>
      <div class="col-md-4">
        <div class="substages-main-list">
            <a class="btn" href="#">Edit</a>
          <h3><span>Order:</span> <b>{{stage.order}}</b></h3>
          <h4><span>Name:</span> <b>{{stage.name}}</b></h4>
          <p><span>Description:</span>{{stage.description}}</p>
            <p><span>Fom Assigned:</span> {{stage.form_name}}</p>


        </div>
        <div class="clearfixxx"></div>
      </div>
    </div>
      {% endfor %}
          <div>
      <div class="col-md-4">
        <div class="substages-main-list">
            <form method="post" id='form' action="{% url 'forms:stage-add-sub-stage' obj.pk %}">
            <b><span>New Stage:</span></b>
            <b><span>
               {{ form.non_field_errors }}
              </span> </b>

            {% csrf_token %}
            {% for field in form %}
          <h3>{{ form.non_field_errors }}</h3>
          <h3><span> {{ field.label }}</span> <b>{{field}}</b><b>{{ field.errors }}</b></h3>
             {% endfor %}
             <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>
        </form>
        </div>
        <div class="clearfixxx"></div>
      </div>
    </div>
  </div>

{% endblock %}
