{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Choose Stage Or Schedule form : ' %}{{obj.xf.title}}
{% trans 'Of Site: ' %}{{obj.site}}{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'forms:library-forms-list' %}">{% trans 'Library Forms' %}</a>
{% endblock %}

{% block content %}

    <form action="{% url 'forms:fill_form_type' obj.id %}" method="POST">
      {% csrf_token %}
        {{ form.as_p }}
      <input type="submit" value="Save">
    </form>

{% endblock %}


