{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Stages' %}{% endblock %}

{% block head %}
<a class="btn btn-success btn-raised" href="{{ koboform_url }}#/forms/new">{% trans 'New' %} {% trans 'Form' %}</a>
    <a class="btn btn-success btn-raised" href="{% url 'forms:stage-add' %}">{% trans 'New' %} {% trans 'Stage' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}




    <div class="adv-table">


        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 5 as paginated_objects %}

        <table class="table table-striped" id="dynamic-table1">
            <thead>
            <th>{% anchor name _('Name') %}</th>
            <th>{% trans 'Type' %} </th>
            <th>{% trans 'Stage' %}</th>
            <th>{% anchor description _('Description') %}</th>
            <th>{% anchor group.name _('Group') %}</th>
            <th>{% anchor date_created _('Date Created') %}</th>
            </thead>
            <tbody>
            {% for obj in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'forms:stage-edit' obj.pk %}">{{ obj.name }}</a>
                    </td>
                    <td>
                        {{ obj.get_display_name }}
                    </td>
                    <td>
                        {% if not obj.is_main_stage %}
                        {{ obj.stage }}
                        {% else %}

                        <a class="btn btn-success btn-raised" href="{% url 'forms:stage-add-sub-stage' obj.pk %}">
                            {% trans 'Add Sub Stage' %}</a>
                        <a class="btn btn-success btn-raised" href="{% url 'forms:stage-detail' obj.pk %}">
                            {% trans 'List Sub Stages' %}({{obj.sub_stage_count}})</a>
                        {% endif %}
                    </td>
                     <td>
                        {{ obj.description }}
                    </td>
                    <td>
                        {{ obj.group }}
                    </td>
                    <td>
                        {{ obj.date_created }}
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
  

        {% paginate %}

    </div>



{% endblock %}