{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block page-title %}{% trans 'Form Data' %}{% endblock %}


{%block extracss %}
<link rel="icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico" />
    <!-- iPhone + iPad icons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}img/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}images/apple-touch-icon.png">

    <link href="{{STATIC_URL}}css/phaseout/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/screen.css?v=2809679b01" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ona-screen-overrides.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="{{STATIC_URL}}css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
	  <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="{{STATIC_URL}}css/kobo-branding.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/published_forms.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/data_pages.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/vex.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/vex-theme-kobo.css" rel="stylesheet">

    <link href="{{STATIC_URL}}lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/footable.css" rel="stylesheet">
    <link href="/static/bower_components/backgrid/lib/backgrid.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/bower_components/backgrid-filter/backgrid-filter.min.css" />-->
    <link rel="stylesheet" href="/static/bower_components/backgrid-paginator/backgrid-paginator.min.css" />
    <link href="/static/css/data_view.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-sm-12">{% trans 'Form Details' %}</div>
    <table class="table table-striped" id="dynamic-table1">
            <thead>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Site/Project' %}</th>
            <th>{% trans 'Created Date' %}</th>
            <th>{% trans 'Form Type' %}</th>
            <th>{% trans 'Stage/Schedule' %}</th>
            </thead>
<tr>
            <td>
                {{ obj.xf.title }}
            </td>
            <td>
                {% if obj.project %}
                <a href="{% url 'fieldsight:project-dashboard' obj.project.id %}">{{ obj.project }}</a>
                {% else %}
                <a href="{% url 'fieldsight:site-dashboard' obj.site.id %}">{{ obj.site }}</a>
                {% endif %}
            </td>
            <td>
                {{ obj.date_created }}
            </td>
                <td>{{ obj.form_type }}</td>

             <td>
                 {% if obj.is_staged %}
                 {{obj.stage.name }}
                 {% endif %}

                 {% if obj.is_scheduled %}
                 {{obj.schedule.name }}
                 {% endif %}
             </td>

            <!--if form is scheduled add link to fill schedule data or stage data or choose stage o schedule data-->
                    </tr>
        </table>

    <section id="data-view">
        <div class="page-header">
            <h1>{% trans 'Data View' %}
                <small>
                    {% if obj.project %}
                    <a href="{% url 'forms:project_html_export' obj.pk %}">{{ xform.title }}</a>
                    {% else %}
                    <a href="{% url 'forms:formpack_html_export' obj.pk %}">{{ xform.title }}</a>
                    {% endif %}
                </small>
            </h1>
        </div>
        <div class="row">
        <span class="span12">
                <div class="data-table-container">
                </div>
            <div style="clear: both;"></div>
        </span>
        </div>
    </section>
{% endblock %}

{% block extrascript %}
  <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-migrate.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover-btns.js"></script>
    <script src="{{STATIC_URL}}js/application.js?v=201307251039"></script>
    <script src="{{STATIC_URL}}js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-kobo';</script>
    <script src="{{STATIC_URL}}js/footable.min.js"></script>
    <!--  -->
    <script src="{{STATIC_URL}}js/kobo-branding.js"></script>
    <script src="{{STATIC_URL}}lightbox2/dist/js/lightbox.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.pagination.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-0.7.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-plugins/sammy.meld-0.7.1.min.js"></script>

    <script type="text/javascript" src="/static/bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="/static/bower_components/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/static/js/json2.js"></script>
    <script type="text/javascript" src="/static/bower_components/backgrid/lib/backgrid.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/lunr.js/lunr.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/backbone-pageable/lib/backbone-pageable.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/backgrid-filter/backgrid-filter.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/backgrid-paginator/backgrid-paginator.min.js"></script>
    <script type="text/javascript" src="/static/js/xform.js"></script>
    <script src="/static/js/data_view.js" type="text/javascript"></script>
    <script type="text/javascript">
        var formJSONUrl = "{% url 'forms:download_jsonform' fsxf_id %}";
        var mongoAPIUrl = "{% url 'forms:mongo_view_api'  fsxf_id %}";
        var views, sideBarViews, multiView, slickView;
        var numDefaultColumns = 30;//number of columns to show by default
        var instance_view_url = "{% url 'forms:instance' fsxf_id %}";
        var dataView;

        $(document).ready(function () {
            dataView = new FH.DataTableView({
                el: '.data-table-container',
                formUrl: formJSONUrl,
                dataUrl: mongoAPIUrl
            });
        });
    </script>
{% endblock %}
