{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block page-title %}{% trans 'Form Data' %}{% endblock %}


{%block extracss %}
<link rel="icon" type="image/x-icon" href="{{STATIC_URL}}images/favicon.ico" />
    <!-- iPhone + iPad icons -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}images/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}img/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="{{STATIC_URL}}images/apple-touch-icon.png">

    <link href="{{STATIC_URL}}css/phaseout/bootstrap.min.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/screen.css?v=2809679b01" rel="stylesheet">
    <link href="{{STATIC_URL}}css/ona-screen-overrides.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/font-awesome.min.css" rel="stylesheet">
    <!--[if lte IE 8]>
      <link href="{{STATIC_URL}}css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
	  <link href="{{STATIC_URL}}bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="{{STATIC_URL}}css/kobo-branding.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/published_forms.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/data_pages.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/vex.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/vex-theme-kobo.css" rel="stylesheet">

    <link href="{{STATIC_URL}}lightbox2/dist/css/lightbox.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/footable.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{% trans "Browse Form Data" %}
        <small><a href="{% url 'forms:formpack_html_export' fsxf_id %}">{{ xform.title }}</a></small>
        <small> | </small>
        <small><a href="{% url 'forms:data_view' fsxf_id %}">{% trans "Data View" %}</a></small>
    </h1>
</div>

<div id="loading">
  <p> Loading... </p>
  <img id="loading-image" src="{{STATIC_URL}}images/ajax-loader.gif" alt="Loading..." />
</div>
{% if messages %}
<div>{{messages}}</div>
{% endif %}
<div id="data"></div>

 <div id="delete-modal" class="modal hide fade">
            <div class="modal-header">
              <a data-dismiss="modal" class="close">&times;</a>
              <h3>{% trans "Delete Confirmation" %}</h3>
            </div>
            <div class="modal-body">
              <p>{% trans "Are you sure you want to delete this record. If you are unsure about deleting this record press 'Cancel'." %}</p>
            </div>
            <div class="modal-footer">
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn btn-primary">{% trans "Delete" %}</a>
              <a href="#" onclick="$('#delete-modal').modal('hide');" class="btn secondary">{% trans "Cancel" %}</a>
            </div>
          </div>
{% endblock %}

{% block extrascript %}
  <script type="text/javascript" src="{% url "django.views.i18n.javascript_catalog" %}"></script>
    <script src="{{STATIC_URL}}js/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-migrate.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrap.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover.js"></script>
    <script src="{{STATIC_URL}}bootstrap/js/bootstrapx-clickover-btns.js"></script>
    <script src="{{STATIC_URL}}js/application.js?v=201307251039"></script>
    <script src="{{STATIC_URL}}js/vex.combined.min.js"></script>
    <script>vex.defaultOptions.className = 'vex-theme-kobo';</script>
    <script src="{{STATIC_URL}}js/footable.min.js"></script>
    <!--  -->
    <script src="{{STATIC_URL}}js/kobo-branding.js"></script>
    <script src="{{STATIC_URL}}lightbox2/dist/js/lightbox.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.pagination.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-0.7.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/sammy-plugins/sammy.meld-0.7.1.min.js"></script>

<script type="text/javascript">
var formJSONUrl = "{% url 'forms:download_jsonform' fsxf_id %}";
var mongoAPIUrl = "{% url 'forms:mongo_view_api'  fsxf_id %}";
var deleteAPIUrl = "{% url 'forms:delete_data'  fsxf_id %}";
var app; // sammy app
var questions = {};
var languages = [];
// TODO: this re should only accept valid js variable names so numbers/letter/underscore
var cleanRe = /[\[\]\/]/g; // regular expression used to clean names with slashes
var cleanReplacement = '_';
var positionTpl = "{% trans 'Record {pos} of {total}' %}";
var numRecords = null;
var browsePos = null;

<!--var canEdit = {% if can_edit %}true;{% else %}false;{% endif %}-->
var canEdit = false;

(function($) {

  var _isFirstLoad = true

  app = $.sammy('#data', function() {
      this.use('Meld');

      // index route
      this.get('#/', function(context) {
          /// get the first response object
          // only re-direct if this is the first time
          if(_isFirstLoad)
              redirectToFirstId(context)
          else
              history.go(-2)// we first load instance, then redirect to instance#/ then to instance#/:id s we need to go back 2
          _isFirstLoad = false
      });

      // #/id route
      this.get('#/:id', function(context) {
          var id = this.params['id'];
          var query = '{"_id": ' + id + '}';
          _isFirstLoad = false
          loadData(context, query, canEdit);
      });

      // #uuid/uuid route
      this.get('#uuid/:uuid', function(context) {
          var uuid = this.params['uuid'];
          var query = '{"_uuid": "' + uuid + '"}';
          _isFirstLoad = false
          loadData(context, query, canEdit);
      });


      // Delete modal
      this.get('#del/:id', function(context) { with(this) {

            $("#delete-modal").modal("show");

      }
      });


      // Delete route
      this.get('#delete/:id', function(context) {

          var id = this.params['id'];
          var next = $('li.next').children('a').attr('href');
          next = next.replace("#/", "");

          var prev = $('li.prev').children('a').attr('href');
          prev = prev.replace("#/", "");
          var redirect_route = '#/';

          if(next > 0 && next != id ){
              redirect_route = '#/'  + next;
          }
          else if(prev > 0 && prev != id ){
              redirect_route = '#/'  + prev;
          }

          deleteData(context, id, redirect_route);
      });
      this.bind('error', {}, function(){
          //alert('Invalid route requested')
          //app.setLocation('#/');
      })

  });

  /// load form structure
  $.getJSON(formJSONUrl)
      .success(function(data){
              parseQuestions(data.children);
              parseLanguages(data.children);
              // load count
              $.getJSON(mongoAPIUrl, {'count': 1})
                  .success(function(data){
                          //todo: count num records before and num records after so we know our starting point
                          numRecords = data[0]["count"];
                          // load id of first record
                          app.run('#/');
                      })
          });

})(jQuery);

function _attachment_url(name, size)
{
    return '{% url "onadata.apps.viewer.views.attachment_url" %}' + size + '?media_file=' + '{{ username }}/attachments/' + name;
}

</script>

<script type="text/javascript" charset="utf-8" src="{{STATIC_URL}}js/instance.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('#loading')
        .ajaxStart(function() {
            $(this).show();
        })
        .ajaxStop(function() {
            $(this).hide();
        });
});
</script>
{% endblock %}
