{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}  

{% block page-title %} {% trans 'Create Team' %}{% endblock %}

{% block content %}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

			<div id="main-content" class="padding">
					<div class="row">
						{% if invitations %}

						<div class="col-md-4">
							<section class="panel  bg-white" data-mh="lft-eq-height">
								<header class="panel-heading clearfix">
									<h3><i class="la la-envelope-o"></i>Invitations</h3>

								</header>
								<div class="panel-body">
									<p class="margin-top">
										You have been invited to join FieldSight. You may Accept or Decline each invitations or Accept all the invitations as per required.
									</p>
									<a href="{% url 'users:accept_all' request.user.username %}" title="" class="btn btn-primary btn-sm btn-xs mt-2"><i class="la la-check"></i> Accept All</a>
									{% for item in invitations %}
										<div class="project-item-wrap margin-top clearfix">
											<div class="project-logo">
												<img src="{% static 'dummy/assets/img/logo-org1.jpg' %}" alt="" width="50" height="50">
											</div>
											<div class="project-basic-info">
												<h4>{{ item.organization }}</h4>
												<p>
													{{ item.organization.address }}<br/>
													By <a href="#" title="">{{ item.by_user.first_name }}&nbsp;{{ item.by_user.last_name }}</a>
													{% if item.group.name != "Unassigned" %}
														as {{ item.group.name }}
													{% endif %}
													{% if item.site.all %}
														{% if invite.site.all|length == 1 %}
															for {{ item.site.all.0.name }}
														{% else %}
															for {{ item.site.all|length }} sites
														{% endif %} in {{ item.project.all.0.name }} of {{ item.organization.name }}
													{% elif item.project.all|length %}
														{% if item.project.all|length == 1%}
															for {{ item.project.all.0.name }}
														{% else %}
															for {{ item.project.all|length }} projects
														{% endif %}
														of {{ item.organization.name }}
													{% elif item.organization %}
														in {{ item.organization.name }}
													{% endif %}.
												</p>
											</div>
											<a href="{% url 'users:accept_invitation' item.pk request.user.username %}" title="" class="btn btn-primary btn-sm btn-xs mt-2 mr-2"><i class="la la-check"></i> Accept</a>

											<a href="{% url 'users:decline_invitation' item.pk request.user.username %}" title="" class="btn btn-light btn-sm btn-xs mt-2"><i class="la la-close"></i> Reject</a>
										</div>
									{% endfor %}

								</div>
							</section>
						</div>
						<div class="col-md-8">
							<section class="panel bg-white" data-mh="lft-eq-height">
								<header class="panel-heading clearfix">
									<h3><i class="la la-building"></i>Organizations</h3>

								</header>
								<div class="panel-body">
									<div class="uh-create-org bg-light margin-top p-4 text-center">
										<p class="mt-4">Hi <strong>{{request.user.first_name}}! </strong><br>
											Thank you for signing up in FieldSight.<br>
											You can now create your first Organization to get started with the features in the platform.</p>
										<a href="{% url 'fieldsight:organization-add' %}" title="" class="btn btn-primary mb-4"><i class="la la-plus"></i> Create Organization</a>
									</div>
								</div>
							</section>
						</div>
						{% else %}
						<div class="col-md-12">
							<section class="panel bg-white" data-mh="lft-eq-height">
								<header class="panel-heading clearfix">
									<h3><i class="la la-building"></i>Organizations</h3>

								</header>
								<div class="panel-body">
									<div class="uh-create-org bg-light margin-top p-4 text-center">
										<p class="mt-4">Hi <strong>{{request.user.first_name}}! </strong><br>
											Thank you for signing up in FieldSight.<br>
											You can now create your first Organization to get started with the features in the platform.</p>
										<a href="{% url 'fieldsight:organization-add' %}" title="" class="btn btn-primary mb-4"><i class="la la-plus"></i> Create Organization</a>
									</div>
								</div>
							</section>
						</div>
						{% endif %}


			</div>
		<script src="assets/js/vendor/jquery.matchHeight.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
		
{% endblock %}
