{% load i18n staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="{{ STATIC_URL }}dummy/assets/css/style.css">
        <script src="{{ STATIC_URL }}dummy/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    </head>
    <body class="login-body">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="login-wrap">
		  	<div class="login-bg">
		  		<img src="{{ STATIC_URL }}dummy/assets/img/bg-login.png">
		  	</div>
		  	<div class="container-fluid">
		  		<div class="row justify-content-center">
		  			<div class="col-xl-6 col-lg-8">
		  				<div class="login-section">	
		  					<div class="row no-gutters bg-primary">
		  						<div class="col-lg-5">
		  							<div class="sec-left text-center bg-white">
		  								<a href="#" title="" target="">
		  									<img src="{{ STATIC_URL }}dummy/assets/img/fieldsight.png" alt="fieldsight" height="100">
		  								</a>
		  								<p class="margin-top d-none d-md-block">
		  								FieldSight is the first humanitarian digital platform designed for project monitoring and infrastructure quality assurance. The platform is now being used to monitor more than 50,000 houses.
		  								</p>
		  							</div>
		  						</div>
		  						<div class="col-lg-7">
		  							<div class="sec-right">
		  								<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
											<li class="nav-item">
											    <a class="nav-link active" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
											</li>
										</ul>
										<div class="tab-content" id="pills-tabContent">
											<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
												<form method="post">
												{% csrf_token %}
												  	<div class="form-group">
												    	<label for="inputEmail">Email address

														</label>
												    	<input type="username" class="form-control {% if not valid_email %}is-invalid{% endif %}" name="username" id="inputEmail">
														{% if not valid_email %}
															<div id="emailHelp" class="invalid-feedback">
														  		{{ email_error }}
															</div>
															{% endif %}
												  	</div>
												  	<div class="form-group">
												    	<label for="inputPassword">Password</label>

												    	<input type="password" name="password" class="form-control {% if password_error %}is-invalid{% endif %}" id="inputPassword">
														{% if password_error %}
															<div id="passwordHelp" class="invalid-feedback">
														  		Incorrect Password ! Please Check Your Password.
															</div>
															{% endif %}
												  	</div>
												  	<div class="row">
												  		<div class="col-sm-6">
												  			<div class="form-group">
														  		<div class="radio">
																  	<input class="checkbox-control" id="inputRemember" type="checkbox" value="" checked="checked">
									    							<label for="inputRemember">Remember me</label>
															  	</div>
														  	</div>
												  		</div>
												  		<div class="col-sm-6">
												  			<div class="form-group">
														  		<p class="help">
														  			<a data-toggle="pill" href="#pills-reset" role="tab" aria-controls="pills-reset" title="" id="help-me">Need help?</a>

														  		</p>
														  	</div> 
												  		</div>
												  	</div>
												  	<button type="submit" class="btn btn-secondary"><i class="la la-key"></i> Sign In</button>
												</form>
											</div>

											<div class="tab-pane fade" id="pills-reset" role="tabpanel" aria-labelledby="pills-reset-tab">
												<form method="post" action="/accounts/password/reset/">
													{% csrf_token %}
													<div class="form-group">
													    <label for="inputResetEmail">Email address</label>
													    <input type="email" name="email" class="form-control" id="inputResetEmail">
													</div>
													<button type="submit" class="btn btn-secondary"><i class="la la-refresh"></i> Reset</button>
												</form>
											</div>
										</div>
		  							</div>
		  						</div>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
		</div>
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}dummy/assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
		<script src="{{ STATIC_URL }}dummy/assets/js/vendor/popper.min.js"></script>
        <script src="{{ STATIC_URL }}dummy/assets/js/vendor/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}dummy/assets/js/plugins.js"></script>
		<script>

			
			$(document).ready(function(){
				//
				fn_login_vertically_center();

				//
				vph = $(window).height();
				$(".login-wrap").css("min-height", vph);
				//Converting img tag to parent div bg
				var imgSrc = $(".login-bg>img").attr("src");
	        	$('.login-bg').css({"background" : "url("+imgSrc+")", "background-position": "center", "background-size": "cover"});
	        	$(".login-bg>img").remove();

	        	//reset
	        	fn_login_eqheight();

			    $('a[data-toggle="pill"]').on('shown.bs.tab', function (e) {
					fn_login_eqheight();
					fn_login_vertically_center();
				});

				fn_movebackground();


				//Hide/Show Password;
				$(".input-pass-showhide .input-group-append").click(function(){
					if($(this).find('.input-group-text .la').hasClass('la-eye')){
						//Change Icon
						$(this).find('.input-group-text .la').removeClass('la-eye');
						$(this).find('.input-group-text .la').addClass('la-eye-slash');

						//Change Tooltip text
						$(this).tooltip('hide');
						$(this).attr('data-original-title','Show Password');
						$(this).tooltip('update');

						//Change Input Type
						$(this).siblings('.form-control').attr( "type", "password");
					}else{
						//Change Icon
						$(this).find('.input-group-text .la').removeClass('la-eye-slash');
						$(this).find('.input-group-text .la').addClass('la-eye');

						//Change Tooltip text
						$(this).tooltip('hide');
						$(this).attr('data-original-title','Hide Password');
						$(this).tooltip('update');

						//Change Input Type
						$(this).siblings('.form-control').attr( "type", "text");
					}
				});

			});
			jQuery(window).on('resize', function() {
				//
				vph = $(window).height();
				$(".login-wrap").css("min-height", vph);

				//
				fn_login_eqheight();
				fn_login_vertically_center();
			});

			$("#help-me").click(function(){
			 	$('#pills-login').removeClass('active show');
			 	$('#pills-signup').removeClass('active show');
			 	$("#pills-login-tab").removeClass('active');
			 	$('#pills-reset').tab('show');

			 	fn_login_eqheight();
			 	fn_login_vertically_center();
			});

			$("#btn-signup").click(function(){
			 	$('#pills-signup').removeClass('active show');
			 	$("#pills-signup-tab").removeClass('active');
			 	$('#pills-thankyou').tab('show');

			 	fn_login_eqheight();
			 	fn_login_vertically_center();
			});

			$("#btn-resetpassword").click(function(){
			 	$('#pills-reset').removeClass('active show');
			 	$('#pills-thankyou').tab('show');

			 	fn_login_eqheight();
			 	fn_login_vertically_center();
			});

			$("#btn-backtologin").click(function(){
			 	$('#pills-thankyou').removeClass('active show');
			 	$('#pills-login').tab('show');
			 	$('#pills-login-tab').addClass('active');

			 	fn_login_eqheight();
			 	fn_login_vertically_center();
			});

			$("#btn-backtologinfromreset").click(function(){
			 	$('#pills-reset').removeClass('active show');
			 	$('#pills-login').tab('show');
			 	$('#pills-login-tab').addClass('active');

			 	fn_login_eqheight();
			 	fn_login_vertically_center();
			});

			function fn_login_vertically_center(){
			 	var svph = $(window).height();
			 	var slfh = $(".login-section").height();
			 	if(svph > (slfh + 60)){
			 		var tempHeight = svph - slfh;
			 		var tempHeight = tempHeight / 2;
			 		$(".login-section").css("margin-top", tempHeight);
			 		$(".login-section").css("margin-bottom", tempHeight);
			 	}else{
			 		$(".login-section").css("margin-top", 30);
			 		$(".login-section").css("margin-bottom", 30);
			 	}
			}

			function fn_movebackground(){
			 	//Background Scrolling Effect
				var lFollowX = 0,
			    lFollowY = 0,
			    x = 0,
			    y = 0,
			    friction = 1 / 30;

				function moveBackground() {
					x += (lFollowX - x) * friction;
					y += (lFollowY - y) * friction;

					translate = 'translate(' + x + 'px, ' + y + 'px) scale(1.1)';

					$('.login-bg').css({
					    '-webit-transform': translate,
					    '-moz-transform': translate,
					    'transform': translate
					});

					window.requestAnimationFrame(moveBackground);
				}

				$(window).on('mousemove click', function(e) {
					var lMouseX = Math.max(-100, Math.min(100, $(window).width() / 2 - e.clientX));
					var lMouseY = Math.max(-100, Math.min(100, $(window).height() / 2 - e.clientY));
					lFollowX = (20 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
					lFollowY = (10 * lMouseY) / 100;
				});

				moveBackground();
			}

			//Equal Height
			function fn_login_eqheight(){
				if(jQuery(document).width() > 479) {
			    	var lHeight, rHeight;
					lHeight = $(".sec-left").outerHeight();
					rHeight = $(".sec-right").outerHeight();
					$(".sec-left" ).css("min-height", rHeight);
				}
			}
		</script>
    </body>
</html>
