{% extends "bcss_base.html" %}
{% load i18n %}
{% load filters %}
{% block page-title %} {% trans 'Profile '  %}{{request.user }}{% endblock %}
{% block head %}
    Update Profile {{request.user.full_name }}
{% endblock %}

{% block content %}

    <form method="post" id='form'>
        <div class="">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>

            {% csrf_token %}
            {% for field in form %}
               <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ field.label }}</div>
                <div class="col-sm-3">{{ field }}</div>
                 <div class="col-sm-6"> {{ field.errors }}</div>
               </div>
            {% endfor %}
        </div>
            <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>


    </form>



{% endblock %}
