{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block page-title %} {% trans 'Profile '  %}{{obj.user }}{% endblock %}
{% block content %}

	<div id="main-content" class="padding">
				<section class="panel">
					<header class="panel-heading clearfix">
					<h3><i class="la la-user"></i>{% trans 'view' %}{% trans 'your' %}{% trans 'profile' %}</h3>
						<div class="panel-heading-right">
							{% ifequal request.user obj.user %}
							<a href="{% url 'users:profile_update' obj.user.id|profile%}" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i>{% trans 'Update' %} {% trans 'Profile'%} </a>
							{% endifequal %}
						</div>
                    </header>

					<div class="row">
						<div class="col-md-12 col-lg-8">
							<div class="margin-top user-profile-basic-info padding bg-white clearfix ">
								<div class="media">
								<div class="org-profile-logo">
										<img src="{{ obj.profile_picture.url }}" alt="" width="123" height="123">
									</div>
									
									<div class="media-body">
										<h2 class="margin-top">{{ obj.user.get_full_name }}</h2>
										<div class="row">
											<div class="col-lg-6">
												<ul class="contact-info-list">
													{% if obj.address %}
													<li>
														<i class="la la-building"></i> 
														  {{ obj.address }}
													</li>
													{% endif %}
													{% if obj.user %}
													<li>
														<i class="la la-user"></i>   {{ obj.user }}
													</li>
													{% endif %}

												</ul>
											</div>
											<div class="col-lg-6">
												<ul class="contact-info-list">
													{% if obj.phone %}
													<li>
														<i class="la la-phone"></i>   {{ obj.phone }}
													</li>
													{% endif %}
													{% if obj.user.email %}
													<li>
														<i class="la la-envelope-o"></i>   {{ obj.user.email }}
													</li>
													{% endif %}
												
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% if roles_org %}
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>Organization Admin At :</h4>
								</div>
								<div class="widget-body">
									<div class="" style="overflow-y: scroll;">
										<div class="row">

										{% for role in roles_org %}
										<a href="{% url 'fieldsight:organizations-dashboard' role.organization.pk %}" title="">
											<div class="col-lg-6 col-md-12" style="margin-top:10px;">
												<div class="project-item-wrap clearfix">
													<div class="project-logo">
														<img src="{{ roles_org.organization.logo.url }}" alt="" width="50" height="50">
													</div>
													<div class="project-basic-info">
														<h4>{{ role.organization.name }}</h4>
														<p>{{ role.organization.address }}</p>
													</div>
												</div>
												</a>
											</div>
										{% endfor %}
											
							
										</div>
										
									</div>
								</div>
							</div>
							{% endif %}
							{% if roles_project %}
							<div class="widget-info margin-top bg-white padding" >
								<div class="widget-head">
									<h4>Project Manager At :</h4>
								</div>
								<div class="widget-body">
									<div class="" style="overflow-y: scroll;">
										<div class="row">
										{% for role in roles_project %}
										<a href="{% url 'fieldsight:project-dashboard' role.project.pk %}" title="">
											<div class="col-lg-6 col-md-12" style="margin-top:10px;">
												<div class="project-item-wrap clearfix">
													<div class="project-logo">
														<img src="{{ roles_project.project.logo.url }}" alt="" width="50" height="50">
													</div>
													<div class="project-basic-info">
														<h4>{{ role.project.name }}</h4>
														<p>{{ role.project.address }}</p>
													</div>
												</div>
												</a>
											</div>
										{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{% endif %}
							{% if roles_reviewer %}
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>Site Reviewer At :</h4>
								</div>
								<div class="widget-body">
									<div class="" style="overflow-y: scroll;">
										<div class="row">
											{% for role in roles_reviewer %}
											<a href="{% url 'fieldsight:site-dashboard' role.site.pk %}" title="">
											<div class="col-lg-6 col-md-12" style="margin-top:10px;">
												<div class="project-item-wrap clearfix">
													<div class="project-logo">
														<img src="{{ role.site.logo.url }}" alt="" width="50" height="50">
													</div>
													<div class="project-basic-info">
														<h4>{{ role.site.name }}</h4>
														<p>{{ role.site.address }}</p>
													</div>
												</div>
												</a>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{% endif %}

							{% if roles_SA %}
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>Site Supervisor At :</h4>
								</div>
								<div class="widget-body">
									<div class="">
										<div class="row">
											{% for role in roles_SA %}
											<a href="{% url 'fieldsight:site-dashboard' role.site.pk %}" title="">
											<div class="col-lg-6 col-md-12" style="margin-top:10px;">
												<div class="project-item-wrap clearfix">
													<div class="project-logo">
														<img src="{{ role.site.logo.url }}" alt="" width="50" height="50">
													</div>
													<div class="project-basic-info">
														<h4>{{ role.site.name }}</h4>
														<p>{{ role.site.address }}</p>
													</div>
												</div>
												</a>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							{% endif %}

							{% if not roles_org and not roles_project and not roles_site and roles == "Super Admin" %}
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>Super Admin</h4>
								</div>
							</div>				
							{% else%}
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<!--<h4>No Roles yet.</h4>-->
									{{ role.group.name }}
								</div>
							</div>				
							{% endif %}

							</div>
						{% if responses %}
						<div class="col-md-12 col-lg-4">
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>Latest Submission</h4>
								</div>
								<div class="widget-body">
									<div class="">
										{% for sub in responses %}
										<a href="{% url 'forms:instance' sub.site_fxf.pk %}#/{{ sub.instance.id|stringformat:'d'}}" title="">
										<div class="project-item-wrap margin-top clearfix">
											<div class="project-logo">
												<img src="assets/img/logo-org1.jpg" alt="" width="50" height="50">
											</div>
											<div class="project-basic-info">
												<h4>{{ sub.instance.xform.title }}</h4>
												<p>{{ sub.date }}</p>
											</div>
										</div>
										</a>
										{% endfor %}
											
									</div>
										
								</div>
							</div>
						</div>
						{% endif %}

					</div>
                </section>
				
			</div>

                </section>

			</div>
{% endblock %}
