{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}
{% load filters %}
{% block page-title %} {% trans 'Profile '  %}{{obj.user }}{% endblock %}
{% block head %}
{% ifequal request.user obj.user %}
    <a class="btn btn-success btn-raised" href="{% url 'users:profile_update' obj.user.id|profile%}">{% trans 'edit' %} {% trans 'Profile' %}</a>
{% endifequal %}
{% endblock %}

{% block content %}
	<div class="profile-user">
		<div class="profile-user-pic-blur">
			<img src= "{{ obj.profile_picture.url}}" alt="image"/>
			<div class="profile-user-all">
				<div class="profile-user-all-cell">
					<div class="profile-user-table">
						<div class="img-profile">
							<img src= "{{ obj.profile_picture.url}}" alt="image"/>
						</div>
						<div class="detail-profile">
							<h3>{{obj.user.get_full_name}}</h3>
							<h4>{{obj.user }}</h4>
							{% if obj.address %}
							<p><span><i class="fa fa-map-marker" aria-hidden="true"></i></span> {{obj.address}}</p>
							{% endif %}
							{% if obj.gender %}
							<p><span><i class="fa fa-user" aria-hidden="true"></i></span>{{obj.gender}}</p>
							{% endif %}
							{% if obj.phone %}
							<p><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{obj.phone}}</p>
							{% endif %}
							{% if obj.skype %}
							<p><span><i class="fa fa-skype" aria-hidden="true"></i></span>{{obj.skype}}</p>
							{% endif %}
							{% if obj.twitter %}
							<p><span><i class="fa fa-twitter" aria-hidden="true"></i></span>{{obj.twitter}}</p>
							{% endif %}
							{% if obj.viber %}
							<p><span><i class="fa fa-viber" aria-hidden="true"></i></span>{{obj.viber}}</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="row">
	<h3>{% trans 'Roles Of' %} {{obj.user}}</h3>
</div>
<!--<div class="row">-->
	<!--<div class="col-sm-3">-->
		<!--{% trans 'Role' %}-->
	<!--</div>-->
	<!--<div class="col-sm-3">-->
		<!--{% trans 'Site' %}-->
	<!--</div>-->
	<!--<div class="col-sm-3">-->
		<!--{% trans 'Project' %}-->
	<!--</div>-->
	<!--<div class="col-sm-3">-->
		<!--{% trans 'Organization' %}-->
	<!--</div>-->
<!--</div>-->
{% for role in roles %}
{{role.group }}
{% if role.site%}
{% trans 'of Site ' %}
 <a href="{% url 'fieldsight:site-dashboard' role.site.pk %}">
{{role.site}}
	 </a>
{% endif %}
{% if role.project %}
{% trans 'of Project ' %}
 <a href="{% url 'fieldsight:project-dashboard' role.project.pk %}">
{{role.project}}
	 </a>
{% endif %}
{% if role.organization%}
{% trans 'of ' %}
 <a href="{% url 'fieldsight:organization-dashboard' role.organization.pk %}">
{{role.organization}} </a>
{% endif %}
<br/>
<!--<div class="row">-->
	<!--<div class="col-sm-3">-->
		<!--{{role.group }}-->
	<!--</div>-->
	<!--<div class="col-sm-3">-->
		<!--{{role.site|default:"" }}-->
	<!--</div>-->
	<!--<div class="col-sm-3">-->
		<!--{{role.project|default:"" }}-->
	<!--</div>-->
	<!--<div class="col-sm-3">-->
		<!--{{role.organization|default:"" }}-->
	<!--</div>-->
<!--</div>-->
{% empty %}
<p class="emptylist">Sorry, no roles for this user.</p>
{% endfor %}

<!-- <p>address = {{obj.address}}</p>
<p>gender = {{obj.gender}}</p>
<p>phone = {{obj.phone}}</p>
<p>skype = {{obj.skype}}</p>
<img src= "{{ obj.profile_picture.url}}" alt="image"/> -->


{% endblock %}
