{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}
{% load filters %}
{% block page-title %} {% trans 'Update Details '  %}{{name }}{% endblock %}
{% block head %}
   {% trans 'Update Details '  %} {{name }}
{% endblock %}

{% block content %}

   {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action="{% url 'users:alter_status' pk=id %}">
    {% else %}
        <form method="post">
    {% endif %}
        <div class="">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>

            {% csrf_token %}
            {% for field in form %}
               <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ field.label }}</div>
                <div class="col-sm-3">{{ field }}</div>
                 <div class="col-sm-6"> {{ field.errors }}</div>
               </div>
            {% endfor %}
            {% if orglist %}
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {% trans 'Select Organization '  %}</div>
                <div class="col-sm-3">
                    <select name="organization">
                    {% for org in orglist %}
                    <option value="{{org.id}}">{{org.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                 <div class="col-sm-6"></div>
               </div>
            {% endif %}

        </div>
            <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>


    </form>



{% endblock %}
