{% extends "staff/base.html" %}
{% load i18n %}


{% block content %}

<h1>Warning !</h1>
<form action="" method="post">
	{% csrf_token %}

    <p>Are you sure you want to delete "{{ staff.first_name }}"?</p>

	<!--<input type="hidden" name="next" value="{% url 'staff:team-detail' object.pk %}">-->
    <!--<input type="submit" class="btn btn-primary" value="{% trans 'Confirm deletion' %}" name="confirm_delete" />-->
    <input type="submit" class="btn btn-primary" value="{% trans 'Confirm deletion' %}"/>
</form>

{% endblock %}