{% extends "staff/base.html" %}
{% load i18n staticfiles filters %}

{% block content %}

<div id="main-content" class="padding">
						<section class="panel">
	                        





				<section class="panel">
                    <header class="panel-heading clearfix">
						
                        <h3><i class="la la-building"></i>{{ staffproject.name }} | Teams</h3>
                        <a href="{% url 'staff:team-create' pk %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Add' %} {% trans 'team' %}</a>
                        <a href="{% url 'staff:staff-project-update' pk %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Edit' %} {% trans 'Project' %}</a>
                        <!-- <a href="{% url 'staff:team-create' pk %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Add' %} {% trans 'team' %}</a> -->
						
                    </header>
					<div class="panel-body">
						<div class="row" >
						
							{% for object in team_list %}

							<div class="col-md-4 col-sm-6">
								<a href= "{% url 'staff:team-detail' object.pk %}" title="" class="site-item-wrap  margin-top clearfix">
									<div class="logo">
									</div>
									<div class="basic-info clearfix">
										<h4 class="detail-text1" >{{ object.name }} </h4>
                                 		<p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> <span  class="detail-text1">{% trans 'Leader - '%}{{ object.leader }}</span></p>
									</div>
							</a>
							</div>
							{% empty %}

							<div class="col-md-4 col-sm-6">

							<h5>Teams not available</h5>

							</div>

						{% endfor %}
						</div>
					</div>
					
                  	

                </section>
						
						
						


</section>
</div>

{% endblock %}
