{% extends "staff/base.html" %}
{% load i18n staticfiles filters %}

{% block content %}

<script type="text/javascript">
	
	function generateReport(){
		month = document.getElementById("monthpicker").value;
		if (month.split('-').length < 2){
			alert("First select the month to download the report.")
			return false;
		}
		window.location = '/staff/team-attendance/{{ team.id }}/'+month+'/'
	}
</script>

<div id="main-content" class="padding">

	<nav aria-label="breadcrumb" role="navigation">
		{% block breadcrumbs %}
		<ol class="breadcrumb">
			<li class="breadcrumb-item" aria-current="page"><a href="{% url 'staff:staff-project-detail' team.staffproject_id %}">{{ team.staffproject.name }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ team.name }}</li>
		</ol>
		{% endblock %}
	</nav>
						<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
								  <div class="modal-header">
									<h5 class="modal-title" id="exportModalLabel">Excel Monthly Report</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									  <span aria-hidden="true">&times;</span>
									</button>
								  </div>

									<div class="modal-body" style="margin-left:15px;">
									<div class="alert alert-info">
									  <strong>Info!</strong> Report will shortly be downloaded after you click download.
									</div>
									<div class="form-item-wrapper checkbox-listing">
									  Select Month:
									  <input type="month" id="monthpicker" min="{{ team.created_date.date|date:'Y-m'}}" max="{% now 'Y-m' %}" name="bdaymonth">
									  <br>

									  </div>
									  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-primary" onclick="generateReport()">Download</button>
								  </div>
								</div>
							</div>
						</div>
						
				<section class="panel">
                    <header class="panel-heading clearfix">
						
                        <h3><i class="la la-building"></i>{{ object.name }}</h3>
                         {% if is_project_manager %}
                         <a href="{% url 'staff:team-delete' object.pk  %}" title="" class="btn btn-sm btn-danger pull-right"><i class="la la-minus"></i> {% trans 'Delete' %} {% trans 'Team' %}</a>
                         {% endif %}
                         <a href="{% url 'staff:team-reassign-staffs' object.staffproject_id object.pk  %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Assign' %} {% trans 'Staffs' %}</a>
                         
                         <a href="{% url 'staff:team-update' object.pk  %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Edit' %} {% trans 'Team' %}</a>
                         <a href="#" data-toggle="modal" class="btn btn-sm btn-primary pull-right" data-target="#exportModal"><i class="la-file"></i>{% trans 'Excel' %} {% trans 'Report' %}</a>
                        <!-- <a href="{% url 'staff:team-create' pk %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Add' %} {% trans 'team' %}</a> -->
						
                    </header>
					<div class="panel-body">
						<div class="row">
											<div class="col-lg-4">
												<div class="contact-info-item margin-top" data-mh="eq-item">
													<i class="la la-building"></i> <strong>Leader</strong><br/>
													{{ team.leader }}
												</div>
											</div>
											<div class="col-lg-4">
												<div class="contact-info-item margin-top" data-mh="eq-item">
													<i class="la la-envelope-o"></i> <strong>Staff Project</strong><br/>{{ team.staffproject.name}}
												</div>
											</div>
											<div class="col-lg-4">
												<div class="contact-info-item margin-top" data-mh="eq-item">
													<i class="la la-phone"></i> <strong>Created By</strong><br/>
													{{ team.created_by }}
												</div>
											</div>
											<div class="clearfix"></div>
											<div class="col-lg-4">
												<div class="contact-info-item margin-top" data-mh="eq-item">
													<i class="la la-intersex"></i> <strong>Created Date</strong><br/>
													{{ team.created_date }}
												</div>
											</div>
											<div class="col-lg-4">
												<div class="contact-info-item margin-top" data-mh="eq-item">
													<i class="la la-certificate"></i> <strong>Updated Date</strong><br/>{{ team.updated_date }}
												</div>
											</div>


										</div>
					</div>
					

</section>


<br>
<section class="panel">
	<div class="col-md-12">
							<div class="widget-info margin-top bg-white padding">
								<!-- <div class="widget-head">
									Attendance
								</div> -->
								<div class="widget-body">
									<div class="calendar-header clearfix">

										<div class="pull-right form-inline">
											<div class="btn-group margin-right">
												<button class="btn btn-sm btn-primary" data-calendar-nav="prev"><< Prev</button>
												<button class="btn btn-sm" data-calendar-nav="today">Today</button>
												<button class="btn btn-sm btn-primary" data-calendar-nav="next">Next >></button>
											</div>
											<div class="btn-group">
												<button class="btn btn-sm btn-warning" data-calendar-view="year">Year</button>
												<button class="btn btn-sm btn-warning active" data-calendar-view="month">Month</button>
												<button class="btn btn-sm btn-warning" data-calendar-view="week">Week</button>
											</div>
										</div>
										<h4></h4>
									</div>
									<div id="calendar" class="margin-top"></div>

								</div>
							</div>
						</div>
</section>
<br>

				<section class="panel">
                    <header class="panel-heading clearfix">
						
                        <h3><i class="la la-building"></i>Staffs</h3>
                         <a href="{% url 'staff:staff-create' pk %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Add' %} {% trans 'Staff' %}</a>
                        <!-- <a href="{% url 'staff:team-create' pk %}" title="" class="btn btn-sm btn-primary pull-right"><i class="la la-plus"></i> {% trans 'Add' %} {% trans 'team' %}</a> -->
						
                    </header>
					<div class="panel-body">

						<div class="row">
						{% for object in staff_list %}

							<div class="col-md-4 col-sm-6">
								<a href= "{% url 'staff:staff-detail' object.pk %}" title="" class="site-item-wrap  margin-top clearfix">
									<div class="logo">
										<img src="{{ object.photo.url }}" alt="" width="100" height="100">
									</div>
									<div class="basic-info clearfix">
										<h4 class="detail-text1" >{{ object.first_name }}  {{ object.last_name }}</h4>
                                 		<p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> <span  class="detail-text1">{% trans 'Address: '%}{{ object.address }}</span></p>
                                 		<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i> <span  class="detail-text1">{% trans 'Phone No: '%} {{ object.phone_number }}</span></p>
									</div>


							</a>
							</div>
						{% empty %}

							<div class="col-md-4 col-sm-6">

							<h5>Staffs not available</h5>

							</div>

						{% endfor %}

						</div>
					</div>
					

				</section>
</div>



{% endblock %}
{% block extrascript %}

<script src="{% static 'dummy/assets/js/vendor/jquery.matchHeight.js' %}"></script>
		<script src="{% static 'dummy/assets/js/vendor/underscore-min.js' %} "></script>
		<script src="{% static 'dummy/assets/js/vendor/calendar.min.js' %}"></script>

		<script>
		var data={{ attendance_list|safe }};
			(function($) {
				"use strict";

				var options = {
					events_source: data,

		        	//events_source: 'events.json.php',
					view: 'month',
					tmpl_path: "{% static 'dummy/assets/tmpls/' %}",
					tmpl_cache: false,
					views: {
				      year:  {
				        enable: 1
				      },
				      month:  {
				        enable: 1
				      },
				      week:  {
				        enable: 1
				      },
				      day:   {
				        enable: 0 //disabled
				      }
				    },
					modal : "#events-modal",
		            modal_type : "ajax",
		            modal_title : function (e) { return e.title },
					// day: '2013-03-19',
					onAfterViewLoad: function(view) {
						$('.calendar-header h4').text(this.getTitle());
						$('.btn-group button').removeClass('active');
						$('button[data-calendar-view="' + view + '"]').addClass('active');
						
						{% if is_project_manager %}
						
						$(".cal-month-day").click(function(){
						  // Holds the product ID of the clicked element
						  // .getAttribute( "data-cal-date" )
						var span = $(this).find('.pull-right');
						//if (confirm('Do you want update the attendance of '+ span.attr( "data-cal-date" ) +'?')) {
							// alert("/staff/attendance/update/{{ team.id }}/"+span.attr( "data-cal-date" ));
						window.location.href ="/staff/attendance/update/{{ team.id }}/"+span.attr( "data-cal-date" ); 
						//}
						
						});

						{% endif %}
					

					},
					classes: {
						months: {
							general: 'label'
						}
					}
				};

				var calendar = $('#calendar').calendar(options);

				$('.btn-group button[data-calendar-nav]').each(function() {
					var $this = $(this);
					$this.click(function() {
						calendar.navigate($this.data('calendar-nav'));
					});
				});

				$('.btn-group button[data-calendar-view]').each(function() {
					var $this = $(this);
					$this.click(function() {
						calendar.view($this.data('calendar-view'));
					});
				});

			}(jQuery));
		</script>


{% endblock %}