{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Logs' %}{% endblock %}
{% block extracss %}

<style >
    .panel-body{
        position: relative;
        bottom: 46px;
    }
</style>
{% endblock %}


{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}
    <span class="title2_note">Your Notifications</span>
    <div class="gap"></div>
    <div class='well'>

        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}

        <table class="table table-striped">
            <!--<thead>-->
            <!--<th>{% anchor title _('Title') %}</th>-->
            <!--<th>{% anchor description _('Description') %}</th>-->
            <!--<th>{% anchor date _('Date') %}</th>-->
            <!--<th>{% anchor source _('Actor') %}</th>-->
            <!--</thead>-->
            <tbody>
            {% for obj in paginated_objects %}
            <tr>
                <td class="note-table">
                    <a href="{{obj.get_absolute_url}}">
                        <div class="unread note-div">
                            <div class="col-md-1">
                                <i class="fa fa-user-plus note-icon" aria-hidden="true"></i>
                            </div>
                            <div class="col-md-11">
                            <span class="detail-text1 notification-title">{{obj.description}} </span>
                            
                            <div class="gap"></div>
                            <div class="low">
                                 <i class="fa fa-clock-o space" aria-hidden="true"></i>
                                {{obj.date}}
                            </div>
                            </div>
                        </div>
                        </a>
                </td>
            </tr>
                <!--<tr>-->

                    <!--<td>-->
                       <!--<a href="{% url 'eventlog:notification-detail' obj.pk %}"> {{ obj.title }}</a>-->

                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.Description }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.date }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.source|default:"-" }}-->
                    <!--</td>-->

                <!--</tr>-->
            {% endfor %}
            </tbody>
        </table>

        {% paginate %}

    </div>



{% endblock %}workon kpi