{% extends "fieldsight/fieldsight_base1.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
            <div id="main-content" class="padding">
                <section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-building"></i>{% trans 'New' %}{% trans 'Site' %} </h3>
                    </header>
                    <div class="panel-body">
                      

                    <style >
    .panel-body{
        position: relative;
        bottom: 46px;
    }
</style>
    <span class="title2_note">Your Notifications</span>
    <div class="gap"></div>
    <div class='well'>

        

       <ul class="menu" id="notificationul">
       </ul>

        <center>
                <input style="display:none;" type="button" id="getnextlist" onclick="" value="load more">
            </center>
    </div>



                    </div>
                </section>

            </div>
{% endblock %}
 {% block extrascript %}
 <script type="text/javascript">


document.onload = getnotifdatalist('{% url 'eventlog:api-not' %}');

  function getnotifdatalist(url){ 
    
      $.ajax({
        url: url,
        type: 'GET',
        success: function (data) {
           data.results.forEach(populatedatalist);
           speed=0;
           if (data.next == null){
            document.getElementById('getnextlist').style.display = 'none';
           }else{
            document.getElementById('getnextlist').style.display = 'block';
            document.getElementById("getnextlist").setAttribute( "onClick", "javascript: getnotifdata('"+ data.next+"');" );
        }
        }
      });
}


function populatedatalist(data, index){

   
    typeid = data.type;
    var readstatus='unread';
    if(data.seen_by.includes({{ request.user.id }})){
       readstatus='read';
    }
// get description for notificationaccotding to its type id
    var content = types[typeid](data);
//append the data in main notificatin div
    





    var new_li = '<li class=" note-div-sm '+ readstatus +'" id="'+data.id+'list" style="display:none;" onclick="redirect(`'+data.get_absolute_url+'`);">'+
                            
                                '<div class="notification-item">' +
                                    '<div class="notification-avatar pull-left">' +
                                        '<i class="avatar-icon la la-bolt"></i>' +
                                    '</div>' +
                                   content +
                      '<p class="notification-highlight-time">' + dateparser(data.date) + '</p>' +
                                    '</div>' +
                                '</div>' +
                            
'</li>';

console.log(new_li);




    // var div = document.getElementById('notifications');

    // div.innerHTML += new_li;
    speed = speed+200;

$(new_li).appendTo("#notificationul");
$("#"+data.id+"list").fadeIn(speed);
}



</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
  <script type="text/javascript">
     var static_url ="{{ STATIC_URL }}";
     var elat = "{{form.instance.latitude}}";
     var elong = "{{form.instance.longitude}}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/addmarker.js"></script>
{% endblock %}













  





