{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block content %}
			<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-tasks "></i>My Tasks</h3>

                    </header>
                    <br>
					<div class="container">
                        <div class="row">
                            <div class="text-center col-md-6">
                                <div class="classWithPad" style="background-color:white;"><i class="la la-tasks" style="color: #00628E" aria-hidden="true"></i>
                                    Ongoing Tasks
                                    <br>
                                    <br>
                                    {% if ongoing %}
                                    {% for task in ongoing %}
                                    <div class="alert alert-primary alert-dismissable">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                        <i class="fa fa-upload" style="font-size:12px" aria-hidden="true"></i>{{ task.description }}
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ task.get_progress }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ task.get_progress }}">
                                             <!--57%-->
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="text-center col-md-6" >
                                <div class="classWithPad" style="background-color:white;"> <i class="la la-check-square-o" style="color: green" aria-hidden="true"></i> Completed Tasks
                                <br>
                                <br>
                                    {% if pending %}
                                    {% for task in pending %}
                                <div class="alert alert-primary alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <i class="la la-upload" style="font-size:12px" aria-hidden="true"></i>{{ task.description }}
                                </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="text-center col-md-6">
                                <div class="classWithPad" style="background-color:white;"><i class="la la-clock-o" style="color:orange" aria-hidden="true"></i> Pending Tasks
                                <br>
                                <br>
                                    {% if completed %}
                                    {% for completed in completed %}
                                <div class="alert alert-primary alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <i class="la la-upload" style="font-size:12px" aria-hidden="true"></i>{{ task.description }}
                                </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="text-center col-md-6" >
                                <div class="classWithPad" style="background-color:white;"> <i class="la la-exclamation-triangle" style="color:red " aria-hidden="true"></i> Failed Tasks
                                <br>
                                <br>
                                    {% if failed %}
                                    {% for task in failed %}
                                <div class="alert alert-primary alert-dismissable">
                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                                    <i class="la la-upload" style="font-size:12px" aria-hidden="true"></i>{{ task.description }}
                                </div>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

			</div>

{% endblock %}
