{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{{ scenario }} {% trans 'Organization Admin' %}{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:organization-dashboard' obj.pk %}">{% trans 'Organization Dashboard' %}</a></li>
    <li>{{ scenario }}</li>
{% endblock %}

{%block extracss %}
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">
    
{% endblock %}

{% block content %}
   <div class="col-sm-12 registration_field">
       <!--{% if form.fields.irganization.choices %}-->
       <!--{% trans 'Existing admins'  %}-->
       <!--{% endif %}-->
       <!--{% for x, y in form.fields.organization.choices %}-->
       <!--<div class="row">-->
    <!--<div class="col-sm-6">-->
      <!--Role_id  {{ y }}-->
    <!--</div>-->
        <!--<div class="col-sm-6">-->
           <!--{{ y }}-->
        <!--</div>-->
   <!--</div>-->
       <!--{% endfor %}-->
    </div>
    <form method="POST" id='form' enctype="multipart/form-data" action="{% url 'fieldsight:add_org_admin' pk=obj.id %}">
        {% csrf_token %}


            <div class="row">
                <div class="col-sm-6">
                    {{ form.user.label_tag }}
                    {{ form.user }}
                    {{ form.user.errors }}
                </div>
                <div class="col-sm-6">
                    {{ form.organization }}
                </div>
                <div class="col-sm-6">
                    {{ form.group }}
                </div>
            </div>

        <div class="col-sm-6">
                    
            <input type="submit" id='submit' class="btn btn-info btn-raised" value="{% trans 'Save' %}">
        </div>

    </form>


{% endblock %}

