{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}


{% block page-title %}{% trans 'Add Project Manager to '  %}{{obj.name}}

{% endblock %}
{%block extracss %}
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">
    
{% endblock %}
{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:projects-list' %}">{% trans 'Project' %}</a>
{% endblock %}

{% block content %}

    <div class="col-md-8">
      <h3>Assign User</h3>
      <h4>what do you want to do?</h4>
      <div class="role">
        <h4>Role for person:</h4>
        <input type="radio" id="radio1" name="group" checked/>
        <label for="radio1">Project Manager</label>

        <input type="radio" id="radio2" name="group" />
        <label for="radio2">Reviewer</label>

      </div>
      <div class="user-assign-create">
        <h4>user</h4>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#selectUser">Select User</a></li>
          <li><a data-toggle="tab" href="#AddNewUser">Add New User</a></li>
        </ul>

        <div class="tab-content">
          <div id="selectUser" class="tab-pane fade in active">
            <div class="col-sm-12 registration_field">
                {% if obj.get_staffs %}
                {% trans 'Existing Project Managers '  %}{{obj.get_staffs}}
                {% endif %}
            </div>

            <div class="col-sm-12 registration_field">
                <form action="{% url 'fieldsight:add_proj_manager' pk=obj.id %}" method="POST">
                    {% csrf_token %}
                      {{ form.as_p }}
                    <input type="submit" class="btn btn-success btn-raised" value="Add Project Manager">
                </form>
            </div>
          </div>
          <div id="AddNewUser" class="tab-pane fade">
            <form method="post" id='form'>
                <div>
                    {{ form.non_field_errors }}

                </div>
                {% csrf_token %}
                {% for field in form %}
              {% ifnotequal field.name "organization" %}
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ field.label }}</div>
                 <div class="col-sm-3">      {{ field }}</div>
                 <div class="col-sm-6">      {{ field.errors }}</div>
               </div>
               {% endifnotequal %}

               {% ifequal field.name "organization" %}
               {% if not request.organization %}
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ field.label }}</div>
                 <div class="col-sm-3">      {{ field }}</div>
                 <div class="col-sm-6">      {{ field.errors }}</div>
               </div>
               {% endif %}
               {% endifequal %}
             {% endfor %}

                <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}">

            </form>
          </div>
          
        </div>

      </div>
      <div class="forms-part"></div>

    </div>
    <div class="col-md-4">
      <h3>Current Users</h3>
      <div class="currentuser-block">
        <div class="search-current">
          <input type="text" class="current-input" placeholder="Search">
          <button type="submit" class="current-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="current-users-list">
          
          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>
          
          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 1</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 2</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 3</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 4</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 4</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 4</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 4</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

          <div class="current-person">
            <div class="user-image-current">
              <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
            </div>
            <div class="user-name-position">
              <p class="cu-name">john doe 4</p>
              <p class="cu-position">project manager</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

        </div>
      </div>
    </div>



    <div class="col-sm-12 registration_field">
        {% if obj.get_staffs %}
        {% trans 'Existing Project Managers '  %}{{obj.get_staffs}}
        {% endif %}
    </div>

    <div class="col-sm-12 registration_field">
        <form action="{% url 'fieldsight:add_proj_manager' pk=obj.id %}" method="POST">
            {% csrf_token %}
              {{ form.as_p }}
            <input type="submit" class="btn btn-success btn-raised" value="Add Project Manager">
        </form>
    </div>




{% endblock %}
