{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{% trans 'Add Central Engineer to '  %}{{obj.name}}

{% endblock %}
{%block extracss %}
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">
    
{% endblock %}
{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:sites-list' %}">{% trans 'Sites' %}</a>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-sm-6">
          <form action="{% url 'fieldsight:add_central_engineer' pk=obj.id %}" method="POST">
              {% csrf_token %}
               <div class="col-sm-12">
               {{ form.non_field_errors }}
               </div>
              <div class="row">
                <div class="col-lg-6 col-sm-12">
                     {% trans 'Select User Type'  %}
                    {{ form.group }}
                    {{ form.group.errors }}
                </div>

                <div class="col-lg-6 col-sm-12">
                    {% trans 'Select User '  %}
                    {{ form.user }}
                    {{ form.user.errors }}
                </div>
                  <div class="col-lg-6 col-sm-12">
                    {{ form.project }}
                </div>
            </div>

              <input type="submit" class="btn btn-success btn-raised" value="Save">
          </form>
      </div>
<div class="col-sm-6">
    {% if existing_staffs %}
       {% trans 'Existing Managers And Reviewers'  %}
       {% endif %}
       {% for role in existing_staffs %}
       <div class="row">
    <div class="col-sm-6">
      Role : {{role.group}}
    </div>
        <div class="col-sm-6">
           {{role.user.get_full_name}}
        </div>
   </div>
    {% endfor %}
</div>
</div>

{% endblock %}
