{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{% trans 'Add Supervisor to '  %}{{obj.name}}

{% endblock %}

{% block head %}
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:project-dashboard' obj.project.pk %}">Project Dashboard</a></li>
<li><a href="{% url 'fieldsight:sites-list' %}">{% trans 'Sites' %}</a></li>
    <li>{% trans 'Add Supervisor to '  %}{{obj.name}}</li>
{% endblock %}
{% block content %}
    <div class="col-sm-12 registration_field">
        {% if obj.get_supervisors %}
        {% trans 'Existing Site Supervisors '  %}{{obj.get_supervisors}}
        {% endif %}
    </div>

      <div class="col-sm-12 registration_field">
          <form action="{% url 'fieldsight:add_supervisor' pk=obj.id %}" method="POST">
              {% csrf_token %}
                {{ form.as_p }}
              <input type="submit" class="btn btn-success btn-raised" value="Add Site Supervisor">
          </form>
      </div>


{% endblock %}
