{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}

{% block page-title %}{{ scenario }} {% trans 'Organization Admin' %}{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:organizations-dashboard' obj.pk %}">{% trans 'Organization Dashboard' %}</a></li>
    <li>{{ scenario }}</li>
{% endblock %}

{%block extracss %}
    
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">
    
{% endblock %}

{% block content %}
<div class="row">
   <div class="col-sm-6">
    <form method="POST" id='form' enctype="multipart/form-data" action="{% url 'fieldsight:add_org_admin' obj.id %}">
        {% csrf_token %}

            <div class="row">
                <div class="col-sm-6">
                    {{ form.user.label_tag }}
                    {{ form.user }}
                    {{ form.user.errors }}
                </div>
                <div class="col-sm-6">
                    {{ form.organization }}
                    {{ form.group }}
                </div>
                </div>

        <div class="col-sm-12">
                    
            <input type="submit" id='submit' class="btn btn-info btn-raised" value="{% trans 'Save Admin' %}">
        </div>


    </form>
</div>
<div class="col-sm-6">
      <h3>Current Users</h3>
      <div class="currentuser-block">
        <div class="search-current">
          <input type="text" class="current-input" placeholder="Search">
          <button type="submit" class="current-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
        <div class="current-users-list">
          {% for role in obj.get_staffs_org %}
          <div class="current-person">
            <div class="user-image-current">
              <img src="{{role.user.user_profile.profile_picture.url}}" alt="{{role.user.user_profile.profile_picture.url}}">
            </div>
            <div class="user-name-position">
              <p class="cu-name">{{role.user.get_full_name}}</p>
              <p class="cu-position">{{role.group}}</p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  onclick="this.parentElement.style.display='none'">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>
        {% endfor %}
        </div>
          </div>
    </div>
</div>



{% endblock %}

