{% load staticfiles i18n filters %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  lang="en"> <!--<![endif]-->
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
        {% block whole_title %}

            {% block title %}{% trans 'Fieldsight' %}

        {% endblock %}{% endblock %}
		</title>
		<!--Core CSS -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
	<script type="text/javascript" src="{{ STATIC_URL }}js/notificationhandler.js"></script>
	<style type="text/css">
    	.unread {
    		background-color: #e6ecff;
    	}
    </style>
	
	
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%block extracss %}
		{% endblock %}

		<link rel="apple-touch-icon" href="{% static 'dummy/apple-touch-icon.png' %}">
		<link rel="stylesheet" href="{% static 'dummy/assets/css/style.css' %}">
        <script src="{% static 'dummy/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">


		
		<script type="text/javascript" src="{{ STATIC_URL }}js/libs/knockout.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/ko_lib.js" ></script>
		{%block kocript %}
    	{% endblock %}
	</head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
			<header id="header" class="main-header clearfix">
			<div class="brand clearfix">
				<a href="{% url 'dashboard' %}" title="" class="logo">
					<img src="{% static 'dummy/assets/img/logo.png' %}" alt="Field Sight" width="168" height="32">
				</a>
				<div class="sidebar-toggle-box">
					<span class="la la-bars"></span>
				</div>
			</div>
			<div class="top-nav clearfix">
				<ul class="right-nav clearfix">
					<li class="dropdown">
						<a href="#" id="dropdownMenuButtonNotification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="la la-bell"></i>
							<span class="badge badge-warning"><span class="not_count"></span></span>
						</a>
					
						<div class="dropdown-menu large-dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonNotification" style="width:480px;">
							<div class="dropdown-header">New Notifications (<span id="noticount" class="not_count"></span>) <span><a href="#" onclick="updateseen()">Mark All as read<a></span></div>
							<ul class="menu" id="notification-ul" style="height:500px; overflow:hidden; overflow-y: scroll;">
						
							</ul>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="{% url 'eventlog:notification-list' %}">{% trans 'View all' %}</a>
						</div>
					</li>
					<li class="dropdown">
						<a href="#" id="dropdownMenuButtonUser" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<div class="user-avatar">
								<img src="{{request.user.user_profile.profile_picture.url}}" alt="">
							</div>
							<span class="hidden-sm hidden-xs">{% trans request.user.username %}</span>
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonUser">
							<a class="dropdown-item" href="{% url 'users:profile' request.user.id %}"><i class="la la-user"></i> My Profile</a>
							<a class="dropdown-item" href="{% url 'auth_password_change' %}"><i class="la la-key"></i> Change Password</a>
							<a class="dropdown-item" href="{% url 'auth_logout' %}"><i class="la la-sign-out"></i> Logout</a>
						</div>
					</li>
				</ul>
			</div>
		</header>
		<div id="main-container" class="minified">
			<div id="sidebar" data-toggle="affix">
				<div class="leftside-navigation">
					<ul class="sidebar-menu" id="nav-accordion">
						<li>
							<a class="" href="{% url 'dashboard' %}">
								<i class="la la-dashboard"></i>
								<span>{% trans 'Dashboard' %}</span>
							</a>
						</li>
						{% ifrole "admin" %}
						<li class="sub-menu">
							<a href="{% url 'fieldsight:organizations-list' %}">
								<i class="la la-building"></i>
								<span>{% trans 'Organizations' %}</span>
							</a>
							<!--<ul class="sub">-->
								<!--<li><a href="organization.php">All Organizations</a></li>-->
								<!--<li><a href="new-organization.php">New Organization</a></li>-->
							<!--</ul>-->
						</li>
						{% endrole %}
						<!--<li class="sub-menu">-->
							<!--<a href="javascript:;">-->
								<!--<i class="la la-tasks"></i>-->
								<!--<span>Projects</span>-->
							<!--</a>-->
							<!--<ul class="sub">-->
								<!--<li><a href="#">All Projects</a></li>-->
								<!--<li><a href="#">New Project</a></li>-->
							<!--</ul>-->
						<!--</li>-->
						{% ifrole "Site" %}
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="la la-clipboard"></i>
								<span>{% trans 'Forms' %}</span>
							</a>
							<ul class="sub">
								<li><a href="{{ koboform_url }}#/forms/new">{% trans 'Create New' %}</a></li>
								<li><a href="{% url 'forms:forms-list' %}">{% trans 'My Forms' %}</a></li>
							</ul>
						</li>
						<!--<li class="sub-menu">-->
							<!--<a href="javascript:;">-->
								<!--<i class="la la-users"></i>-->
								<!--<span>Users</span>-->
							<!--</a>-->
							<!--<ul class="sub">-->
								<!--<li><a href="#">All Users</a></li>-->
								<!--<li><a href="#">New User</a></li>-->
							<!--</ul>-->
						<!--</li>-->
						<!--<li class="sub-menu">-->
							<!--<a href="javascript:;">-->
								<!--<i class="la la-book"></i>-->
								<!--<span>{% trans 'Library' %}</span>-->
							<!--</a>-->
							<!--<ul class="sub">-->
								<!--<li><a href="{% url 'forms:library-forms-list' %}">{% trans 'Library Forms' %}</a></li>-->
								<!--<li><a href="{% url 'forms:group-list' %}">{% trans 'Stages Library' %}</a></li>-->
							<!--</ul>-->
						<!--</li>-->
						 {% endrole %}
						
					</ul>
				</div>
			</div>
			{% block content %}
			{% endblock %}
		</div>
		<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
			<div class="modal-content modal-lg">
				<div class="modal-header">
					<h5 class="modal-title">&nbsp;</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					  <span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">

				</div>
			</div>
		  </div>
		</div>
		<script src="{% static 'dummy/assets/js/vendor/popper.min.js' %}"></script>

        <script src="{% static 'dummy/assets/js/vendor/bootstrap.min.js' %}"></script>
		<script src="{% static 'dummy/assets/js/plugins.js' %}"></script>

		<script src="{% static 'dummy/assets/js/vendor/jquery.cookie.js' %}"></script>
		<script src="{% static 'dummy/assets/js/vendor/jquery.dcjqaccordion.2.7.min.js' %}"></script>
		<script src="{% static 'dummy/assets/js/vendor/jquery.slimscroll.min.js' %}"></script>
		<script src="{% static 'dummy/assets/js/vendor/jquery.nicescroll.min.js' %}"></script>

		<!--<script src="{% static 'dummy/assets/js/vendor/leaflet.js' %}"></script>-->
		<!--<script>-->

			<!--$(document).ready(function(){-->

				<!--$(".widget-scolling-list > .widget-body").niceScroll({cursorborder:"",cursorcolor:"#00628e"});-->

				<!--$('.scrollingSlider').slick({-->
				  <!--slidesToShow: 4,-->
				  <!--arrows: false,-->
				  <!--autoplay : true,-->
				  <!--infinite: false,-->
				  <!--responsive: [-->
					<!--{-->
					  <!--breakpoint: 768,-->
					  <!--settings: {-->
						<!--arrows: false,-->
						<!--slidesToShow: 3-->
					  <!--}-->
					<!--},-->
					<!--{-->
					  <!--breakpoint: 480,-->
					  <!--settings: {-->
						<!--arrows: false,-->
						<!--centerMode: true,-->
						<!--slidesToShow: 1-->
					  <!--}-->
					<!--}-->
				  <!--]-->
				<!--});-->
				<!--$('.photo-item img').on('click',function(){-->
					<!--var title = $(this).attr('img-title');-->
					<!--var src = $(this).attr('src');-->
					<!--var img = '<img src="' + src + '" class="img-responsive"/>';-->
					<!--var html = '';-->
					<!--html += img;-->
					<!--$('#myModalLabel').modal();-->
					<!--$('#myModalLabel').on('shown.bs.modal', function(){-->
						<!--$('#myModalLabel .modal-header .modal-title').html(title);-->
						<!--$('#myModalLabel .modal-body').html(html);-->
					<!--})-->
					<!--$('#myModalLabel').on('hidden.bs.modal', function(){-->
						<!--$('#myModalLabel .modal-header .modal-title').html('');-->
						<!--$('#myModalLabel .modal-body').html('');-->
					<!--});-->
				<!--});-->
			<!--});-->



		<!--</script>-->

<script>
			var url = '{% url 'eventlog:api-not' %}'
			var url_count = '{% url 'eventlog:api-not-count' %}'

			document.onload = getnotifdata();


			function populatelist(data, index){

			   
			    typeid = data.type;
			    var readstatus='unread';
			    if(data.seen_by.includes({{ request.user.id }})){
			       readstatus='read';
			    }
			// get description for notificationaccotding to its type id
			    var content = types[typeid](data);
			//append the data in main notificatin div
			    
			    var new_li = '<li class=" note-div-sm '+ readstatus +'" id="'+data.id+'" style="display:none;" onclick="redirect(`'+data.get_absolute_url+'`);">'+
                            
                                '<div class="notification-item">' +
                                    '<div class="notification-avatar pull-left">' +
                                        '<i class="avatar-icon la la-info"></i>' +
                                    '</div>' +
                                   content +
                      '<p class="notification-highlight-time">' + dateparser(data.date) + '</p>' +
                                    '</div>' +
                                '</div>' +
                            
'</li>';



			    // var div = document.getElementById('notifications');

			    // div.innerHTML += new_li;
			    speed = speed+200;

			$(new_li).appendTo("#notification-ul");
			$("#"+data.id).fadeIn(speed);
			}

	function getnotifdata(){ 
      $.ajax({
        url: url_count,
        type: 'GET',
        success: function (data) {
          $( ".not_count" ).append( data.count );

        }
      });

          $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
               data.results.forEach(populatelist);
               // for (i = 0; i < 6; i++) {
               //      populatelist(data.results[i], i);
               //  } 
               speed=0;

            }
          });
}


	function updateseen(){ 
      $.ajax({
        url: url_count,
        data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
        type: 'POST',

        success: function (data) {
          console.log(data);
          $( ".not_count" ).replaceWith( '0' );
        }
      });
}
		</script>
        <!--<script src="{% static 'dummy/assets/js/main.js' %}"></script>-->

    </body>
	{%block extrascript %}
    {% endblock %}
</html>
