{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{{ scenario }} {% trans 'Site' %}{% endblock %}
{%block extracss %}
{% endblock %}
{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:sites-list' project %}">{% trans 'Sites' %}</a>
{% endblock %}


{% block content %}
    <div id="main-content" class="padding">
		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				{% block breadcrumbs %}
				<li class="breadcrumb-item"><a href="{% url 'fieldsight:site-dashboard' id %}">{% trans 'Site Dashboard' %}</a></li>
				<li class="breadcrumb-item active" aria-current="page">{% trans 'Upload Blueprints image files' %}</li>
		    	{% endblock %}
			</ol>
		</nav>
			<section class="panel">
					<div class="panel-body">
						<!-- Add New Organization-->
						<div id="newOrganization" class="margin-top">
							<form id="post_form" method="post" action="{% url 'fieldsight:site-blue-prints' id%}"
                                enctype="multipart/form-data">

								<div class="form-row">
                                     {% csrf_token %}
                                     {{ formset.management_form }}
									<div class="form-group col-sm-12">
                                        {% for form in formset %}
                                            {{ form }}<br>
                                        {% endfor %}
									</div>


								</div>
                                <button type="submit" class="btn btn-primary"><i class="" aria-hidden="true"></i>{% trans ' submit' %}</button>
							</form>
						</div>
					</div>
                </section>

				<div class="col">
            <div class="wrapper-md">
              <div class="panel pannel-default">

                <div class="pannel-body" style="padding: 0 20px; overflow: visible;">
                   {% for blueprint in blueprints %}
                   {% if forloop.counter|divide %}
                    <div class="row wrapper">
                       {% endif %}

                      <div class="col-sm-2 well">
                        <image src="{{blueprint.image.url}}"></image>
                      </div>

                         {% if forloop.counter|divend %}
                    </div>
                          {% endif %}


                   {% endfor %}
                </div>
              </div>
            </div>
          </div>

    </div>
{% endblock %}
