{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Site' %}{% endblock %}
{%block extracss %}
{% endblock %}
{% block head %}
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'fieldsight:site-dashboard' id %}">
     {% trans 'Site Dashboard' %}</a></li>
<li>{% trans 'Upload Blueprints image files' %}</li>
{% endblock %}

{% block content %}

    <form id="post_form" method="post" action="{% url 'fieldsight:site-blue-prints' id%}"
      enctype="multipart/form-data">

    {% csrf_token %}

    {{ formset.management_form }}
    {% for form in formset %}
        {{ form }}
    {% endfor %}


    <input type="submit" class="btn btn-primary" name="submit" value="Submit" />
</form>

{% endblock %}

