{% load staticfiles i18n filters %}

<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

<head>
	<title>Email</title>
	<style type="text/css">
	body{
		font-family: Ubuntu;
	}
		#page-wrap {
     width: 800px;
     margin: 0 auto;
}
.head{
	font-family:Ubuntu;
	float: right;
	margin-top: 85px;
	font-size: 25px;
	color:#253f8e;
	font-weight: bold;
}
.title{
	line-height: 1em;
}
.sub{
	line-height: 1em;
}



input {
    height: 60px;
    width: 315px;
    font-size: 32px;
    background-color: #253f8e;
    color: white;
}


.body{
	font-family: Ubuntu;
}
	</style>




</head>
<body>
	<div id="page-wrap">
  
	<span><img src="http://{{ domain }}{% static 'images/email/invite-logo.png' %}"> <font> <span class="head">Remote Monitoring And Supervision Tool </span> </font>
	<hr>
	<img src="http://{{ domain }}{% static 'images/email/invite-aa.jpg' %}" align="right">
	<font class="title" color="#253f8e" size="40" >
		<p>Welcome to FieldSight, <br> 
		<font size="5" style="text-decoration: none !important;">{{ email }}!</p></font>

	</font>
	<font class="sub" size="3" style="text-decoration: none !important;">
		<p>You have been invited to join FieldSight by {{ invite.by_user.email }}{% if invite.group.name != "Unassigned" %} as {{ invite.group.name }}  Role {% endif %}{% if invite.site %} for {{ invite.site.name }}  in {{ invite.project.name }} of {{ invite.organization.name }} {% elif invite.project %} for {{ invite.project.name }} of {{ invite.organization.name }} {% elif invite.organization %} in {{ invite.organization.name }}{% endif %}.</p>
	</font>

	<a href="http://{{ domain }}{% url 'fieldsight:activate-role' invite_id token %}
" target="_blank"><input type="button" name="join" value="JOIN NOW"></a>

<font class="sub" size="3" color="black">
		<p>Learn more about the services and features <br>
			of the FieldSight platform through our <br>
			User Manual.
</p>
	</font>

	<font class="sub" size="3" color="black">
		<p>Thank you for joining our platform.<br>
		 We hope you enjoy using FieldSight.

</p>
	</font>

	<font class="sub" size="3" color="#253f8e">
		<b>Download FieldSight App</b><br>
	<a href="https://play.google.com/store/search?q=fieldsight&hl=en"><img src="http://{{ domain }}{% static 'images/email/invite-andro.png' %}" width="200"></a>
		 

</p>
	</font>

	<font class="sub" size="4" color="#253f8e">
		<b><p>Good Day,<br>
		 The FieldSight Team. 

</p></b>
	</font>
	<table style="width:100%;background:lightgrey;">
  <tr>
    <th>Contact us if you have any questions or feedback <br>
  <span><img src="http://{{ domain }}{% static 'images/email/invite-mail.png' %}" width="15">  info@fieldsight.org <br> </span>
    <span> <img src="http://{{ domain }}{% static 'images/email/invite-www.png' %}" width="15"> www.fieldsight.org</th></span>
  </tr>
</table>
</div>
</body>
</html