{% autoescape off %}
Hi {{ email }},

You have been invited to join FieldSight by {{ invite.by_user.email }}{% if invite.group.name != "Unassigned" %} as {{ invite.group.name }}  Role {% endif %}{% if invite.site %} for {{ invite.site.name }}  in {{ invite.project.name }} of {{ invite.organization.name }} {% elif invite.project %} for {{ invite.project.name }} of {{ invite.organization.name }} {% elif invite.organization %} in {{ invite.organization.name }}{% endif %}. Please use the link below to join {{ invite.organization.name }} in fieldsight.

http://{{ domain }}{% url 'fieldsight:activate-role' invite_id token %}
{% endautoescape %}