{% load staticfiles i18n filters %}
{% kwacro page-title %}
    {% block page-title %}{% endblock %}
{% endkwacro %}
<!DOCTYPE html>
<html lang="en">
<head>
 {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <meta http-equiv=”X-UA-Compatible” content=”IE=EmulateIE9”>
    <meta http-equiv=”X-UA-Compatible” content=”IE=9”>

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon-32x32.png" sizes="32x32">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon-16x16.png" sizes="16x16">
    <!-- <img src="{{STATIC_URL}}images/logo1.png" / > -->
    <title>
        {% block whole_title %}

            {% block title %}{% usekwacro page-title %}{% endblock %} | {% trans 'Fieldsight' %}

        {% endblock %}
    </title>
    <!--Core CSS -->
    <link rel="stylesheet" href="{% static 'bs3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui-1.10.1.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reset.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'js/jvector-map/jquery-jvectormap-1.2.2.css' %}">
    <link rel="stylesheet" href="{% static 'css/clndr.css' %}">
    <link rel="stylesheet" href="{% static 'js/css3clock/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/morris-chart/morris.css' %}">
    <!--<link rel="stylesheet" href="{% static 'nvd3/build/nv.d3.css' %}">-->
    <!--dynamic table-->
    <link href="{% static 'js/advanced-datatable/css/demo_page.css' %}" rel="stylesheet" />
    <link href="{% static 'js/advanced-datatable/css/demo_table.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'js/data-tables/DT_bootstrap.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'sample/dist/css/AdminLTE.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sample/dist/css/AdminLTE.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'sample/dist/css/skins/_all-skins.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}" />
    <link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/selectize.css' %}">

    <link rel="stylesheet" type="text/css"  href="{% static 'slick/slick.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">
  -->

    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    {%block extracss %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}">

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/selectize.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/knockout.js" ></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/base.js" ></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/ko_lib.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/selectize.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap-notify.min.js" ></script>-->
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/libs/material.min.js" ></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/ripples.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}channels/js/websocketbridge.js" ></script>
    <!--clock css-->
    <!--Morris Chart CSS -->
<!-- Custom styles for this template -->
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->
<script type="text/javascript">
var notificationCount = $('#noti-count').text() || "0";
notificationCount = parseInt(notificationCount);

var id = "{{request.user.id}}";
var orgid = "{{oid}}";
const webSocketBridgeNotify = new channels.WebSocketBridge();
const webSocketBridgeChat = new channels.WebSocketBridge();

<!--webSocketBridgeNotify.connect('/notify/'+orgid+'/');-->
<!--webSocketBridgeChat.connect('/chat/'+id+'/');-->

webSocketBridgeNotify.connect('ws://kc.naxa.com.np:8001/notify/'+orgid+'/');
webSocketBridgeChat.connect('ws://kc.naxa.com.np:8001/chat/'+id+'/');

webSocketBridgeNotify.listen(function(text, byte) {
if(notificationCount == 0){
    notificationCount = $('#noti-count').text() || "0";
    notificationCount = parseInt(notificationCount);
                        }
notificationCount += 1;
$('#noti-count').text(notificationCount);
description = text.description;
not_url = text.url
new_li = '<li><a href='+not_url+'><i class="fa fa-users text-aqua"></i>'+ description +' </a>  </li>';
console.log(new_li);
$('#notification-ul').append(new_li);

<!--console.log(notificationCount);-->

console.log(text.description);
console.log(text.url);
});


webSocketBridgeChat.listen(function(text, byte) {
console.log("chat received");
console.log(text.prop1);
console.log(text.prop2);
});

</script>
<script type="text/javascript">

    function showMenu(){
    if ($('#fs_drop_menu').is(":hidden")){
     $('#fs_drop_menu').show();
    }else{

    $("#fs_drop_menu").hide();
}
}
</script>
 {%block kocript %}
    {% endblock %}
</head>
<body>


<section id="container">
<!--header start-->
<header class="header fixed-top clearfix row">
<!--logo start-->
<div class="brand col-sm-2">

    <a href="#" class="logo">
        <!-- <img src="images/logo.png" alt=""> -->
        <img src="{{STATIC_URL}}images/logo1.png" class="img-responsive1" />
        
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<div class="brand-side col-sm-10">
        <ol class="breadcrumb hidden-print col-sm-8" style="font-size: 16px;color: white !important;">
                    {% block breadcrumbs_container %}
                        <li><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
                        {% block breadcrumbs %}
                            <li>{% usekwacro page-title %}</li>{% endblock %}
                    {% endblock %}
                </ol>

                <div class="navbar-custom-menu notification-div col-sm-3">
        <ul class="nav navbar-nav" style="margin-top: 3%;margin-left: 30%;">
          <!-- Messages: style can be found in dropdown.less-->
          {% if fieldsight_message.count %}
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">{{fieldsight_message.count}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">{% trans 'You have' %} {{fieldsight_message.count}} {% trans 'messages' %}</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                    {% for msg in fieldsight_message %}
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>

                        <small><i class="fa fa-clock-o"></i> {{msg.date}}</small>
                      </h4>
                      <p>{{msg.msg_content}}</p>
                    </a>
                  </li>
                    {% endfor %}
                  <!-- end message -->



                </ul>
              </li>
              <li class="footer"><a href="{% url 'eventlog:message-list' %}">See All Messages</a></li>
            </ul>
          </li>
            {% endif %}
            <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning" id="noti-count">{% if notifications.count %} {{notifications.count }} {% endif %}</span>
            </a>
              {% if notifications.count %}
            <ul class="dropdown-menu">
                <ul class="menu" id="notification-ul">
                    {% for not in notifications %}
                  <li>
                    <a href="{{not.get_absolute_url}}">
                      <i class="fa fa-info-circle fa-1"></i> {{not.description}}
                    </a>
                  </li>
                {% endfor %}
                </ul>
              </li>
              <li class="footer"><a href="{% url 'eventlog:notification-list' %}">{% if notifications.count %} {% trans 'View all' %} {% endif %}</a></li>
            </ul>
              {% endif %}
          </li>
        </ul>
      </div>
       <div class="dropdown pull-right top-menu top-nav clearfix">
        
        <!--<li>-->
            <!--<input type="text" class="form-control search" placeholder=" Search">-->
        <!--</li>-->
        <!-- user login dropdown start-->
        
            <a  href="#" data-toggle="dropdown" class="dropdown-toggle" id="fs_drop_down"  border-radius: 4px;">
                <img src="{{request.user.user_profile.profile_picture.url}}">
                <span class="username1"> {% trans request.user.username %}</span>
                <b class="caret" style="color: white;"></b>
            </a>
            <ul class="dropdown-menu dropdown-menu-right extended logout" id="fs_drop_menu">
                        {% if request.role %}
                            <li >
                                <a href="#" style="background: #e4e8ef; border-radius: 4px !important;"><h6>{% trans 'Using as' %} {{ request.role.group }}
                                    {% if request.site%}
                                    {% trans 'at Site ' %}{{request.site}}
                                    {% endif %}
                                    {% if request.project%}
                                    {% trans 'at Project ' %}{{request.project}}
                                    {% endif %}
                                    {% if request.organization%}
                                    {% trans 'at Org ' %} {{request.organization}}
                                    {% endif %}
                                    </h6>

                                </a>
                            </li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        {% for role in request.user.user_roles.all %}
                            {% if role.id != request.role.id %}
                                <li >
                                    <a href="{% url 'role:set_role' role.id %}">{% trans 'Use as' %} {{ role.group }}
                                    {% if role.site%}
                                    {% trans 'at Site ' %}{{role.site}}
                                    {% endif %}
                                    {% if role.project%}
                                    {% trans 'at Project ' %}{{role.project}}
                                    {% endif %}
                                    {% if role.organization%}
                                    {% trans 'at Org ' %} {{role.organization}}
                                    {% endif %}
                                    
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if request.user.roles.all.count > 1 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                <li><a href="{% url 'users:profile' 0 %}"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a href="{% url 'auth_password_change' %}"><i class="fa fa-cog"></i> Change Password</a></li>
                <li><a href="{% url 'auth_logout' %}"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        
        <!-- user login dropdown end -->
        <!-- <li>
            <div class="toggle-right-box">
                <div class="fa fa-bars"></div>
            </div>
        </li> -->
          </div>

             
</div>
<!--logo end-->

<!-- <div class="nav notify-row" id="top_menu">
    
    <ul class="nav top-menu">
        <li>
            {% block logo %}
                <img src="{{STATIC_URL}}images/logo1.png" alt="">
            {% endblock %}
        </li>    
    </ul>
    
</div> -->
<ul class="top-nav main_ul clearfix" style="padding-right: 31px !important;">



    <!--search & user info start-->
    
    <!--search & user info end-->
</ul>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a  href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard"></i>
                        <span>{% trans 'Dashboard' %}</span>
                    </a>
                </li>

                {% ifrole "admin" %}

                 <li class="sub-menu">
                    <a href="{% url 'fieldsight:organizations-list' %}">
                        <i class="fa fa-building-o"></i>
                        <span>{% trans 'Organization' %}</span>
                    </a>
                    
                </li>
                {% endrole %}
                {% ifrole "Organization" %}
               <li class="sub-menu">
                    <a href="{% url 'fieldsight:projects-list' %}">
                        <i class="fa fa-building-o"></i>
                        <span>{% trans 'Projects' %}</span>
                    </a>
                    
                </li>
                {% endrole %}

                {% ifrole "admin" %}

                <li class="sub-menu">
                    <a href="{% url 'users:users' %}">
                        <i class="fa fa-user"></i>
                        <span>{% trans 'Users' %}</span>
                    </a>

                </li>



                {% endrole %}
                <!--{% ifrole "Reviewer" %}-->
                 <!--<li class="sub-menu">-->
                    <!--<a href="{% url 'fieldsight:sites-list' %}">-->
                        <!--<i class="fa fa-picture-o"></i>-->
                        <!--<span>{% trans 'Sites' %}</span>-->
                    <!--</a>-->

                <!--</li>-->

                <!--{% endrole %}-->
                {% ifrole "Site" %}
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-file-text-o"></i>
                        <span>{% trans 'Forms' %}</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ koboform_url }}#/forms/new">{% trans 'Create New' %}</a></li>
                        <li><a href="{% url 'forms:forms-list' %}">{% trans 'My Forms' %}</a></li>

                    </ul>
                </li>
                 <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-file-text-o"></i>
                        <span>{% trans 'Library' %}</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{% url 'forms:library-forms-list' %}">{% trans 'Library Forms' %}</a></li>
                        <li><a href="{% url 'forms:group-list' %}">{% trans 'Stages Library' %}</a></li>

                    </ul>
                </li>
                {% endrole %}

            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>


<!--main content start-->
<section id="main-content">
        <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                      

                        
                        <div class="tools pull-right">

                         {% block head %}
                           
                        {% endblock %}
                            
                         </div>
                    </header>
                    
                    <div class="panel-body">

    {% block messages %}
        {% if messages %}
            <script>
                $(function () {
                    {% for message in messages %}
                        App.notifyUser('{{ message|remove_lines|safe }}', '{{ message.tags|last_word }}');
                    {% endfor %}
                });
            </script>
        {% endif %}
    {% endblock %}
                        {% block content %}
                            This is a sample page
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        <div class="total_all_total">
          {% block total_users %}           
          {% endblock %}
        </div>

        <div class="flagged_forms_all">
          {% block all_flagged_forms %}              
          {% endblock %}
        </div>
        <div class="diagrams">
           {% block all_diagrams %}              
          {% endblock %} 
        </div>

        <!-- <div class="chat-widget">
            <div class="container1">
   <div class="row">
      <div class=" col-md-offset-6 col-md-6">
         <div class="panel panel-primary panel-chat mini">
         <a href="#" class="chatminimize" onclick="return false">
            <div class="panel-heading heading1-chat ">
             <span class="glyphicon glyphicon-comment"></span> Chat</a>
                
               <div class="btn-group pull-right drop-btn">
                  <button type="button" class="btn btn-warning btn-xs dropdown-toggle" data-toggle="dropdown"> <span class="glyphicon glyphicon-chevron-down"></span> </button> 
                  <ul class="dropdown-menu slidedown">
                     <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh"> </span>Refresh</a></li>
                     <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign"> </span>Available</a></li>
                     <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove"> </span>Busy</a></li>
                     <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span> Away</a></li>
                     <li class="divider"></li>
                     <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span> Sign Out</a></li>
                  </ul>
               </div>
            </div>
            
                <div class="panel-body chat-body">
                   <ul class="chat">
                      <li class="left clearfix">
                         <span class="chat-img pull-left"> <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /> </span> 
                         <div class="chat-body clearfix">
                            <div class="header1"> <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span>12 mins ago</small> </div>
                            <p class="main-message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                         </div>
                      </li>
                      <li class="right clearfix">
                         <span class="chat-img pull-right"> <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" /> </span> 
                         <div class="chat-body clearfix">
                            <div class="header1">  <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>13 mins ago</small> <strong class="pull-right primary-font">Bhaumik Patel</strong> </div>
                            <p class="main-message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                         </div>
                      </li>
                      <li class="left clearfix">
                         <span class="chat-img pull-left"> <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" /> </span> 
                         <div class="chat-body clearfix">
                            <div class="header1"> <strong class="primary-font">Jack Sparrow</strong> <small class="pull-right text-muted"> <span class="glyphicon glyphicon-time"></span>14 mins ago</small> </div>
                            <p class="main-message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                         </div>
                      </li>
                      <li class="right clearfix">
                         <span class="chat-img pull-right"> <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" /> </span> 
                         <div class="chat-body clearfix">
                            <div class="header1"> <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small> <strong class="pull-right primary-font">Sushila pokhrel</strong> </div>
                            <p class="main-message"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales. </p>
                         </div>
                      </li>
                   </ul>
                </div>
                <div class="panel-footer">
                   <div class="input-group"> <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..."  name="message-input" /> <span class="input-group-btn"> <button class="btn btn-warning btn-sm" id="btn-chat"> Send</button> </span> </div>
                </div>
            
         </div>
      </div>
   </div>
</div> -->

        
        </div>
        </section>
    </section>

</body>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bs3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcjqaccordion.2.7.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><!--<script language="javascript" type="text/javascript" type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/excanvas.min.js"></script>--><![endif]-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/skycons/skycons.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo/jquery.scrollTo.js"></script>-->
<!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/clndr.js"></script>-->
<!--<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/moment-2.2.1.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/evnt.calendar.init.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/gauge/gauge.js"></script>-->
<!--clock init-->
<script type="text/javascript" src="{{ STATIC_URL }}d3/d3.js"></script>
<!--<script type="text/javascript" src="{{ STATIC_URL }}nvd3/build/nv.d3.min.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}js/css3clock/js/css3clock.js"></script>
<!--Easy Pie Chart-->
<script type="text/javascript" src="{{ STATIC_URL }}js/easypiechart/jquery.easypiechart.js"></script>
<!--Sparkline Chart-->
<script type="text/javascript" src="{{ STATIC_URL }}js/sparkline/jquery.sparkline.js"></script>
<!--Morris Chart-->
<script type="text/javascript" src="{{ STATIC_URL }}js/morris-chart/morris.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/morris-chart/raphael-min.js"></script>
<!--jQuery Flot Chart-->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.tooltip.min.js"></script> -->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.resize.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.pie.resize.js"></script>-->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.animator.min.js"></script>-->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.growraf.js"></script> -->
<!--<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>-->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.customSelect.min.js" ></script>
<!--dynamic table-->
<!-- <script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/advanced-datatable/js/jquery.dataTables.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}/bs3/js/bootstrap.js"></script> -->
<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/data-tables/DT_bootstrap.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>

<!--dynamic table initialization -->
<!-- <script src="{{ STATIC_URL }}js/dynamic_table_init.js"></script> -->
<!--common script init for all pages-->
<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
 -->
<script type="text/javascript"   src="{{ STATIC_URL }}slick/slick.min.js"></script>
<script>

$('.panel-chat >.panel-heading> .chatminimize').click(function(){

    if($(this).parent().parent().hasClass('mini'))
    {
        console.log('clicked');
        $(this).parent().parent().removeClass('mini').addClass('normal');
        $('.panel-chat > .panel-body').removeClass('mini-1-body').addClass('normal-1-body').show();
        $('.panel-chat > .panel-footer').removeClass('mini-1-fotter').addClass('normal-1-fotter').show();
    }

    else
    {
        $(this).parent().parent().removeClass('normal').addClass('mini');
        $('.panel-chat > .panel-body').removeClass('normal-1-body').addClass('mini-1-body');
        $('.panel-chat > .panel-footer').removeClass('normal-1-fotter').addClass('mini-1-fotter');

        setTimeout(function() {
         $('.panel.panel-chat > .panel-body').hide();
         $('.panel.panel-chat > .panel-footer').hide();
            }, 500);
        
    }

});




     $('.popop-gallery').slick({
      dots: true,
      infinite: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
</script>
 {%block extrascript %}
    {% endblock %}
</html>
