{% load staticfiles i18n filters %}
{% kwacro page-title %}
    {% block page-title %}{% endblock %}
{% endkwacro %}
   
<!DOCTYPE html>
<html lang="en">
<head>
 {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">

    <meta http-equiv=”X-UA-Compatible” content=”IE=EmulateIE9”>
    <meta http-equiv=”X-UA-Compatible” content=”IE=9”>

    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon-32x32.png" sizes="32x32">
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}images/favicon-16x16.png" sizes="16x16">
    <!-- <img src="{{STATIC_URL}}images/logo1.png" / > -->
    <title>
        {% block whole_title %}

            {% block title %}{% usekwacro page-title %}{% endblock %} | {% trans 'Fieldsight' %}

        {% endblock %}
    </title>
    <!--Core CSS -->
    <link rel="stylesheet" href="{% static 'bs3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui-1.10.1.custom.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-reset.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'js/jvector-map/jquery-jvectormap-1.2.2.css' %}">
    <link rel="stylesheet" href="{% static 'css/clndr.css' %}">
    <link rel="stylesheet" href="{% static 'js/css3clock/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'js/morris-chart/morris.css' %}">
    <!--dynamic table-->
    <link href="{% static 'js/advanced-datatable/css/demo_page.css' %}" rel="stylesheet" />
    <link href="{% static 'js/advanced-datatable/css/demo_table.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'js/data-tables/DT_bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}" />
    <link rel="stylesheet" href="{% static 'css/selectize.default.css' %}">
    <link rel="stylesheet" href="{% static 'css/selectize.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}"> -->


    {%block extracss %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}">

<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/libs/selectize.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/knockout.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/base.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ko_lib.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/selectize.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/bootstrap-notify.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/material.min.js" ></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/ripples.min.js" ></script>
    <!--clock css-->
    <!--Morris Chart CSS -->
    <!-- Custom styles for this template -->
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
   
</head>
<body>


<section id="container">
<!--header start-->
<header class="header fixed-top clearfix">
<!--logo start-->
<div class="brand">

    <a href="#" class="logo">
        <!-- <img src="images/logo.png" alt=""> -->
        <img src="{{STATIC_URL}}images/logo1.png"/>
        
    </a>
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars"></div>
    </div>
</div>
<!--logo end-->

<!-- <div class="nav notify-row" id="top_menu">
    
    <ul class="nav top-menu">
        <li>
            {% block logo %}
                <img src="{{STATIC_URL}}images/logo1.png" alt="">
            {% endblock %}
        </li>    
    </ul>
    
</div> -->
<div class="top-nav clearfix">
    <!--search & user info start-->
    <ul class="nav pull-right top-menu">
        <li>
            <input type="text" class="form-control search" placeholder=" Search">
        </li>
        <!-- user login dropdown start-->
        <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <img src="{{request.user.user_profile.profile_picture.url}}">
                <span class="username"> {% trans request.user.username %}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended logout">
                        {% if request.role %}
                            <li>
                                <a href="#">{% trans 'Using as' %} {{ request.role.group }}
                                    {% if request.site%}
                                    {% trans 'at Site' %}{{request.site}}
                                    {% endif %}
                                    {% if request.project%}
                                    {% trans 'at Project' %}{{request.project}}
                                    {% endif %}
                                    {% if request.organization%}
                                    {% trans 'at Org' %} {{request.organization}}
                                    {% endif %}

                                </a>
                            </li>
                        <li role="separator" class="divider"></li>
                        {% endif %}

                        {% for role in request.user.user_roles.all %}
                            {% if role.id != request.role.id %}
                                <li>
                                    <a href="{% url 'role:set_role' role.id %}">{% trans 'Use as' %} {{ role.group }}
                                    {% if role.site%}
                                    {% trans 'at Site' %}{{role.site}}
                                    {% endif %}
                                    {% if role.project%}
                                    {% trans 'at Project' %}{{role.project}}
                                    {% endif %}
                                    {% if role.organization%}
                                    {% trans 'at Org' %} {{role.organization}}
                                    {% endif %}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}

                        {% if request.user.roles.all.count > 1 %}
                            <li role="separator" class="divider"></li>
                        {% endif %}
                <li><a href="{% url 'users:profile'%}"><i class=" fa fa-suitcase"></i>Profile</a></li>
                <li><a href="{% url 'onadata.apps.main.views.profile_settings' request.user.username %}"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="{% url 'auth_logout' %}"><i class="fa fa-key"></i> Log Out</a></li>
            </ul>
        </li>
        <!-- user login dropdown end -->
        <!-- <li>
            <div class="toggle-right-box">
                <div class="fa fa-bars"></div>
            </div>
        </li> -->
    </ul>
    <!--search & user info end-->
</div>
</header>
<!--header end-->
<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a  href="{% url 'dashboard' %}">
                        <i class="fa fa-dashboard"></i>
                        <span>{% trans 'Dashboard' %}</span>
                    </a>
                </li>

                {% ifrole "admin" %}

                 <li class="sub-menu">
                    <a href="{% url 'fieldsight:organizations-list' %}">
                        <i class="fa fa-building-o"></i>
                        <span>{% trans 'Organization' %}</span>
                    </a>
                    
                </li>
                {% endrole %}
                {% ifrole "Organization" %}
               <li class="sub-menu">
                    <a href="{% url 'fieldsight:projects-list' %}">
                        <i class="fa fa-building-o"></i>
                        <span>{% trans 'Projects' %}</span>
                    </a>
                    
                </li>
                {% endrole %}

                {% ifrole "Project" %}
                <li class="sub-menu">
                    <a href="{% url 'fieldsight:sites-list' %}">
                        <i class="fa fa-picture-o"></i>
                        <span>{% trans 'Sites' %}</span>
                    </a>
                    
                </li>

                <li class="sub-menu">
                    <a href="{% url 'fieldsight:user-list' %}">
                        <i class="fa fa-user"></i>
                        <span>{% trans 'Users' %}</span>
                    </a>

                </li>



                {% endrole %}
                {% ifrole "Site" %}
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-file-text-o"></i>
                        <span>{% trans 'Forms' %}</span>
                    </a>
                    <ul class="sub">
                        <li><a href="{{ koboform_url }}#/forms/new">{% trans 'Create New' %}</a></li>
                        <li><a href="{% url 'forms:library-forms-list' %}">{% trans 'Library Forms' %}</a></li>
                        <li><a href="{% url 'forms:forms-list' %}">{% trans 'My Forms' %}</a></li>

                    </ul>
                </li>
                {% endrole %}

            </ul>            </div>
        <!-- sidebar menu end-->
    </div>
</aside>


<!--main content start-->
<section id="main-content">
        <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                      <ol class="breadcrumb hidden-print">
            {% block breadcrumbs_container %}
                <li><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
                {% block breadcrumbs %}
                    <li>{% usekwacro page-title %}</li>{% endblock %}
            {% endblock %}
        </ol>

                        
                        <span class="tools pull-right">

                         {% block head %}
                           
                        {% endblock %}
                            
                         </span>
                    </header>
                    <div class="panel-body">

    {% block messages %}
        {% if messages %}
            <script>
                $(function () {
                    {% for message in messages %}
                        bsalert.message('{{ message|remove_lines|safe }}', '{{ message.tags|last_word }}');
                    {% endfor %}
                });
            </script>
        {% endif %}
    {% endblock %}
                        {% block content %}
                            This is a sample page
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
        <div class="total_all_total">
          {% block total_users %}           
          {% endblock %}
        </div>

        <div class="flagged_forms_all">
          {% block all_flagged_forms %}              
          {% endblock %}
        </div>
        </section>
    </section>

</body>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui/jquery-ui-1.10.1.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bs3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dcjqaccordion.2.7.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nicescroll.js"></script>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="{{ STATIC_URL }}js/skycons/skycons.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollTo/jquery.scrollTo.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/clndr.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/calendar/moment-2.2.1.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/evnt.calendar.init.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jvector-map/jquery-jvectormap-1.2.2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jvector-map/jquery-jvectormap-us-lcc-en.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/gauge/gauge.js"></script>
<!--clock init-->
<script type="text/javascript" src="{{ STATIC_URL }}js/css3clock/js/css3clock.js"></script>
<!--Easy Pie Chart-->
<script type="text/javascript" src="{{ STATIC_URL }}js/easypiechart/jquery.easypiechart.js"></script>
<!--Sparkline Chart-->
<script type="text/javascript" src="{{ STATIC_URL }}js/sparkline/jquery.sparkline.js"></script>
<!--Morris Chart-->
<script type="text/javascript" src="{{ STATIC_URL }}js/morris-chart/morris.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/morris-chart/raphael-min.js"></script>
<!--jQuery Flot Chart-->
<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.tooltip.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.resize.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.pie.resize.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.animator.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot-chart/jquery.flot.growraf.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.customSelect.min.js" ></script>
<!--dynamic table-->
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/owl.carousel.min.js"></script>

<!--dynamic table initialization -->
<script src="{{ STATIC_URL }}js/dynamic_table_init.js"></script>
<!--common script init for all pages-->
<script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>

 {%block extrascript %}
    {% endblock %}
</html>
