{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block page-title %}{% trans 'Dashboard' %}{% endblock %}

{%block extracss %}
    
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}"></link>
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}"></link>
{% endblock %}

{% block content %}


<div class="row">
  <div class="map-container-fieldsight">
    <div id="map"></div>  
    <div class="popop-container">
        <h3 class="popop-head"></h3>
        <p class="address-popop"></p>
        <p class="contact-popop">01-1234567</p>  
        <div class="popop-gallery">
            
              
                <!-- <div class="item"><img src="{{STATIC_URL}}images/kobocat_photo.png" alt="Owl Image"></div>
                <div class="item"><img src="{{STATIC_URL}}images/kobocat_photo.png" alt="Owl Image"></div>
                <div class="item"><img src="{{STATIC_URL}}images/kobocat_photo.png" alt="Owl Image"></div>
                <div class="item"><img src="{{STATIC_URL}}images/kobocat_photo.png" alt="Owl Image"></div> -->
                
        </div>   
    </div>
  </div>  
</div>

{% endblock %}

{% block total_users %}
<div class="row">
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
            <div class="mini-stat-info">
                <span>{{total_users}}</span>
                Total Users
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon tar"><i class="fa fa-building-o"></i></span>
            <div class="mini-stat-info">
                <span>{{total_organizations}}</span>
                Total Organizations
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon pink"><i class="fa fa-building-o"></i></span>
            <div class="mini-stat-info">
                <span>{{total_projects}}</span>
                Total Projects
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon green"><i class="fa fa-picture-o"></i></span>
            <div class="mini-stat-info">
                <span>{{total_sites}}</span>
                Total Sites
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block all_flagged_forms %}
  <div class="row">

    <div class="col-md-3">
        <div class="mini-flagged-forms yellow-flagged">
            <div class="mini-stat-info">
                <span>{{flagged}}</span>
                Flagged forms
            </div>        
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-flagged-forms green-flagged">
            <div class="mini-stat-info">
                <span>{{approved}}</span>
                Approved froms
            </div>        
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-flagged-forms red-flagged">
            <div class="mini-stat-info">
                <span>{{rejected}}</span>
                Rejected forms
            </div>        
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-flagged-forms purple-flagged">
            <div class="mini-stat-info">
                <span>{{outstanding}}</span>
                outstanding forms
            </div>        
        </div>
    </div>  


  </div>
{% endblock %}







  



