<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="assets/css/style.css">
        <script src="assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="login-wrap">
        <div class="login-bg">
          <img src="assets/img/bg-login.png">
        </div>
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
              <div class="login-section"> 
                <div class="row">
                  <div class="col-lg-5">
                    <div class="sec-left text-center">
                      <a href="#" title="" target="">
                        <img src="assets/img/fieldsight.png" alt="fieldsight" height="100">
                      </a>
                      <p class="margin-top d-none d-md-block">
                        FieldSight is the first humanitarian digital platform designed for project monitoring and infrastructure quality assurance. The platform is now being used to monitor more than 50,000 houses.
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-7">
                    <div class="sec-right">
                        <li class="nav-item">
                          <a class="nav-link active" id="pills-signup-tab" data-toggle="pill" href="#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="false">Register</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                      <div class="tab-pane fade" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
                        <form id="user_reg_form" method="POST">
                          {% csrf_token %}
                          <div class="form-group">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" id="username" name="username" value="{{ username }}" autofocus required>
                          </div>

                          <div class="form-group">
                              <label for="firstname">First Name</label>
                              <input type="text" class="form-control" id="firstname" name="firstname" value="{{ firstname }}" required>
                          </div>
                          <div class="form-group">
                              <label for="lastname">Last Name</label>
                              <input type="text" class="form-control" id="lastname" name="lastname" value="{{ lastname }}" required>
                          </div>
                          <div class="form-group">
                              <label for="password1">Your password</label>
                              <input type="password" class="form-control" id="password1" name="password1" value="" required>
                          </div>
                          <div class="form-group">
                              <label for="password2">One more time?</label>
                              <input type="password" class="form-control" id="password2" name="password2" value="">
                          </div>
                          <center><div class="form-group" id="alert" style="color: red;">

                              {% if status == "error-1" %}
                                {% trans 'Username must only include alpha-numeric characters.' %}
                              {% endif %}

                              {% if status == "error-2" %}
                                {% trans 'Username already taken' %}
                              {% endif %}

                              {% if status == "error-3" %}
                                {% trans 'Username must only include small letters' %}
                              {% endif %}

                              {% if status == "error-4" %}
                                {% trans 'Passwords did not match.' %}
                              {% endif %}


                              {% if status == "error-5" %}
                                {% trans 'Password must be atleast 8 characters long.' %}
                              {% endif %}

                              {% if status == "error-6" %}
                                {% trans 'Username must be atleast 6 characters long.' %}
                              {% endif %}

                            </div></center>
                          <button onclick="validatepass()" class="btn btn-secondary" type="button" value="Login" ><i class="la la-user-plus"></i> Register</button>
                        </form>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script>
    function validatepass(){

      var pass1 = document.getElementById("password1").value;
      var pass2 = document.getElementById("password2").value;
      var username = document.getElementById("username").value;
      var firstname = document.getElementById("firstname").value;
      var lastname = document.getElementById("lastname").value;

      if(username.length < 1 || firstname.length < 1 || lastname.length < 1){
        document.getElementById("alert").innerHTML = "* fields are mandatory.";
      }
      else{
        document.getElementById("user_reg_form").submit(); 

      }

      // else if(username.length < 6){
      //   document.getElementById("alert").innerHTML = "Username must be at least 6 characters long.";
      // }
      // else if(pass1.length < 8){
      //   document.getElementById("alert").innerHTML = "Password must be atleast 8 characters long.";
      // }
      
      // else
      // {
      //   if(pass1 == pass2){
        
      //     document.getElementById("user_reg_form").submit(); 
        
      //   }
      //   else{
      //      document.getElementById("alert").innerHTML = "Passwords did not match.";
      //   }

      // }
    }

    function validateUsername(){

    }

   
  </script>

    <script>

      
      $(document).ready(function(){
        vph = $(window).height();
        $(".login-wrap").css("min-height", vph);
        //Converting img tag to parent div bg
        var imgSrc = $(".login-bg>img").attr("src");
            $('.login-bg').css({"background" : "url("+imgSrc+")", "background-position": "center", "background-size": "cover"});
            $(".login-bg>img").remove();


            //reset

            
      });
      jQuery(window).on('resize', function() {
        vph = $(window).height();
        $(".login-wrap").css("min-height", vph);
      });

       $("#help-me").click(function(){
        $('#pills-login').removeClass('active show');
        $('#pills-signup').removeClass('active show');
        $("#pills-login-tab").removeClass('active');
        $('#pills-reset').addClass('active show');

        //
        var lHeight, rHeight;
        lHeight = $(".sec-left").outerHeight();
        $(".sec-right" ).css("min-height", lHeight);
      });


      jQuery(document).on('ready', function() {
            jQuery(window).on('resize', function() {
                if(jQuery(document).width() > 479) {
                  

            //Equal Height
            function fn_login_eqheight(){
              var lHeight, rHeight;
          lHeight = $(".sec-left").outerHeight();
          rHeight = $(".sec-right").outerHeight();
          $(".sec-left" ).css("min-height", rHeight);
            }

            fn_login_eqheight();
            
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          fn_login_eqheight();
        })
        
        //Background Scrolling Effect
        var lFollowX = 0,
          lFollowY = 0,
          x = 0,
          y = 0,
          friction = 1 / 30;

        function moveBackground() {
          x += (lFollowX - x) * friction;
          y += (lFollowY - y) * friction;
          
          translate = 'translate(' + x + 'px, ' + y + 'px) scale(1.1)';

          $('.login-bg').css({
            '-webit-transform': translate,
            '-moz-transform': translate,
            'transform': translate
          });

          window.requestAnimationFrame(moveBackground);
        }

        $(window).on('mousemove click', function(e) {

          var lMouseX = Math.max(-100, Math.min(100, $(window).width() / 2 - e.clientX));
          var lMouseY = Math.max(-100, Math.min(100, $(window).height() / 2 - e.clientY));
          lFollowX = (20 * lMouseX) / 100; // 100 : 12 = lMouxeX : lFollow
          lFollowY = (10 * lMouseY) / 100;

        });

        moveBackground();
                }
            }).trigger('resize'); // Trigger resize handlers.       
        });
    </script>
    </body>
</html>