<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body background="bgw.png">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="col-md-6 col-md-offset-3 ">
  <div class="panel panel-primary class" >
    <div class="panel-heading "><img src="logo1.png" class="img-responsive center-block" height="210px" width="210pxs"></div>

  <form class="panel-body text-center" action="/action_page.php">
  
<font face="courier" size="3">You Have Been invited in field site by ..... for ..... Role in ........ .</font>
	<input type="hidden" name="response" id="response">
	          <div class="form-group">        
      <div class="col-sm-offset-3 col-sm-7">
         <ul class="nav navbar-nav navbar-center">

                  <form id="action-form" method="POST">
					{% csrf_token %}
						<input type="hidden" name="response" id="response">
						<input type="button" onclick="setvalue('accept')" value="Accept">
						<input type="button" onclick="setvalue('decline')" value="Decline">
					</form>
 

        </ul
      </div>
    </div>
  
  </form>

	
	 
  </div>
</div>
</div>
</div>
</body>
<script type="text/javascript">
	function setvalue(status){
		document.getElementById('response').value = status;
		document.getElementById('action-form').submit();
		alert();
	}
</script>
</html>



