	<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3>{% trans 'Members' %}</h3></i>
                        <div class="panel-heading-right">
							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchOrganization" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-search"></i>{% trans 'Search' %}</a>

							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#addfriend" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-plus"></i>{% trans 'Add Member' %}</a>


						</div>
                                       </header>
                    <div class="panel-body">

								<div class="collapse margin-top" id="searchOrganization">
							<form class="padding">
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
										  <span class="input-group-btn">
											<button class="btn btn-primary" type="button"><i class="fa fa-search"></i>{% trans 'Search' %}</button>
										  </span>
										</div>
									</div>

									<div class="col-md-3"></div>
								</div>
							</form>
						</div>
						 <div class="panel-body">

								<div class="collapse margin-top" id="addfriend">
							<form class="padding">
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="Invite Friend" aria-label="Invite">
										  <span class="input-group-btn">
											<button class="btn btn-primary" type="button"><i class="fa fa-plus"></i>{% trans 'Invite' %}</button>
										  </span>
										</div>
									</div>

									<div class="col-md-3"></div>
								</div>
							</form>
						</div>
						<!--Member Listing-->
						<div class="row">
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap  margin-top clearfix">

										<img style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans 'Member Name' %}</h4>
										<p>{% trans ' E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans 'Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
											<p> {% trans '(+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4{% trans '>Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans ' Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans ' Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans ' Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans ' Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans ' Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans ' Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
										<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img  style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans ' Member Name' %}</h4>
										<p> {% trans ' E-mail Address' %}</p>
											<p> {% trans '(+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans 'Member Name' %}</h4>
										<p> {% trans ' E-mail Address' %}</p>
											<p>{% trans ' (+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

										<img style="float:left" src="assets/img/adm.png" alt="" width="60" height="60">

									<div class="basic-info">
										<h4>{% trans 'Member Name' %}</h4>
										<p>{% trans '  E-mail Address' %}</p>
										<p>{% trans '(+977)-98XXXXXXXX' %}</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				<div class="row">

			</div>