{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Manage People' %}{% endblock %}

{% block head %}
{% endblock %}
{% block breadcrumbs %}
{% if level == "0" %}
<li><a href="{% url 'fieldsight:site-dashboard' pk %}">
     {% trans 'Site Dashboard' %}</a></li>
{% endif %}
<li>{% trans 'Manage People' %}</li>
{% endblock %}

{% block kocript %}
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/manage_people_site.js"></script>

<script>

$(document).ready(function() {
var pk = "{{pk}}";
var level = "{{level}}";
var organization = "{{organization}}";
vm = new ManagePeopleViewModel(pk, level, organization);
 ko.applyBindings(vm);
});

</script>
{% endblock %}

{% block content %}
<div class="modal" tabindex="-1" role="dialog" data-bind="modal:add_people_form_visibility">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'Manage People ' %}</h4>
      </div>
      <div class="modal-body">
          <div data-bind="with:new_role">
              <div class="box-user-pop box-info">
            <div class="box-header with-border">
             <button class="btn btn-primary square" data-bind="click:$root.addUser">{% trans 'Create New User' %}</button>
            </div>
              
                  <div class="available-users"  data-bind="visible:$root.available_users().length">

                  <h4> {% trans 'Select Users '%} </h4>

                  <div class="current-users-list row" data-bind="foreach:$root.available_users">

                    <div class="current-person col-sm-4 " style="/*width: 24% !important;*/margin-right: 3px !important;margin-left: 9px;" data-bind="click:$root.setSelected">
                    <div class="user-image-current">
                      <img  data-bind="attr:{src: profile_picture}" class="modal-image" />
                    </div>
                    <div class="user-name-position">
                      <p class="cu-name" data-bind="text:full_name"></p>
                      <p class="cu-position" data-bind="text:username"></p>
                      <p class="cu-position" data-bind="text:email"></p>
                    </div>

                    <div class="clearfixx"></div>
                  </div>

                </div>
                      </div>

                      <div class="box-body">
                  <div class="selected-users" data-bind="visible:$root.selected_users().length" >
                  <h4> {% trans 'Current Selection'%} </h4>

                  <div class="current-users-list row" data-bind="foreach:$root.selected_users">

                    <div class="current-person col-sm-4" style="/*width: 24% !important;*/margin-right: 3px !important;margin-left: 9px;background: #dadbec;"data-bind="click:$root.setSelected">
                    <div class="user-image-current">
                      <img  data-bind="attr:{src: profile_picture}" class="modal-image" />
                    </div>
                    <div class="user-name-position">
                      <p class="cu-name" data-bind="text:full_name"></p>
                      <p class="cu-position" data-bind="text:username"></p>
                      <p class="cu-position" data-bind="text:email"></p>
                      
            </div>
                    </div>

                    
                  </div>

                </div>
                      </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <button class="btn btn-primary pull-right"  data-bind="click:$root.doAssign">{% trans 'Assign' %}</button>
                <button class="btn btn-danger cancel" data-bind="click:$root.cancelAssign">{% trans 'Cancel' %}</button>
              </div>
          </div>

          </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-2" role="dialog" data-bind="modal:add_user_form_visibility">
  <div class="modal-dialog form-modal" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'New User'%}</h4>
      </div>
      <div class="modal-body">
          <div data-bind="with:new_user">
              <div class="box-user-pop box-info">
            <div class="box-header with-border">
             <h4  class="box-title box-warning" data-bind="text:error"></h4>
             <div class="gap">
             </div>
            </div>
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="username" class="col-sm-2 control-label">{% trans 'Username' %}</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="username" placeholder="username" data-bind="value:username" required>
                  </div>
                </div>
                  <div class="form-group">
                  <label class="col-sm-2 control-label">{% trans 'First Name' %}</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control"  placeholder="ex:John" data-bind="value:first_name" required>
                  </div>
                </div>
                  <div class="form-group">
                  <label class="col-sm-2 control-label">{% trans 'Last Name' %}</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control"  placeholder="ex:watson" data-bind="value:last_name" required>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">{% trans 'Email' %}</label>

                  <div class="col-sm-8">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="example@mail.com" data-bind="value:email" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-2 control-label">{% trans 'Password' %}</label>

                  <div class=" col-sm-8">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password" data-bind="value:password" required>
                  </div>
                </div>
                  <div class="form-group">
                  <label for="inputPassword2" class="col-sm-2 control-label">{% trans 'Password Confirm' %}</label>

                  <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password Confirm" data-bind="value:cpassword" required>
                  </div>
                </div>

              </div>
              <div class="box-footer">
                  <button  class="btn btn-danger form-cancel" data-bind="click:$root.cancelUser">{% trans 'Cancel' %}</button>
                <button  class="btn btn-info pull-right" data-bind="click:$root.saveUser, visible:valid">{% trans 'Create' %}</button>
              </div>
            </form>
          </div>

          </div>
      </div>
    </div>
  </div>
</div>


<div class="modal" tabindex="-1" role="dialog" data-bind="modal:detail_people_form_visibility">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'User Detail' %}</h4>
      </div>
      <div class="modal-body">
          <div class="box-user-pop box-primary" data-bind="with:role">
            <div class="box-body">
              <img class="profile-user-img img-responsive img-circle" data-bind="attr:{src: user().profile_picture}">

              <h3 class="profile-username text-center"></h3>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>{% trans 'Full Name' %}</b> <span class="cu-name" data-bind="text:user().full_name"></span>
                </li>
                  <li class="list-group-item">
                  <b>{% trans 'Email' %}</b> <span class="cu-name" data-bind="text:user().email"></span>
                </li>
                  <li class="list-group-item">
                  <b>{% trans 'Username' %}</b> <span class="cu-name" data-bind="text:user().username"></span>
                </li>

              </ul>
            </div>
          </div>

          </div>
      </div>
    </div>
  </div>

<div class="row">
    {% csrf_token %}
</div>

<div class="row" data-bind="with:siteVm ,visible: currentVm() == 'site'" style="display:none;">

    <div class="btn-group-nav" role="group" aria-label="...">
      <button type="button" class="btn" data-bind="css: {'btn-primary': group() == 'Site Supervisor', 'btn-default': !group() == 'Site Supervisor'}, click: function () {setSelectedGroup('Site Supervisor')}">{% trans 'Supervisors' %}</button>
      <button type="button" class="btn" data-bind="css: {'btn-primary': group() == 'Reviewer', 'btn-default': !group() == 'Reviewer'}, click: function () {setSelectedGroup('Reviewer')}">{% trans 'Reviewers' %}</button>
    </div>
    <div class="gap">
      
    </div>

    <div class="col-sm-12" data-bind="visible :group() =='Site Supervisor'">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-2">
                    <button class="btn btn-primary square sq" data-bind="click:add">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                            {% trans 'Add New' %}
                    </button>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="current-input" placeholder="Search Supervisors" data-bind="value:search_key_supervisor, valueUpdate:'afterkeydown'">
                    <button type="submit" class="current-btn "  >
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>

                </div>
            </div>
        </div>
        <h4>Current Site Supervisors</h4>
      <div class="currentuser-block">
        <div class="current-users-list row" data-bind="foreach:supervisors">

            <div class="current-person col-sm-3">
            <div class="user-image-current">
              <img  data-bind="attr:{src: user().profile_picture}" />
            </div>
            <div class="user-name-position" data-bind="click:detail">
              <p class="cu-name" data-bind="text:user().full_name"></p>
              <p class="cu-position" data-bind="text:user().email"></p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  data-bind="confirmClick: { message: 'Are you sure to remove this Site Supervisor?', click: rmrole }">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

        </div>
      </div>
    </div>


    <div class="col-sm-12" data-bind="visible :group() =='Reviewer'">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-2">
                    <h3 class="panel-title">
                    <button class="btn btn-primary square sq" data-bind="click:add">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                            {% trans 'Add New' %}
                    </button>
                    </h3>
                </div>
                <div class="col-sm-6">
                        <input type="text" class="current-input" placeholder="Search Reviewers" data-bind="value:search_key_reviewer, valueUpdate:'afterkeydown'">
                        <button type="submit" class="current-btn"><i class="fa fa-search" aria-hidden="true"></i></button>

                </div>
            </div>
        </div>
      <h4>Current Reviewers</h4>
      <div class="currentuser-block">
        <div class="current-users-list row" data-bind="foreach:reviewers">

            <div class="current-person col-sm-3">
            <div class="user-image-current">
              <img  data-bind="attr:{src: user().profile_picture}" />
            </div>
            <div class="user-name-position" data-bind="click:detail">
              <p class="cu-name" data-bind="text:user().full_name"></p>
              <p class="cu-position" data-bind="text:user().email"></p>
            </div>
            <div class="clear-btn-cu .animated .slideInRight"  data-bind="confirmClick: { message: 'Are you sure to remove this Reviewer?', click: rmrole }">
              <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="clearfixx"></div>
          </div>

        </div>
          </div>
        </div>


</div>

<div class="row" data-bind="with:projectVm, visible: currentVm() == 'project'" style="display:none;">
<div class="col-sm-12">
     <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-2">
                <button class="btn btn-primary btn-lg sq" data-bind="click:add">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {% trans 'Add New' %}
                </button>
                </div>
            <div class="col-sm-10">
                <input type="text" class="current-input" placeholder="Search Project Managers" data-bind="value:search_key, valueUpdate:'afterkeydown'">
                <button type="submit" class="current-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
  <div class="currentuser-block">
    <div class="current-users-list row" data-bind="foreach:projectManagers">

        <div class="current-person col-sm-3 ">
        <div class="user-image-current">
          <img  data-bind="attr:{src: user().profile_picture}" />
        </div>
        <div class="user-name-position" data-bind="click:detail">
          <p class="cu-name" data-bind="text:user().full_name"></p>
          <p class="cu-position" data-bind="text:user().email"></p>
        </div>
        <div class="clear-btn-cu .animated .slideInRight"  data-bind="confirmClick: { message: 'Are you sure to remove this Project Manager?', click: rmrole }">
          <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="clearfixx"></div>
      </div>

    </div>
      </div>
</div>


</div>
<div class="row" data-bind="with:orgVm, visible: currentVm() == 'organization'" style="display:none;">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-2">
                    <button class="btn btn-primary square" data-bind="click:add">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            {% trans 'Add New' %}
                    </button>
                </div>
                <div class="col-sm-6">
                     <input type="text" class="current-input" placeholder="Search Admins" data-bind="value:search_key, valueUpdate:'afterkeydown'">
                    <button type="submit" class="current-btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
<div class="col-sm-12">
  <div class="currentuser-block">
    <div class="current-users-list row" data-bind="foreach:admins">
        <div class="current-person col-sm-3">
        <div class="user-image-current">
          <img  data-bind="attr:{src: user().profile_picture}" />
        </div>
        <div class="user-name-position" data-bind="click:detail">
          <p class="cu-name" data-bind="text:user().full_name"></p>
          <p class="cu-position" data-bind="text:user().email"></p>
        </div>
        <div class="clear-btn-cu .animated .slideInRight"  data-bind="confirmClick: { message: 'Are you sure to remove this Organization Admin?', click: rmrole }">
          <span class="closebtn-cu"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="clearfixx"></div>
      </div>

    </div>
      </div>
    </div>




</div>
{% endblock %}
