<!doctype html>
{% load staticfiles i18n filters %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  lang="en"> <!--<![endif]-->
  {% load staticfiles %}

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="{% static 'dummy/assets/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'dummy/assets/css/loading.css' %}">
        <script src="{% static 'dummy/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css"> -->
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    </head>
    <style>
            .circle {
              width: 15px;
              height: 15px;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
              background: red;
              display: inline-block;
              float: left;
              margin-left: 8px;
              margin-right: 8px;
            }
            .marker-cluster{
                       color:white;
               }
               .marker-cluster-small {
                       background-color: rgba(181, 179, 179,0.9);
                       
               }
               .marker-cluster-small div {
                       background-color: rgba(0, 98, 142, 0.8);
               }
              .marker-cluster-medium {
                     background-color: rgba(181, 179, 179,0.9);
              }
              .marker-cluster-medium div {
                      background-color: rgba(0, 98, 142, 0.9);
              }
              .marker-cluster-large {
                      background-color: rgba(181, 179, 179,0.9);
              }
            .marker-cluster-large div {
                     background-color: rgba(0, 98, 142, 0.9);
              }
              /*new*/
            .panel-wrap{
                margin-bottom:0px;
            }
            .btn-group-sm>.btn{
                font-size: 0.7rem !important;
            }
            .form-control{
                font-size: 0.7rem !important;
            }


        </style>
        <body class="donor-page overflow-off" style = "font-size:0.7rem;">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header id="header" class="main-header clearfix">
            <div class="brand clearfix">
                <a href="#" title="" class="logo">
                    <img src="{% static 'dummy/assets/img/logo.png' %}" alt="Field Sight" width="168" height="32">
                </a>
            </div>
            <div class="top-nav clearfix">
                <ul class="right-nav clearfix">
                    <!-- <li class="dropdown">
                        <a href="#" id="dropdownMenuButtonNotification" onclick="getnotifdata()"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="la la-bell"></i>
                            <span class="badge badge-warning"><span class="not_count"></span></span>
                        </a>
                    


                        <div class="dropdown-menu large-dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonNotification" style="width:480px;">
                            <div class="dropdown-header">
                                {% trans 'New' %} {% trans 'Notifications' %}(<span id="noticount" class="not_count"></span>)

                            </div>
                            <div id="notification-ul">
                            </div>


                            



                            
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-header">
                                <div class="row">
                                    <div class="col text-left">
                                        <a href="{% url 'eventlog:notification-list' %}">{% trans 'View' %} {% trans 'all' %}</a>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#" onclick="updateseen()">{% trans 'Mark' %} {% trans 'All' %} {% trans 'As' %} {% trans 'Seen' %}</a>
                                    </div>
                                </div>
                            </div>


                        </div>

                    </li> -->
                    <li class="dropdown">
                        <a href="#" id="dropdownMenuButtonUser" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="user-avatar">
                                <img src="{{request.user.user_profile.profile_picture.url}}" alt="">
                            </div>
                            <span class="hidden-sm hidden-xs">{% trans request.user.first_name %} {% trans request.user.last_name %}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonUser">
                            <a class="dropdown-item" href="{% url 'users:profile' request.user.id %}"><i class="la la-user"></i>{% trans 'My' %} {% trans 'Profile' %}</a>
                            <a class="dropdown-item" href="{% url 'auth_password_change' %}"><i class="la la-key"></i>{% trans 'Change' %} {% trans 'Password' %}</a>
                            <a class="dropdown-item" href="{% url 'auth_logout' %}"><i class="la la-sign-out"></i>{% trans 'Logout' %}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <div id="main-container">
            <div id="map" class="map-holder">
                <div id="target" class="loading">
                 <div class="loading-overlay">
                       <p class="loading-spinner">
                         <i class="la la-circle-o-notch loading-icon" style = "font-size:2rem;"></i>
                         <!-- <span class="loading-text">loading</span> -->
                       </p>
                 </div>
               </div>

            </div>
            <aside class="sidebar sb-top-left togglepanels">
                <div class="content-holder">
                    <div class="input-group bs-2 mb-3">
                      <input type="text" id="search_text" class="form-control" placeholder="Search" aria-label="Hydropower" aria-describedby="button-search">
                      <div class="input-group-append">
                        <button class="btn btn-light" type="button" id="button-search"><i class="la la-search"></i></button>
                      </div>
                    </div>
                    <div class="panel-wrap">
                        <div class="panel-header mb-3">
                            <div class="btn-group btn-group-sm btn-group-block btn-2" role="group">
                              <button id = "clear" type="button" class="btn btn-outline-primary">Clear</button>
                              <button id="apply_button" type="button" class="btn btn-primary">Apply</button>
                            </div>
                        </div>
                        <div class="panel-section margin-top">
                            <div class="scrolling-wrap sh-250">
                                <div class="form-group">
                                    <label for="multi-prepend-append" class="control-label"><strong>Projects</strong></label>
                                    <ul class="toggle-list projects">
                                        
                                    </ul>
                                </div>
                                <div class="form-group">
                                    <label for="multi-prepend-append1" class="control-label"><strong>Progress</strong></label>
                                    <div class="input-group">
                                        <select id="multi-prepend-append1" class="form-control select2-multiple" multiple>
                                            <option id = "p0" value="0_0">0%</option>
                                            <option id = "p1-20" value="1_20">1-20%</option>
                                            <option id = "p21-40" value="21_40">21-40%</option>
                                            <option id = "p41-60" value="41_60">41-60%</option>
                                            <option id = "p61-80" value="61_80">61-80%</option>
                                            <option id = "p81-100" value="81_100">81-100%</option>
                                            <option id = "p100" value="100_100">100%</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="multi-prepend-append2" class="control-label"><strong>Form Status</strong></label>
                                    <div class="input-group">
                                        <select id="multi-prepend-append2" class="form-control select2-multiple" multiple>
                                            <option value = "0" id="pending">Pending</option>
                                            <option value = "1" id="rejected">Rejected</option>
                                            <option value = "2" id="flagged">Flagged</option>
                                            <option value = "3" id="approved">Approved</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
            <aside class="sidebar sb-top-right togglepanels" >
                <div class="content-holder">
                    <div class="scrolling-wrap sh-custom">
                        <div class="tabbing bs-2">
                            <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
                              <li class="nav-item">
                                <a class="nav-link active" id="tab001-tab" data-toggle="tab" href="#tab001" role="tab" aria-controls="tab001" aria-selected="true"><i class="la la-crosshairs"></i> Layers</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" id="tab002-tab" data-toggle="tab" href="#tab002" role="tab" aria-controls="tab002" aria-selected="false"><i class="la la-map"></i> Base Layers</a>
                              </li>
                            </ul>
                            <div class="tab-content bg-white" id="myTabContent">
                                <div class="tab-pane fade show active" id="tab001" role="tabpanel" aria-labelledby="tab001-tab">

                                    <ul class="toggle-list layerContainer">
                                        
                                    </ul>
                                </div>
                              <div class="tab-pane fade" id="tab002" role="tabpanel" aria-labelledby="tab002-tab">
                                <ul class="maptype-list">
                                    <li id = "osm" class="baselyr active">
                                        <span class="img-maptype mt-terrain"></span>
                                        OpenStreet Map
                                    </li>
                                    <li id="osm_style" class = "baselyr">
                                        <span class="img-maptype mt-satellite"></span>
                                        Styled OSM
                                    </li>
                                    <li id="googleStreets" class = "baselyr">
                                        <span class="img-maptype mt-openstreet"></span>
                                        Google Streets
                                    </li>
                                    <li id = "googleTerrain" class = "baselyr">
                                        <span class="img-maptype mt-dark"></span>
                                        Google Terrain
                                    </li>
                                    <li id = "googleSat" class = "baselyr">
                                        <span class="img-maptype mt-positron"></span>
                                        Google Satellite
                                    </li>
                                    <li id = "googleHybrid" class = "baselyr">
                                        <span class="img-maptype mt-hybrid"></span>
                                        Google Hybrid
                                    </li>
                                </ul>
                              </div>
                            </div>
                            <div class="panel-wrap mt-3">
                                <div class="panel-header">
                                    <b>View Sites By:</b>
                                </div>
                                <div class="panel-section">
                                    <ul class="widget-list mt-3" >
                                        <li>
                                            <div class="form-group">
                                                <select class="select2" name="state" id="inputStatus">
                                                    <option name = "siteProgressOption">Projects</option>
                                                    <option name = "siteProgressOption">Site Progress</option>
                                                    <option name = "formStatusOption">Form Status</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                    <div id = "legend">
                                        <div id = "form_legend">
                                        </div>                              
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </aside>
            <aside class="sidebar sb-bottom-left">
                <div class="content-holder">
                    <div class="map-controls">
                        <div id = "zoomin" class="mc-item">
                            <i class="la la-plus"></i>
                        </div>
                        <div id = "zoomout" class="mc-item">
                            <i class="la la-minus"></i>
                        </div>
                        <div id = "refresh" class="mc-item">
                            <i class="la la-refresh"></i>
                        </div>
                        <div id = "eye-slash" class="mc-item">
                            <i class="la la-eye-slash"></i>
                        </div>
                    </div>
                </div>
            </aside>

        </div>
            
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
        <script>window.jQuery || document.write('<script src="{% static 'dummy/assets/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
        <script src="{% static 'dummy/assets/js/vendor/popper.min.js' %}"></script>
        <script src="{% static 'dummy/assets/js/vendor/jquery-ui.min.js' %}"></script>
        <script src="{% static 'dummy/assets/js/vendor/bootstrap.min.js' %}"></script>

        <script src="{% static 'dummy/assets/js/vendor/jquery.nicescroll.min.js' %}"></script>
        <script src="{% static 'dummy/assets/js/vendor/select2.min.js' %}"></script>
        <script src="{% static 'dummy/assets/js/leaflet/leaflet-src.js' %}"></script>
        <script src="{% static 'dummy/assets/js/leaflet/leaflet.ajax.min.js' %}"></script>
        
        <script src="{% static 'dummy/assets/js/vendor/jQDateRangeSlider-min.js' %}"></script>
        <script src="{% static 'dummy/assets/js/leaflet/leaflet.markercluster-src.js' %}"></script>
        <script src="{% static 'dummy/assets/js/loading-overlay.min.js' %}"></script>
        <script src="{% static 'dummy/assets/js/gradstop.js' %}"></script>

        <script src="{% static 'dummy/assets/js/plugins.js' %}"></script>
        
        <script>
            {% if mapfor == "organization" %}
                const projectListUrl = "{% url 'fieldsight:OrgProjectsMapData' obj.id %}";    
                const projectLayersUrl = "{% url 'fieldsight:OrganizationProjectsLayers' obj.id %}";
            {% elif mapfor == "project"%}
                const projectListUrl = "{% url 'fieldsight:OrgProjectMapData' obj.id %}";    
                const projectLayersUrl = "{% url 'fieldsight:ProjectLayers' obj.id %}";
            {% endif %}
            
            
            $(document).ready(function(){
                //Map Height
                mapHeight();
                mapInnerContentHeight();
                window.onresize = function(event) {
                    mapHeight();
                    mapInnerContentHeight();
                }

                function mapHeight() {
                    vph = $(window).height();
                    vph = vph - $("#header").height();
                    $("#map").height(vph);
                }

                function mapInnerContentHeight(){
                    vph = $(window).height();
                    vph = vph - $("#header").height() - 48;
                    $(".sh-custom").height(vph);
                    
                }

                //Make it scroll
                if ($.fn.niceScroll) {
                    $(".scrolling-wrap").niceScroll({
                        cursorcolor: "#00628E",
                        cursorborderradius: "0px",
                        cursorborder:"",
                        cursorwidth: "8px",
                        //autohidemode: false
                    });
                    $(".scrolling-wrap").mouseover(function() {
                      $(".scrolling-wrap").getNiceScroll().resize();
                    });
                }

                $(".widget-header").click(function(){
                    $(this).find('i').toggleClass('la-plus-square');
                });


                
                $('.select2').select2();
                
                
                $("#dateslider").dateRangeSlider();
                $(".select2-multiple").select2({
                    minimumResultsForSearch: -1,
                    placeholder: "Select",
                    allowClear: true,
                    theme: "bootstrap"
                });
                
                $('#eye-slash').on('click',function(){
                    //console.log($(".togglepanels").css('display'));
                    if($(".togglepanels").css('display') == "block"){
                        $(".togglepanels").css('display','none');
                    }
                    else {
                        $(".togglepanels").css('display','block');
                    }
                    
                });
                

                
                /*$("#projects").on('click',function(){
                    if($(this).is(':checked')){
                        $("#multi-prepend-append").val("").trigger('change');
                    }
                    
                });
                $("#multi-prepend-append").on('change',function(){
                    console.log($(this).val().length);
                    if($(this).val().length !=0){
                        console.log("here");
                        $("#projects")[0].checked = false;
                    }
                });
                $("#site_progress").on('click',function(){
                
                });
                $("#form_status").on('click',function(){
                
                });     */

                /*$("#inputStatus").on('change',function(){
                    var name = $("#inputStatus option:selected").attr('name');
                    //console.log(name);
                    if(name == "siteProgressOption"){ console.log("site progress");
                        $("#siteProgress").css('display','block');
                        $("#formStatus").css('display','none');
                    }
                    else {
                        $("#formStatus").css('display','block');
                        $("#siteProgress").css('display','none');
                    }
                    
                    
                });*/
                
            });
        </script>
        <script>
            $(document).ready(function(){
            $('#map').loadingOverlay();

            $.getJSON(projectListUrl, function (projectList) { 

            $.getJSON(projectLayersUrl, function (geo_layer) {     
             

                map = L.map('map', {
                      center: [27.717245,85.323959],
                      zoom: 6,
                      zoomControl:false
                      //scrollWheelZoom: false
                      //layers: [streetLayer ]
                });
                
                osm_style = L.tileLayer("http://tile.stamen.com/terrain/{z}/{x}/{y}.jpg", {
                    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>.'
                });
                
                osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
                });
                
                googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
                  maxZoom: 20,
                  subdomains:['mt0','mt1','mt2','mt3']
                });
                googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
                  maxZoom: 20,
                  subdomains:['mt0','mt1','mt2','mt3']
                });
                googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
                  maxZoom: 20,
                  subdomains:['mt0','mt1','mt2','mt3']
                });
                googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
                  maxZoom: 20,
                  subdomains:['mt0','mt1','mt2','mt3']
                });
                var none = "";
                var baseLayers = {
                  "OpenStreetMap": osm,
                  "Google Streets": googleStreets,
                  "Google Hybrid": googleHybrid,
                  "Google Satellite": googleSat,
                  "Google Terrain": googleTerrain
                };
                
                map.addLayer(osm);
                
                for(var i=0;i<projectList.length; i++){
                    $(".projects").html($(".projects").html()+ '<li>'+
                                            '<span class = "ProjectName"><input class ="projectinput" type="checkbox" checked><a href="/fieldsight/project-dashboard/lite/'+projectList[i].id+'" '+
                                            'title=""><strong>'+ projectList[i].name+'</strong></a></span>'+
                                            '<label class="">'+
                                                ''+
                                                '<span class=""></span>'+
                                            '</label>'+
                                        '</li>');
                }

                
                        
                
                var geojsonMarkerStyle = {
                    radius: 6,
                    fillColor: "#ff7800",
                    color: "#000",
                    weight: 1,
                    opacity: 1,
                    fillOpacity: 0.8
                };
                
                markers = L.markerClusterGroup({ animateAddingMarkers : true, disableClusteringAtZoom: 13 });//{ animateAddingMarkers : true }
                

                //var siteListFile = $.getJSON("{% static 'demofile.geojson' %}");
                var markerArray = [];
                function pushFeatures(url, projectMarkerArray, is_secondary_url, secondary_url){
                    if (url){
                        $.ajax({
                            async: false,
                            url: url,
                            success: function(data) {
                                if(is_secondary_url){
                                    $.each(data.features,function(key, value){
                                        site_exists = projectMarkerArray.findIndex(e => e.id == value.id);
                                        if(site_exists !== -1){
                                            projectMarkerArray[site_exists] = value;
                                        }
                                        else{
                                            projectMarkerArray.push(data.features[key]);   
                                        }  
                                    });
                                    markerArray = markerArray.concat(projectMarkerArray);
                                }else{
                                    $.each(data.features,function(key){ 
                                        projectMarkerArray.push(data.features[key]);
                                    });
                                    pushFeatures(secondary_url, projectMarkerArray, true, '');   
                                }
                            }
                        });
                    }else if(!is_secondary_url){
                        pushFeatures(secondary_url, projectMarkerArray, true, '');
                    }
                }   
                
                for(var i=0; i<projectList.length; i++){
                    pushFeatures(projectList[i]["primary_geojson"], [], false, projectList[i]["secondary_geojson"]);
                    
                }

                

                total_json = {"type":"FeatureCollection","crs":{"type":"name","properties":{"name":"EPSG:4326"}},"features":[]};
                total_json.features=markerArray;
                //console.log(total_json);

                
                        
                        total_sites = L.geoJSON(total_json,{
                            pointToLayer: function(feature, latlng){
                                return L.circleMarker(latlng, geojsonMarkerStyle);
                                        
                            },
                            onEachFeature: function onEachFeature(feature, layer){ //console.log(feature);
                                //markers.addLayer(layer);
                                layer.bindPopup('<a href="/fieldsight/site-dashboard/lite/' + feature.id + '/"> '+ feature.properties.name +' </a>');
                            }
                        });
                        markers.addLayer(total_sites);
                        map.addLayer(markers);
                        map.fitBounds(markers.getBounds());
                        json_data = total_sites.toGeoJSON();

                
                function getgradient(start, middle, end, gradlength){
                    var gradient = gradStop({
                        stops: gradlength,
                        inputFormat: 'hex',
                        colorArray: [start, middle, end]
                    });
                    //console.log(gradient);
                    
                    
                    return gradient;
                }
                ['#FF0000', '#FFFF00', '#008000']
                projectColor = [];
                if(projectList.length<2){
                    projectColor = ['#FF0000'];
                }
                else if(projectList.length==2){
                    projectColor = ['#FF0000','#008000'];
                }
                else{
                    var start = '#ff6600';
                    var medium ='#b76e79';
                    var end ='#1e90ff';

                    
                    projectColor =getgradient(start, medium, end, projectList.length);
                
                }
                var progressColor = ["#FF0000","#f66565","#f4c08c","#FFFF00","#7FFF00","#00FF00","#069806"];
                // var start = '#FF0000';
                // var medium ='#FFFF00';
                // var end ='#008000';
                
                // progressColor = getgradient(start, medium, end, 7);
                var formStatusColor = ["#0080ff","#FF0000","#FFFF00","#069806"];
                
                //var projectValue = [""];
                var progressValue = ["0","1-20","21-40","41-60","61-80","81-99","100"];
                var formStatusValue = ["Pending","Rejected","Flagged","Approved"];
                
                $("#zoomin").on('click',function(){console.log("zoomin");
                    map.setZoom(map.getZoom() + 1);
                });


                $("#zoomout").on('click',function(){console.log("zoomout");
                    map.setZoom(map.getZoom() - 1);
                });
                
                $("#refresh").on('click', function(){console.log("mc-item");
                    map.setView([27.717245,85.323959],6);
                });
                
                
                prevBase_highlighted  = "osm";
                baseLyrs = ['osm', 'googleStreets', 'googleHybrid','googleSat', 'googleTerrain'];
                $(".baselyr").on('click',function(){
                    //console.log($('#'+prevBase_highlighted).children());
                    $('#'+prevBase_highlighted).children(".img-maptype").css('border','2px solid #E5E5DF');
                
                    var baselyr = $(this)[0].id;
                    //console.log($(this)[0].children[0]);
                    $(this).children(".img-maptype").css('border','2px solid black');
                    var baselyrobj = window[$(this)[0].id];
                    for(var i=0; i<baseLyrs.length;i++){
                        if(map.hasLayer(window[baseLyrs[i]])){
                            map.removeLayer(window[baseLyrs[i]]);
                        }
                        if(baseLyrs[i] == baselyr){
                            map.addLayer(window[$(this)[0].id]);
                        }
                    }
                    prevBase_highlighted = $(this)[0].id;
                    
                });
                
                

                var markers1 = null;
                
                function changeColor(map_layer, status){ 
                    var map_layer_json = map_layer._layers;
                    //console.log(map_layer_json);
                    $.each(map_layer_json,function(key){ //console.log(status);
                        //console.log(map_layer_json[key]);
                        if(status == "Projects"){ 
                            for(var i = 0; i<projectList.length; i++){
                                if(map_layer_json[key].feature.project == projectList[i].name){
                                    map_layer_json[key].setStyle({"fillColor":projectColor[i]});
                                } 
                            }
                        }
                        else if(status == "Site Progress"){
                            //console.log(map_layer_json[key]);
                            if(map_layer_json[key].feature.progress == 0){
                                map_layer_json[key].setStyle({"fillColor":progressColor[0]});
                                //map_layer_json[key].options.fillColor='#FF0000';
                            }
                            else if(map_layer_json[key].feature.progress > 0 && map_layer_json[key].feature.progress <= 20){
                                map_layer_json[key].setStyle({"fillColor":progressColor[1]});
                            }
                            else if(map_layer_json[key].feature.progress > 20 && map_layer_json[key].feature.progress <= 40){
                                map_layer_json[key].setStyle({"fillColor":progressColor[2]});
                            }
                            else if(map_layer_json[key].feature.progress > 40 && map_layer_json[key].feature.progress <= 60){
                                map_layer_json[key].setStyle({"fillColor":progressColor[3]});
                            }
                            else if(map_layer_json[key].feature.progress > 60 && map_layer_json[key].feature.progress <= 80){
                                map_layer_json[key].setStyle({"fillColor":progressColor[4]});
                            }
                            else if(map_layer_json[key].feature.progress > 80 && map_layer_json[key].feature.progress <= 99){
                                map_layer_json[key].setStyle({"fillColor":progressColor[5]});
                            }
                            if(map_layer_json[key].feature.progress == 100){
                                map_layer_json[key].setStyle({"fillColor":progressColor[6]});
                            }
                        }
                        else if(status == "Form Status"){
                            if(map_layer_json[key].feature.status == 0){
                                map_layer_json[key].setStyle({"fillColor":formStatusColor[0]});
                            }
                            else if(map_layer_json[key].feature.status == 1){
                                map_layer_json[key].setStyle({"fillColor":formStatusColor[1]});
                            }
                            else if(map_layer_json[key].feature.status == 2){
                                map_layer_json[key].setStyle({"fillColor":formStatusColor[2]});
                            }
                            else if(map_layer_json[key].feature.status == 3){
                                map_layer_json[key].setStyle({"fillColor":formStatusColor[3]});
                            }
                        }
                        
                    });
                }
                
                console.log(projectColor);
                changeColorOf = null;
                function changeLegend(changeColorOfLayer,status){
                    $("#form_legend").html("");
                    if(status == "Projects"){
                        for(var i = 0; i< projectList.length;i++){console.log(projectColor);
                            $("#form_legend").html($("#form_legend").html()+'<div class="circle" style = "border:1px solid black; background:'+projectColor[i]+';"></div><span>'+projectList[i].name+'</span><br/>');
                        }
                        changeColor(changeColorOfLayer, status);
                    }
                    else if(status == "Site Progress"){
                        for(var j = 0; j<progressValue.length;j++){
                            $("#form_legend").html($("#form_legend").html()+'<div class="circle" style = "border:1px solid black; background:'+progressColor[j]+';"></div><span>'+progressValue[j]+'%</span><br/>' );
                        }
                        
                        changeColor(changeColorOfLayer, status);
                    }
                    else{
                        formStatusValue
                        for(var k = 0; k< formStatusValue.length; k++){
                            $("#form_legend").html($("#form_legend").html()+'<div class="circle" style = "border:1px solid black; background:'+formStatusColor[k]+';"></div><span>'+formStatusValue[k]+'</span><br/>');
                        }
                        
                        changeColor(changeColorOfLayer, status);
                    }
                }
                
                
                $("#inputStatus").on('change',function(){
                    if(markers1==null){
                        changeColorOf = total_sites;
                    }else{
                        changeColorOf = filtered_sites;
                    }
                    var choose_status = $("#inputStatus").val();
                    //changeColor(changeColorOf, choose_status);
                    changeLegend(changeColorOf,choose_status);
                });
                

                
                //changeColor(total_sites, 'Projects');
                changeLegend(total_sites,'Projects');
                
                function applyFilter(siteListArray, multi_project, choose_status, progress, form_status){
                    for(i = siteListArray.features.length-1; i>=0 ;i--){
                            
                            //console.log(siteList[0].features[i].properties.name);
                            
                            var match = 1;
                            //if(multi_project != null && multi_project.length>0){
                                
                                for(var j=0; j<multi_project.length;j++){
                                    //console.log(siteListArray.features[i].project);
                                    //console.log(multi_project[j]);
                                    //console.log(i);
                                    if(siteListArray.features[i].project.trim() == multi_project[j].trim()){ 
                                        console.log("entered");
                                        match = 0;
                                        
                                        //console.log(multi_project[j]);
                                    }
                                    else { //console.log("not entered");
                                        match++;
                                        
                                    }
                                }
                            
                                if(match >= multi_project.length){//console.log("sitelistarray>0");
                                    siteListArray.features.splice(i, 1);
                                }
                            //}
                                else {
                                    if(progress!=null && progress.length>0){ //console.log("progress_length>0");
                                        var yes = 1;
                                        for(var k = 0; k<progress.length; k++){
                                            //console.log(progress[k]);
                                            progress_max = parseInt(progress[k].split("_")[1]);
                                            progress_min = parseInt(progress[k].split("_")[0]);
                                            //console.log(progress_max);
                                            if(siteListArray.features[i] != undefined){
                                                if(siteListArray.features[i].progress <= progress_max && siteListArray.features[i].progress >= progress_min){ //console.log("progress_entered");
                                                    yes = 0;
                                                    //break;
                                                    //console.log(progress[k]);
                                                }
                                                else{ //console.log("progress_not_entered");
                                                    yes++;
                                                }
                                            }
                                        }
                                        if(yes >= progress.length){ //console.log("progress deleted");
                                            siteListArray.features.splice(i, 1);
                                        }
                                    }
                                    
                                    
                                    if(form_status!=null && form_status.length>0){
                                        //console.log(form_status);
                                        var status_matched = 1;
                                        for(var l = 0; l<form_status.length; l++){//console.log(form_status[i]);
                                            if(siteListArray.features[i] != undefined){
                                                if(siteListArray.features[i].status == form_status[l]){ //console.log("status_entered");
                                                    status_matched = 0;
                                                    //break;
                                                    //console.log(progress[k]);
                                                }
                                                else{//console.log("status_not entered");
                                                    status_matched++;
                                                }
                                            }
                                        }
                                        if(status_matched >= form_status.length){ //console.log("status deleted");
                                            siteListArray.features.splice(i, 1);
                                        }
                                            
                                    }
                                }
                                /*else {
                                    if(choose_status == "Site Progress"){
                                            //manage style
                                        }
                                    else{
                                            //manage style
                                    }
                                }*/
                                
                                
                                
                            
                        }
                }



                $("#button-search").on('click', function(){
                    var multi_project=[];
                    $.each($("input[class='projectinput']:checked"), function(){
                        //multi_project.push($(this).parent().siblings().children().children().html());
                        multi_project.push($(this).siblings().children().html());
                    });
                    var query_string = $("#search_text").val();
                    var filtered_data=json_data.features.filter(site => multi_project.includes(site.project) && (site.properties.name.toLowerCase().match(query_string.toLowerCase()) || site.properties.identifier.toLowerCase().match(query_string.toLowerCase())));
                    

                    
                    map.removeLayer(total_sites);
                    map.removeLayer(markers);
                        //console.log(filtered_sites);
                        
                    if(markers1!=null){
                        map.removeLayer(markers1);
                    }

                    progress = $("#multi-prepend-append1").val();
                    form_status = $("#multi-prepend-append2").val();
                    
                    if (form_status){
                        filtered_data = filtered_data.filter(site => form_status.includes(String(site.status)));
                    }

                    if (progress){
                        var min = parseInt(progress[0].split('_')[0]);
                        
                        var max = parseInt(progress[progress.length - 1].split('_')[1]);

                        filtered_data = filtered_data.filter(site => site.progress >= min && site.progress <= max);   

                    }

                    var choose_status = "";
                    

                    markers1 = L.markerClusterGroup({ animateAddingMarkers : true, disableClusteringAtZoom: 13 });
                    var siteListArray = {"crs": {"type": "name", "properties": {"name": "EPSG:4326"}}, "type": "FeatureCollection", "features": filtered_data };

                    filtered_sites = L.geoJSON(siteListArray,{
                        pointToLayer: function(feature, latlng){
                            return L.circleMarker(latlng, geojsonMarkerStyle);
                            
                        },
                        onEachFeature: function onEachFeature(feature, layer){
                            markers1.addLayer(layer);
                            layer.bindPopup('<a href="/fieldsight/site-dashboard/lite/' + feature.id + '/"> '+ feature.properties.name +' </a>');
                        }
                    });
                    
                    map.addLayer(markers1);
                    if(form_status != null && form_status.length >= 1){
                        choose_status = "Form Status";
                        $("#inputStatus").val("Form Status").trigger('change');
                    }
                    else if(progress != null && progress.length>=1){
                        choose_status = "Site Progress";
                        $("#inputStatus").val("Site Progress").trigger('change');
                    }
                    else{
                        choose_status = "Projects";
                        $("#inputStatus").val("Projects").trigger('change');
                    }

                    
                    // a=animals.filter(site => site.name.toLowerCase().match('m'.toLowerCase()));
                });


                //console.log(total_sites);
                $("#apply_button").on('click',function(){
                    
                    var siteListArray = jQuery.extend(true, {}, json_data);
                    
                    //var siteListArray = total_sites.toGeoJSON();
                    //console.log(siteListArray);
                    var multi_project=[];
                    $.each($("input[class='projectinput']:checked"), function(){
                        //multi_project.push($(this).parent().siblings().children().children().html());
                        multi_project.push($(this).siblings().children().html());
                    });
                    //multi_project = $("#multi-prepend-append").val();

                    progress = $("#multi-prepend-append1").val();
                    //console.log(multi_project);
                    form_status = $("#multi-prepend-append2").val();
                    //console.log(JSON.stringify(siteList));
                    var choose_status = "";
                    if(form_status != null && form_status.length >= 1){
                        choose_status = "Form Status";
                        $("#inputStatus").val("Form Status").trigger('change');
                    }
                    else if(progress != null && progress.length>=1){
                        choose_status = "Site Progress";
                        $("#inputStatus").val("Site Progress").trigger('change');
                    }
                    else{
                        choose_status = "Projects";
                        $("#inputStatus").val("Projects").trigger('change');
                    }
                
                        
                        //console.log(multi_project);
                        
                        applyFilter(siteListArray, multi_project, choose_status, progress, form_status);
                        //console.log(siteListArray);
                        map.removeLayer(total_sites);
                        map.removeLayer(markers);
                        //console.log(filtered_sites);
                        
                        if(markers1!=null){
                            map.removeLayer(markers1);
                        }
                        markers1 = L.markerClusterGroup({ animateAddingMarkers : true, disableClusteringAtZoom: 13 });
                        filtered_sites = L.geoJSON(siteListArray,{
                            pointToLayer: function(feature, latlng){
                                return L.circleMarker(latlng, geojsonMarkerStyle);
                                
                            },
                            onEachFeature: function onEachFeature(feature, layer){
                                markers1.addLayer(layer);
                                layer.bindPopup('<a href="/fieldsight/site-dashboard/lite/' + feature.id + '/"> '+ feature.properties.name +' </a>');
                            }
                        });
                        
                        map.addLayer(markers1);
                        //console.log(filtered_sites);
                        //console.log(choose_status);
                        /*if(choose_status==null){
                            choose_status="Projects";
                        }*/
                        changeLegend(filtered_sites, choose_status);

                });
                //console.log(siteList);
                
                $("#clear").on('click',function(){
                    $(".projectinput").prop("checked",true);
                    $("#multi-prepend-append1").val(null).trigger('change');
                    $("#multi-prepend-append2").val(null).trigger('change');
                    var choose_status = $("#inputStatus").val();
                    if(markers1 != null){
                        map.removeLayer(markers1);
                        markers1 = null;
                    }
                    map.addLayer(markers);
                    changeColorOf = total_sites;
                    changeLegend(changeColorOf, choose_status);
                });
                



                for(var i=0;i<geo_layer.length;i++){
                    $(".layerContainer").html($(".layerContainer").html()+'<li>'+
                                                '<span><strong>'+geo_layer[i]["title"]+'</strong></span>'+
                                                '<label class="switch switch-xxs">'+
                                                    '<input class = "layerSwitch" value = "geo_layer'+i+'" type="checkbox">'+
                                                    '<span class="slider"></span>'+
                                                '</label>'+
                                            '</li>');
                }
                
                $(".layerSwitch").on('click', function(event){ 
                    var layerClicked = window[event.target.value];
                    //console.log(event.target.value);
                        if (map.hasLayer(layerClicked)) {
                            map.removeLayer(layerClicked);
                        }
                        else{
                            map.addLayer(layerClicked);
                        }
                });

                $(".layerContainer").one('click',function(){
                    for(var i = 0; i<geo_layer.length;i++){
                        window["geo_layer"+i] = L.geoJSON.ajax(geo_layer[i]["geo_layer"],{
                            pointToLayer: function(feature, latlng){
                                if(feature.geometry.type == "Point" || feature.geometry.type == "point"){
                                    return L.circleMarker(latlng, geojsonMarkerStyle);
                                }       
                            },
                            onEachFeature: function onEachFeature(feature, layer){ //console.log(feature);
                                var popUpContent = "";
                                popUpContent += '<table style="width:100%;" id="District-popup" class="popuptable">';
                                for (data in layer.feature.properties) {
                                    popUpContent += "<tr>" + "<td>" + data + "</td>" + "<td>" + "  " + layer.feature.properties[data] + "</td>" + "</tr>";
                               }
                                popUpContent += '</table>';
                                
                                

                                layer.bindPopup(L.popup({
                                    closeOnClick: true,
                                    closeButton: true,
                                    keepInView: true,
                                    autoPan: true,
                                    maxHeight: 200,
                                    minWidth: 250
                                }).setContent(popUpContent));

                                layer.setStyle(
                                {
                                    fillColor: "green",
                                    weight: 1,
                                    opacity: 1,
                                    color: 'black',
                                    //dashArray: '3',
                                    fillOpacity: 0
                                });

                                
                            }
                        });
                        window["geo_layer"+i].on('data:loaded', function (data) {
                            
                            window["geo_layer"+i].addTo(map);
                            console.log("geo_layer"+i+"Layer Added");
                            
                            // 
                        });
                    }
                });
                 $('#map').loadingOverlay('remove');
                
                
                map.on('zoomend', function() {
                    var zoomLevel = map.getZoom();
                    console.log(zoomLevel);
                    if(zoomLevel >= 13){
                        
                    }
                });
            });
            });
            });
        </script>
       
        
    </body>
</html>
