{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Organizations' %}{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:organization-add' %}">{% trans 'New' %} {% trans 'Organization' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}




    <!-- <div class="adv-table">


        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}

        <table class="table table-striped" id="dynamic-table1">
            <thead>
            <th>{% anchor name _('Name') %}</th>
            <th>{% anchor country _('Country') %}</th>
            <th>{% anchor address _('Address') %}</th>
            <th>{% anchor phone _('Phone') %}</th>
            <th>{% anchor fax _('Fax') %}</th>
            <th>{% anchor website _('Website') %}</th>
            <th>Organization Admins</th>
            <th>{% anchor is_active _('Status') %}</th>
            </thead>
            <tbody>
            {% for obj in paginated_objects %}
                <tr>
                    <td>
                        <a href="{% url 'fieldsight:organization-edit' obj.pk %}">{{ obj.name }}</a>
                    </td>
                    <td>
                        {{ obj.get_country_display }}
                    </td>
                    <td>
                        {{ obj.address }}
                    </td>
                    <td>
                        {{ obj.phone }}
                    </td>
                    <td>
                        {{ obj.fax }}
                    </td>
                    <td>
                        {{ obj.website }}
                    </td>
                    <td>
                        {{ obj.get_staffs }}<a class="fa fa-plus" title="Add organization Admin"
                                               href="{% url 'fieldsight:add_org_admin' pk=obj.id %}"></a>
                    </td>
                    <td>
                        {{ obj.is_active|activeness }}
                    </td>
                     <td>
                        <a class="btn btn-success btn-raised" href="{% url 'fieldsight:alter_org_status' pk=obj.id %}">
                            
                            {{ obj.is_active|alter_status }} {% trans 'Org' %}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
  

        {% paginate %}

    </div> -->

    <div class="organization-lsit-all">

        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}
        {% for obj in paginated_objects %}
        <div class="organization-list">
            <a href="{% url 'fieldsight:organization-dashboard' obj.pk %}">
                <div class="org-grg">
                    <div class="col-md-2">
                        <div class="org-logo">
                            <img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="abt-org">
                            <h3>{{ obj.name }}</h3>
                            <p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }}</p>
                            <p class="country"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.get_country_display }}</p>
                            <p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ obj.phone }}</p>
                            <p class="fax"><span><i class="fa fa-fax" aria-hidden="true"></i></span>{{ obj.fax }}</p>
                            <p class="website"><span></span>{{ obj.website }}</p>

                        </div>
                    </div>
                    <div class="clearfixx"></div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% paginate %}

    </div>

{% endblock %}