{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
		<div id="main-content" class="padding">
			{% block breadcrumbs %}
			{% endblock %}
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-building"></i>{% block page-title %}{% trans 'Organizations' %}{% endblock %}</h3>
						<div class="panel-heading-right">
							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchOrganization" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-search"></i>{% trans 'Search' %}</a>
							<a href="{% url 'fieldsight:organization-add'%}" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i>{% trans 'Add' %} {% trans 'New'%} </a>
						</div>
                    </header>
					<div class="panel-body">
						<!--Search Organization-->
						<div class="collapse margin-top" id="searchOrganization">
							<form method="GET" class="padding" action="{% url 'fieldsight:search-org-list' %}" >
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" name="q" placeholder="Search for..." value='{{ request.GET.q }}'/>
										  <span class="input-group-btn">
											  <button class="btn btn-primary" value="Search"><i class="la la-search"></i>{% trans 'Search' %}</button>
										  </span>
										</div>
									</div>
									<div class="col-md-3"></div>
								</div>
							</form>
						</div>
						<!--Organization Listing-->
						<div class="row">
							{% for obj in object_list %}
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap  margin-top clearfix">
									<div class="logo">
										<img src="{{ obj.logo.url }}" alt="" width="80" height="80">
									</div>
									<div class="basic-info">
										<h4>{{ obj.name }}</h4>
										<p>{{ obj.address }}</p>
										<p>{{ obj.get_country_display }}</p>
									</div>
									<div class="action-button margin-top">
										<a href="{% url 'fieldsight:organizations-dashboard' obj.pk %}" title="" class="btn btn-sm btn-primary">{% trans 'View' %}</a>
										<a href="{% url 'fieldsight:organization-edit' obj.pk %}" title="" class="btn btn-sm btn-primary">{% trans 'Edit' %}</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

						<!--pagination-->
						{% if is_paginated %}
						<nav class="pagination justify-content-center" aria-label="page-navigation">
						  <ul class="pagination">
							{% if page_obj.has_previous %}
							  <li class="page-item disabled"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&laquo;</span></li>
							{% endif %}
							{% for i in paginator.page_range %}
							  {% if page_obj.number == i %}
							  <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

							  {% else %}
								<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
							  {% endif %}
							{% endfor %}
							{% if page_obj.has_next %}
							  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
							{% else %}
							  <li class="disabled"><span>&raquo;</span></li>
							{% endif %}
						  </ul>
						</nav>
						{% endif %}
					</div>
				</section>

			</div>
{% endblock %}