{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}

		<div id="main-content" class="padding">
			{% block breadcrumbs %}
			{% endblock %}
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3>
                            {% block page-title %}
                            {{sender}} wants to access {{org}}.
                            <p>
                            <form action="{% url 'users:approve_organization' sender org.id %}" method="post">{% csrf_token %}
                                <button class="btn btn-primary" value="approve"><i class="la la-thumbs-up">Approve</i></button>
                            </form>
                            or &nbsp &nbsp
                            <form action="{% url 'users:deny_organization' %}" method="post">{% csrf_token %}
                                <button class="btn btn-danger" value="approve"><i class="la la-exclamation">Deny</i></button>

                            </form>
                            </p>


                            {% endblock %}
                        </h3>

                    </header>

				</section>

			</div>
{% endblock %}