{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block logo %}
    <img src="{{STATIC_URL}}images/bucket-logo.png" alt="">
{% endblock %}
{% block page-title %}{% trans 'Organizations' %}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:organization-dashboard' obj.pk %}">{% trans 'Organization Dashboard' %}</a></li>
    <li>{{ scenario }}</li>
{% endblock %}
{%block extracss %}
    
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:organization-edit' obj.pk %}">{% trans 'Edit' %}</a>
{% endblock %}
{% block content %}

    
    
	

	<div class="organization-detail-page">

        
        <div class="organization-short-detail">
                <div class="org-grg">
                    <div class="col-md-3">
                        <div class="org-logo">
                            <img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="abt-org">
                            <h3>{{ obj.name }}</h3>
                            <p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }}</p>
                            <p class="country"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.get_country_display }}</p>
                            <p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ obj.phone }}</p>
                            <p class="fax"><span><i class="fa fa-fax" aria-hidden="true"></i></span>{{ obj.fax }}</p>
                            <p class="website"><span></span>{{ obj.website }}</p>
							<p class="short-detail">{{ obj.description }}</p>
                            <div class="manage-btn">
                                <nav class="containerd">
                                    <a href="{% url 'fieldsight:project-add' %}" tooltip="{% trans 'Create Project' %}" class="buttons-fab" style="background-image: url('{{STATIC_URL}}images/project-background.png');"></a>
                                    <a href="{% url 'fieldsight:add_org_admin' pk=obj.id %}" tooltip="{% trans 'Assign Admin' %}" class="buttons-fab" style="background-image: url('{{STATIC_URL}}images/user-background.png');"></a>
                                    <a href="{% url 'fieldsight:site-add' %}" tooltip="{% trans 'Create Site' %}" class="buttons-fab" style="background-image: url('{{STATIC_URL}}images/site-background.png');"></a>
                                    <a href="#" tooltip="{% trans 'Setup' %}" class="buttons-fab"><span><span class="rotate-fab"></span></span></a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="clearfixx"></div>
                </div>
            
        </div>
        <div class="organization-long-detail">
        	<ul class="nav nav-tabs">
			  <li class="active"><a data-toggle="tab" href="#org-map">Map View</a></li>
              <li><a data-toggle="tab" href="#org-list-proj">List of Projects</a></li>
			  <!--<li><a data-toggle="tab" href="#org-list-site">List of Sites</a></li>-->
			  <li><a data-toggle="tab" href="#org-people">People Involved</a></li>
			  <li><a data-toggle="tab" href="#org-about">About Organization</a></li>
			</ul>

			<div class="tab-content">
			  <div id="org-map" class="tab-pane fade in active">
			     <div class="map-container-fieldsight">
                    <div id="map"></div>  
                    <div class="popop-container">
                        <h3 class="popop-head"></h3>
                        <p class="address-popop"></p>
                        <p class="contact-popop">01-1234567</p>  
                        <div class="popop-gallery">
                            
                        </div>   
                    </div>
                  </div>    
			  </div>
			  <div id="org-list-proj" class="tab-pane fade">
			     <div class="org-site-list">
                    {% for obj in projects %}
                    <a href="{% url 'fieldsight:project-dashboard' obj.pk %}">
                        <div class="org-site">
                            <div class="col-md-2">
                                <div class="image-org">
                                     <img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />    
                                </div>
                            </div>    
                            <div class="col-md-10">
                                <div class="detail-org">
                                    <h3 class="site-title-org">{{obj.name}}</h3>
                                    <p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }}</p>
                                    <p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ obj.phone }}</p>
                                </div>
                            </div>
                            <div class="clearfixx"></div>    
                        </div>
                    </a>
                    {% endfor %}

                 </div>  
			  </div>
              <!--<div id="org-list-site" class="tab-pane fade">-->
                 <!--<div class="org-site-list">-->
                    <!--{% for obj in sites %}-->
                    <!--<a href="{% url 'fieldsight:site-dashboard' obj.pk %}">-->
                        <!--<div class="org-site">-->
                            <!--<div class="col-md-2">-->
                                <!--<div class="image-org">-->
                                     <!--<img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />    -->
                                <!--</div>-->
                            <!--</div>    -->
                            <!--<div class="col-md-10">-->
                                <!--<div class="detail-org">-->
                                    <!--<h3 class="site-title-org">{{obj.name}}</h3>-->
                                    <!--<p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }}</p>-->
                                    <!--<p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ obj.phone }}</p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="clearfixx"></div>    -->
                        <!--</div>-->
                    <!--</a>-->
                    <!--{% endfor %}-->
                 <!--</div>  -->
              <!--</div>-->
			  <div id="org-people" class="tab-pane fade">
			     <div class="org-site-list">
                 
                    {% for user in peoples_involved %}

                    <a href="#">
                        <div class="org-site">
                            <div class="col-md-2">
                                <div class="image-org">
                                     <img src="{{ user.user_profile.profile_picture.url }}" />
                                </div>
                            </div>    
                            <div class="col-md-10">
                                <div class="detail-org">
                                    <h3 class="pople-Name-org">{{user.get_full_name}}</h3>
                                    <p class="address"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>{{ user.email }}</p>
                                    <p class="address"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ user.user_profile.phone }}</p>
                                 {% with user.id|get_org_roles:obj.id as roles %}
                                    {% for role in roles %}
                                    <p class="contact"><span><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    {{ role.group }}
                                    {% if role.site%}
                                    {% trans 'at Site' %}{{role.site}}
                                    {% endif %}
                                    {% if role.project%}
                                    {% trans 'Of Project' %}{{role.project}}
                                    {% endif %}

                                    </p>
                                    {% endfor %}
                                    {% endwith %}
                                </div>
                            </div>
                            <div class="clearfixx"></div>    
                        </div>
                    </a>
                     {% empty %}
                     <li>No Pepoles Under This Organization.</li>
                        {% endfor %}
                 </div>
			  </div>
			  <div id="org-about" class="tab-pane fade">
			     <div class="about-organization">
                  <p>{{obj.public_desc}}</p>      
                 </div>  
			  </div>
			</div>
        </div>
        
        

    </div>

{% endblock %}    


{% block total_users %}
<div class="row">
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
            <div class="mini-stat-info">
                <span>{{total_users}}</span>
                Total Users
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon pink"><i class="fa fa-building-o"></i></span>
            <div class="mini-stat-info">
                <span>{{total_projects}}</span>
                Total Projects
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mini-stat clearfix">
            <span class="mini-stat-icon green"><i class="fa fa-picture-o"></i></span>
            <div class="mini-stat-info">
                <span>{{total_sites}}</span>
                Total Sites
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block all_flagged_forms %}
  <div class="row">
        <div class="col-md-3">
        <div class="mini-flagged-forms purple-flagged">
            <div class="mini-stat-info">
                <span>{{outstanding}}</span>
                outstanding forms
            </div>
        </div>
    </div>
     <div class="col-md-3">
        <div class="mini-flagged-forms red-flagged">
            <div class="mini-stat-info">
                <span>{{rejected}}</span>
                Rejected forms
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-flagged-forms yellow-flagged">
            <div class="mini-stat-info">
                <span>{{flagged}}</span>
                Flagged forms
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="mini-flagged-forms green-flagged">
            <div class="mini-stat-info">
                <span>{{approved}}</span>
                Approved froms
            </div>
        </div>
    </div>




  </div>
{% endblock %}

{%block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.ajax.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/textLabel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.markercluster-src.js"></script>
    
    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
    
    <script type="text/javascript">
    $(document).ready(function(){
    console.log("inside ready");
    });
    var static_url ="{{ STATIC_URL }}";
    var data = {{ data|safe}};

    </script>
    <script type="text/javascript">
    
    function init(){
        // console.log("inside ready");
        var map = L.map("map", {
                center: [27.73672, 85.31942],
                zoom: 7
        });
        
        var osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
        });
        
        googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });
        googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });
        googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });
        googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
            maxZoom: 20,
            subdomains:['mt0','mt1','mt2','mt3']
        });
        
        var baseLayers = {
            "OpenStreetMap": osm,
            "Google Streets": googleStreets,
            "Google Hybrid": googleHybrid,
            "Google Satellite": googleSat,
            "Google Terrain": googleTerrain
        };
        
        map.addLayer(osm);
        layerswitcher = L.control.layers(baseLayers, {}, {collapsed: true}).addTo(map);
        var markers = L.markerClusterGroup();
        geoJsonLayer = new L.geoJson(data, {
            pointToLayer: function(feature, latlng) {
                icon = L.icon({
                                //iconSize: [27, 27],
                                iconAnchor: [13, 27],
                                popupAnchor:  [1, -24],
                                iconUrl: static_url+'css/images/marker-icon.png'
                                });
                //console.log(icon.options);
                var marker = L.marker(latlng, {icon: icon});
                return marker;
                
            }, 
            onEachFeature: function(feature, layer) {
                layer.bindPopup(feature.properties.public_desc+'<br/>'+feature.properties.name+'<br/>'+feature.properties.address);
                
            }
        });
        
        markers.addLayer(geoJsonLayer);
        map.addLayer(markers);
        
        layerswitcher.addOverlay(markers, "Schools");

        markers.on('click',function(e){
            //console.log($('.item'));
            $('.popop-head').addClass('changed');
            $('.popop-head').html(e.layer.feature.properties.public_desc);
            $('.address-popop').html(e.layer.feature.properties.address);
            //$('.contact-popup').html(e.layer.feature.properties.contact);


        });

        map.on('click',function(){
            $('.popop-head').removeClass('changed');
            $('.popop-head').html('');
            $('.address-popop').html('');
            //$('.contact-popup').html('');
        });

    };
    </script>
{% endblock %}