{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Organization' %}{% endblock %}

{% block breadcrumbs %}
{% if form.instance.id %}
    <li><a href="{% url 'fieldsight:organization-dashboard' form.instance.pk %}">{% trans 'Organization Dashboard' %}</a></li>
{% endif %}
{% if not form.instance.id %}
    <li><a href="{% url 'fieldsight:organizations-list' %}">{% trans 'Organizations' %}</a></li>
{% endif %}
    <li>{{ scenario }}</li>
{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:organizations-list' %}">{% trans 'Organizations' %}</a>
{% endblock %}

{% block content %}

     {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" id='form'>
    {% else %}
        <form method="post">
    {% endif %}
        <div class="">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
            
            {% csrf_token %}
             {{ form.media }}
               {% for field in form %}
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-3"> {{ field.label }}</div>
                 <div class="col-sm-3">      {{ field }}</div>
                 <div class="col-sm-6">      {{ field.errors }}</div>
               </div>
            {% endfor %}
        </div>
        
        <!-- <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}"> -->
        <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>
        {% if form.instance.id %}
            <a href="{% url 'fieldsight:organization-delete' form.instance.id %}" class="btn btn-danger btn-raised">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

    

{% endblock %}
