{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block extracss %}
{% endblock %}

{%block kocript %}
{% endblock %}

{% block content %}
{% load filters %}
    <div id="main-content" class="padding">
        <nav aria-label="breadcrumb" role="navigation">
            {% block breadcrumbs %}
            <ol class="breadcrumb">
                {% ifrole "Organization" %}
                <li class="breadcrumb-item"><a href="{% url 'fieldsight:organizations-list' %}">{% trans 'Organization' %} {% trans 'List' %}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'fieldsight:organizations-dashboard' obj.organization.pk %}">{{obj.organization.name}}</a></li>
                <li class="breadcrumb-item"><a href="{% url 'fieldsight:project-dashboard' obj.pk %}">{{obj.name}}</a></li>
                {% endrole %}
                <li class="breadcrumb-item active" aria-current="page">Site Types</li>
            </ol>
            {% endblock %}
        </nav>

        <section class="panel">
            <header class="panel-heading clearfix">
                <h3><i class="la la-building"></i>Site Types</h3>
                <div class="panel-heading-right">
                    <a href="{% url 'fieldsight:project-type-add' obj.pk %}" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i> Add Types </a>
                </div>
            </header>
             <div class="panel-body">
                 {% if types %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                </thead>
            {% for type in types %}
                <tr>
                    <td>{{type.identifier}}</td>
                    <td>{{type.name}}</td>
                    <td><a class="btn btn-primary btn-sm btn-xs" href="{% url 'fieldsight:project-type-edit' type.pk %}" ><i class="la la-pencil-square-o"></i> Edit</a>
                    <a class="btn btn-danger btn-sm btn-xs" href="{% url 'fieldsight:project-type-delete' type.pk %}" ><i class="la la-trash"></i> Delete</a>
                    </td>
                </tr>


            {% endfor %}
            </table>
            {% else %}
            <h1>No Site Types In this Project</h1>
            {% endif %}
             </div>
        </section>

    </div>
{% endblock %}
{%block extrascript %}

{% endblock %}
