{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}
{{obj.name}}{% endblock %}
{%block extracss %}

    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
<style>
    .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

  .bar {
    fill: #296fd5;
}

.bar:hover {
  fill: rgba(41, 111, 213, 0.5);
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

    path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

</style>
{% endblock %}

{% block head %}
    <a class="setting-btn" href="{% url 'fieldsight:project-edit' obj.pk %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
{% endblock %}

{% block breadcrumbs %}
 {% ifrole "Organization" %}
    <li><a href="{% url 'fieldsight:organization-dashboard' obj.organization.pk %}">{{obj.organization.name}}</a></li>
 {% endrole %}
    <li>{{obj.name}}</li>
{% endblock %}
{% block content %}


	<div class="organization-detail-page">


        <div class="organization-short-detail">
                <div class="org-grg">
                    <div class="col-md-3">
                        <div class="org-logo">
                            <img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="abt-org1">
                            <div class="col-md-12">
                                <span class="object_name">{{ obj.name }}</span>
                            </div>
                            <div class="col-md-9">
                                <p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }},{{ obj.get_country_display }}</p>
                                <p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ obj.phone }}</p>
                                <!-- <p class="fax"><span><i class="fa fa-fax" aria-hidden="true"></i></span>{{ obj.fax }}</p> -->
                                <p class="website"><span><i class="fa fa-globe" aria-hidden="true"></i></span>{{ obj.website }}</p>
    							              <p class="short-detail">{{ obj.description }}</p>
                                  
                            </div>
                            <div class="col-md-3">
                                <div class="mini-stat clearfix">
                                  <span class="mini-stat-icon orange"><i class="fa fa-users"></i></span>
                                  <div class="mini-stat-info">
                                      <span>{{peoples_involved.count}}</span>
                                      Total Users
                                  </div>
                                </div>
                               <div class="mini-stat clearfix">
                                <span class="mini-stat-icon green"><i class="fa fa-picture-o"></i></span>
                                <div class="mini-stat-info">
                                    <span>{{total_sites}}</span>
                                    Total Sites
                                </div>
                              </div>
                            </div> 
                        </div>
                    </div>
                    <div class="clearfixx"></div>
                </div>

        </div>
        <div class="organization-long-detail">
        	<ul class="nav nav-tabs">
			      <li class="active"><a data-toggle="tab" href="#org-map">Map</a></li>
            <li><a data-toggle="tab" href="#org-list-site">Sites</a></li>
			       <li><a data-toggle="tab" href="#org-people">People</a></li>
			       <!-- <li><a data-toggle="tab" href="#org-about">About Project</a></li> -->
               <ul class="nav navbar-nav navbar-right">
                 <li class="responses-all"><a href="{% url 'forms:project-responses' obj.pk %}">{% trans 'Responses' %}</a></li>
                 <li class="dropdown man-drop">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'forms:setup-forms' 1 obj.pk %}">{% trans 'Setup Forms' %}</a></li>
                      <li><a href="{% url 'fieldsight:manage-people-project' obj.pk %}">{% trans 'People' %}</a></li>
                      <li><a href="{% url 'fieldsight:site-add'%}">{% trans 'Add Site' %}</a></li>
                    </ul>
                </li>  
               </ul>
           
          </ul>
            

			<div class="tab-content">
			  <div id="org-map" class="tab-pane fade in active">
			     <div class="map-container-fieldsight">
                    <div id="map"></div>
                    <div class="popop-container">
                        <h3 class="popop-head"></h3>
                        <p class="address-popop"></p>
                        <p class="contact-popop"></p>
                        <div class="popop-gallery">

                        </div>
                    </div>
                  </div>
			  </div>
			  <div id="org-list-proj" class="tab-pane fade">
			     <div class="org-site-list">
                    {% for obj in projects %}
                    <a href="{% url 'fieldsight:project-edit' obj.pk %}">
                        <div class="org-site">
                            <div class="col-md-2">
                                <div class="image-org">
                                     <img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="detail-org">
                                    <h3 class="site-title-org">{{obj.name}}</h3>
                                    <p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }}</p>
                                    <p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ obj.phone }}</p>
                                </div>
                            </div>
                            <div class="clearfixx"></div>
                        </div>
                    </a>
                    {% endfor %}

                 </div>
			  </div>
              <div id="org-list-site" class="tab-pane fade">
                <form class="navbar-form" method="post" role="search" action="{% url 'fieldsight:project-dashboard' obj.pk %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="name">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
                 <div class="org-site-list">
                    {% for obj in sites %}
                     <a href="{% url 'fieldsight:site-dashboard' obj.pk %}">
                         <div class="col-sm-4">
                             <div style="margin-top:20px">
                                 <i class="fa fa-building-o fa-fw" aria-hidden="true"></i>{{obj.name|default_if_none:""}}

                            </div>
                         </div>
                         </a>

                    <!--<a href="{% url 'fieldsight:site-dashboard' obj.pk %}">-->
                        <!--<div class="org-site">-->
                            <!--<div class="col-md-2">-->
                                <!--<div class="image-org">-->
                                     <!--<img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="col-md-10">-->
                                <!--<div class="detail-org">-->
                                    <!--<h3 class="site-title-org">{{obj.name}}</h3>-->
                                    <!--<p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }}</p>-->
                                    <!--<p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ obj.phone }}</p>-->
                                <!--</div>-->
                            <!--</div>-->
                            <!--<div class="clearfixx"></div>-->
                        <!--</div>-->
                    <!--</a>-->
                    {% endfor %}
                 </div>
              </div>
			  <div id="org-people" class="tab-pane fade">
			     <!--<div class="add-people">-->
                    <!--<a class="add_org_people" title="Add organization Admin"href="{% url 'fieldsight:add_proj_manager' pk=obj.id %}">-->
                     <!--<span><i class="fa fa-plus" aria-hidden="true"></i> Add People</span>-->
                 <!--</a>-->
                 <!--</div>-->
                 <div class="org-site-list">

                    {% for role in peoples_involved %}

                    <a href="{% url 'users:profile' role.user.id %}">
                        <div class="org-site">
                            <div class="col-md-2">
                                <div class="image-org">
                                     <img src="{{ role.user.user_profile.profile_picture.url }}" title="{{ role.user.user_profile.profile_picture.url}}" />
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="detail-org">
                                    <h3 class="pople-Name-org">{{role.user.get_full_name}}</h3>
                                    <p class="address"><span><i class="fa fa-user" aria-hidden="true"></i></span>{{ role.user.username }}</p>
                                    <p class="address"><span><i class="fa fa-envelope" aria-hidden="true"></i></span>{{ role.user.email }}</p>
                                    <p class="contact"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{ role.user.phone }}</p>
                                    {% if role.has_multiple_project_roles %}
                                    {% for r in role.both_project_roles %}
                                    <p class="contact"><span><i class="fa fa-minus" aria-hidden="true"></i></span>
                                    {{ r.group }}
                                    </p>
                                    {% endfor %}
                                    {% else %}
                                    {{role.group }}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="clearfixx"></div>
                        </div>
                    </a>
                    {% endfor %}
                 </div>
			  </div>
			  <div id="org-about" class="tab-pane fade">
			     <div class="about-organization">
                  <p>{{obj.public_desc}}</p>
                 </div>
			  </div>
			</div>
        </div>



    
    </div>

    
    

{% endblock %}
  
  {% block all_diagrams %} 
    <section class="panel bar-gauge-diagrams">
        <div class="col-md-12">
          <div class="daily-visit">

              <div id="submission-chart" style="width:100%; display: block">

              </div>
              <h4 class="widget-h">{% trans 'Form Submissions' %}</h4>

          </div>
            <hr>
        </div>
        <div class="col-md-12">
         <div class="top-stats-panel">

             <div id="progress-bar">

             </div>
             <h4 class="widget-h">Site Progress</h4>
             <hr>

          </div> 
        </div>

        <div class="clearfixx"></div>
        <div class="flags-dash text-center">
          <div class="col-md-3">
            <div class="out-dash-flag">
              <p class="length-flags-forms">{{outstanding}}</p>
              <p class="flags-forms">Outstanding Submissions</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="flag-dash-flag">
              <p class="length-flags-forms">{{flagged}}</p>
              <p class="flags-forms">Flagged Submissions</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="reg-dash-flag">
              <p class="length-flags-forms">{{rejected}}</p>
              <p class="flags-forms">Rejected Submissions</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="app-dash-flag">
              <p class="length-flags-forms">{{approved}}</p>
              <p class="flags-forms">Approved Submissions</p>
            </div>
          </div>
          <div class="clearfixx"></div>
        </div>
    </section>             
  {% endblock %} 

    {%block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.ajax.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/textLabel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.markercluster-src.js"></script>

    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
  <script type="text/javascript">
     var static_url ="{{ STATIC_URL }}";
    var data = {{ data|safe}};
    var dict_bar_data = {{ bar_data|safe}};
    var line_chart_data = {{ line_chart_data|safe}};

    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/project_dashboard_bar-graph.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/project_dashboard_line_chart.js"></script>
{% endblock %}