{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
<style type="text/css">
    #removebutton{
    margin-top:33px;  
}
</style>
 <script src="{% static 'js/reactjs/react.min.js' %}"></script>
 <script src="{% static 'js/reactjs/browser.min.js' %}"></script>
 <script src="{% static 'js/reactjs/react-dom.min.js' %}"></script>


            <div id="main-content" class="padding">
                <nav aria-label="breadcrumb" role="navigation">
					{% block breadcrumbs %}
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="{% url 'fieldsight:project-dashboard' obj.pk %}">{{ obj.name }}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{% trans 'Bulk' %} {% trans 'Site' %} {% trans 'Upload' %}</li>
					 </ol>
					{% endblock %}
				</nav>

                <section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-cogs"></i>{% trans 'Site' %} {% trans 'Meta' %} {% trans 'Attributes' %}</h3>
                    </header>
                    <div class="panel-body">
                      
                        <div id="newOrganization" class="margin-top">
                           <div id="app"></div>
                        </div>
                    </div>

                </section>
                   
                    <form id="theForm" action="{% url 'fieldsight:define-site-meta' obj.pk %}" method="post">
                    {% csrf_token %}
                      <input name="json_questions" id="json_questions" type="hidden" value="" />
                    </form> 

            </div>
{% endblock %}

{%block extrascript %}
<script>
{% load l10n %}
</script>

    <script type="text/babel">
     var data=[{
                    "question_name": "New_Site_Tests_____sadsa",
                    "question_text": "New Site Tests..\"\"\"sadsa",
                    "question_type": "Text"
                },
                {
                    "mcq_options": [{
                        "option_text": "test1opt"
                    }],
                    "question_name": "tes2",
                    "question_text": "tes2",
                    "question_type": "MCQ"
                }
            ];
     var _json_question = JSON.parse("{{json_questions|escapejs}}");
     var project_id = "{{ obj.id|unlocalize }}";

     var questionTypes = [{'id': 'Text', 'name': 'Text'}, 
                          {'id': 'Number', 'name': 'Number'},
                          {'id': 'Date', 'name': 'Date'},
                          {'id': 'MCQ', 'name': 'MCQ'},
                          {'id': 'Link', 'name': 'Link'}, ];
     
    var SelectComponent = React.createClass({
            
            getInitialState: function () {
                return {}
            },
   
            renderNormal:function(){
                return(
                    <select ref={this.props.inputRef} className="form-group col-md-4" name="project" onChange={this.props.onChangeFunction} defaultValue={this.props.defaultValue}>
                        {this.props.options.map((e, key) => {
                            return <option key={key} value={e.id}>{e.id}{e.name}</option>;
                        })}
                    </select>
                    
            );
            },
            render: function () {
                    return this.renderNormal();
            }
        });


var InterCheckboxComponent = React.createClass({
            
            
            getInitialState: function () {
                console.log("Fiest");
                return {isloaded:false, metas:[], project_id:0, parent_id:0}
            },

            loadmetas: function(metas, project_id, updateSelectedMetas){
                this.setState({'metas':metas, 'project_id':project_id})
                console.log(this.state.project_id);
                
            },
            componentDidMount(){
                console.log(this.props.metas);
                this.loadmetas(this.props.metas, this.props.project_id);
            },
            componentWillReceiveProps(nextProps) {
                
                this.loadmetas(nextProps.metas, nextProps.project_id);
            },
            
            toggleCheckbox:function(index) {
                var checkboxes = this.state.metas;
                checkboxes[index].checked = !checkboxes[index].checked;
                this.setState({
                    metas:checkboxes
                });
                this.props.updateSelectedMetas(this.state.project_id);

            },

           
            eachMeta: function (obj, j){            
                if(obj.question_type!='Link'){
                     return(
                        <div>
                            <label>
                                <input
                                    type="checkbox"
                                    checked={obj.is_checked}
                                    onChange={this.toggleCheckbox.bind(this, j)}
                                />
                                {obj.question_text}
                            </label>
                        </div>)
                    }
            },
            renderNormal:function(){
                
                return (<div>
                 {         
                        this.state.metas.map(this.eachMeta)
                    }
                
                </div>
            );
            },
            render: function () {
                    return this.renderNormal();
            }
        });


    var CheckboxComponent = React.createClass({
            
            
            getInitialState: function () {
                console.log("Fiest");
                return {isloaded:false, metas:[], project_id:0, selected_metas:[]}
            },

            loadmetas: function(metas, project_id, selected_metas){
                this.setState({'metas':metas, 'project_id':project_id, 'selected_metas':selected_metas})
                
                
            },
            componentDidMount(){
                this.loadmetas(this.props.metas, this.props.project_id, this.props.selected_metas);
            },
            componentWillReceiveProps(nextProps) {
                this.loadmetas(nextProps.metas, nextProps.project_id, nextProps.selected_metas);
            },
            
            toggleCheckbox:function(index, obj) {
                var checkboxes = this.state.metas;
                checkboxes[index].checked = !checkboxes[index].checked;
                this.setState({
                    metas:checkboxes
                });
                this.props.updateSelectedMetas(this.state.project_id, obj);

            },

            eachMeta: function (obj, j){            
                
                if(obj.question_type=='Link'){
                    const submetas = [];
                    Object.keys(obj.site_meta_attributes).map((key, index) => submetas.push(
                         <CheckboxComponent project_id={key} metas={obj.site_meta_attributes[key]} selected_metas={this.state.selected_metas} updateSelectedMetas={this.props.updateSelectedMetas}/>
                        ))
                    return (
                        <div>{
                            submetas
                        }</div>
                        )
                }
                else{
                return(
                <div>
                    <label>
                        <input
                            type="checkbox"
                            checked={(this.state.selected_metas[this.state.project_id] || []).find(temp=>temp.question_name == obj.question_name)}
                            onChange={this.toggleCheckbox.bind(this, j, obj)}
                        />
                        {obj.question_text}
                        </label>
                </div>)
                }
            },
                          
            renderNormal:function(){
                
                return (<div>
                 {         
                                  this.state.metas.map(this.eachMeta)
                    }
                
                </div>
            );
            },
            render: function () {
                    return this.renderNormal();
            }
        });

     var NormalQuestion = React.createClass({
            
            getInitialState: function () {
                return {questionTypes:questionTypes, 'editing':false}
            },

            save: function () {
                this.props.updateQuestionText(this.refs.newText.value, this.refs.questionType.value, this.props.index);
                // console.log('save');
            },
            
            remove:function(){
                // console.log('Delete pressed.')
                this.props.deleteFromForm(this.props.index);
            },

            renderForm:function(){
                return(
                    <div className="QuestionContainer form-row">
                        <div className="form-group col-md-4">
                            <label for="input1" className="col-form-label">Input Label:</label>
                            <input type="text" ref="newText" className="form-control" onChange={this.save} placeholder="Attribute Label" defaultValue={this.props.question}></input>
                        </div>
                        <div className="form-group col-md-4">
                            <label for="input2" className="col-form-label">Input Type:</label>
                            <SelectComponent inputRef={el => this.refs.questionType = el} onChangeFunction={this.save} defaultValue={this.props.question_type} options={this.state.questionTypes}/>
                        </div>
                        <div className="form-group col-md-4">
                            <label className="col-form-label"> &nbsp; </label>                     
                            <button className="btn btn-danger" type="button" id="removebutton" onClick={this.remove}><i className="la la-close"></i>Remove</button>
                        </div>
                    </div>
                );
            },
            render: function () {
                    return this.renderForm();
               
            }
        });



     var Option = React.createClass({
            
            getInitialState: function () {
                return {editing: true}
            },
            
            edit:function(){
               this.setState({editing: true});
            },

            save: function () {
                this.props.updateOption(this.refs.newOptionText.value, this.props.index);
                // console.log('save');
            },
            
            remove:function(){
                // console.log('Delete pressed.' + this.props.index)
                this.props.deleteOption(this.props.index);
            },            
   
            renderNormal:function(){
                return(
                    <div className="QuestionContainer form-row">
                        <div className="form-group col-md-4">
                            <label for="input1" className="col-form-label">Option {this.props.index + 1}:</label>
                            <input type="text" ref="newOptionText" className="form-control" onChange={this.save} defaultValue={this.props.option_text} placeholder= "Option Text"></input>
                        </div>
                        <div className="form-group col-md-4">
                            <label className="col-form-label"> &nbsp; </label>                     
                            <button className="btn btn-danger" type="button" id="removebutton" onClick={this.remove}><i className="la la-close"></i>Remove</button>
                        </div>
                    </div>
                );
            },
            render: function () {
              
                    return this.renderNormal();
                
            }
        });

      var MCQQuestion = React.createClass({
            getInitialState: function () {
                return {questionTypes:questionTypes, options:this.props.options}
            },
            
            addOption:function () {
                var arr =this.state.options;
                var new_option={"option_text":""};
                arr.push(new_option);
                this.setState({options: arr});
            },

            save: function () {
                this.props.updateMCQOptions(this.state.options, this.props.index);
                this.props.updateQuestionText(this.refs.newText.value, this.refs.questionType.value, this.props.index);
            },

            updateOption: function(newTextoption, i){
                var arr= this.state.options;
                arr[i].option_text = newTextoption;
                this.setState({options: arr});
                this.props.updateMCQOptions(this.state.options, this.props.index);

            },

            deleteOption: function(i){
                var arr= this.state.options;
                arr[i].is_deleted=true;
                this.setState({options:arr})               
                this.props.updateMCQOptions(this.state.options, this.props.index);
            },

            remove:function(){
                console.log('Delete pressed.')
                this.props.deleteFromForm(this.props.index);
            },
            

            eachOption: function (obj, j){
                            // console.log(text);
                            if(!obj.hasOwnProperty('is_deleted')){
                            return(
                                <Option key={j} index={j} option_text={obj.option_text} deleteOption={this.deleteOption} updateOption={this.updateOption}/>
                                );
                             }},

            renderForm:function(){
                return(
                    <div>
                    <div className="QuestionContainer form-row">
                        <div className="form-group col-md-4">
                            <label for="input1" className="col-form-label">Input Label:</label>
                            <input type="text" ref="newText" className="form-control" onChange={this.save} placeholder="Attribute Label" defaultValue={this.props.question}></input>
                        </div>
                        <div className="form-group col-md-4">
                            <label for="input2" className="col-form-label">Input Type:</label>
                            <SelectComponent inputRef={el => this.refs.questionType = el} onChangeFunction={this.save} defaultValue={this.props.question_type} options={this.state.questionTypes}/>
                        </div>
                        <div className="form-group col-md-4">
                            <label className="col-form-label"> &nbsp; </label>                     
                            <button className="btn btn-danger" type="button" id="removebutton" onClick={this.remove}><i className="la la-close"></i>Remove</button>
                        </div>
                    </div>
                    {         
                                  this.state.options.map(this.eachOption)
                    }
                    <button onClick={this.addOption} className="btn btn-primary"><i className="la la-plus"></i>Add New</button>            
                    </div>
                );
            },
            render: function () {
                    return this.renderForm();
            }
        });

    var ExtLinkQuestion = React.createClass({
            
            getInitialState: function () {
                console.log(this.props.selected_metas);
                return {questionTypes:questionTypes, isLoaded: true, projects:[], selected_metas:this.props.selected_metas, metas:[], project_id: 0}
            },

            componentDidMount() {
                fetch("/fieldsight/api/my_projects/"+project_id+"/", {
                      method: 'GET',
                      credentials: 'include'
                    })
                  .then(res => res.json())
                  .then(
                    (result) => {
                      this.setState({
                        isLoaded: true,
                        projects: result,
                        project_id: 0
                      });
                    },
                    (error) => {
                      this.setState({
                        isLoaded: true,
                        projects:[],
                        project_id: 0
                      });
                    }
                  )
              },

            save: function () {
                this.props.updateQuestionText(this.refs.newText.value, this.refs.questionType.value, this.props.index);
                // console.log('save');
            },
            

            updateSelectedMetas: function(project_id, obj){
                this.props.updateLinkMetas(project_id, this.props.index, obj);
            },

            projectChanged: function () {        
                this.props.updateLinkProject(this.refs.selectProjectRef.value, this.props.index);
                // console.log(this.state);
                this.setState({project_id:this.refs.selectProjectRef.value,});
                fetch("/fieldsight/api/project/metas/"+this.refs.selectProjectRef.value+"/", {
                      method: 'GET',
                      credentials: 'include'
                    })
                  .then(res => res.json())
                  .then(
                    (result) => {
                      this.setState({
                        isLoaded: true,
                        metas: result[0].site_meta_attributes,
                        
                      });
                    },
                    (error) => {
                      this.setState({
                        isLoaded: true,
                        metas:[],
                        
                      });
                    }
                  )
            },

            remove:function(){
                // console.log('Delete pressed.')
                this.props.deleteFromForm(this.props.index);
            },

            renderForm:function(){
                var checklist;
                if(this.state.project_id > 0){
                    
                console.log("here"+this.props.selected_metas);
                checklist = <CheckboxComponent project_id={this.state.project_id}  selected_metas={this.state.selected_metas} metas={this.state.metas} updateSelectedMetas={this.updateSelectedMetas}/>
                }
                return(
                    <div className="QuestionContainer form-row">
                        <div className="form-group col-md-4">
                            <label for="input1" className="col-form-label">Input Label:</label>
                            <input type="text" ref="newText" className="form-control" onChange={this.save} placeholder="Attribute Label" defaultValue={this.props.question}></input>
                        </div>
                        <div className="form-group col-md-4">
                            <label for="input2" className="col-form-label">Input Type:</label>
                            <SelectComponent inputRef={el => this.refs.questionType = el} onChangeFunction={this.save} defaultValue={this.props.question_type} options={this.state.questionTypes}/>
                        </div>
                        <div className="form-group col-md-4">
                            <label className="col-form-label"> &nbsp; </label>                     
                            <button className="btn btn-danger" type="button" id="removebutton" onClick={this.remove}><i className="la la-close"></i>Remove</button>
                        </div>
                        <div className="form-group col-md-4">
                            <label className="col-form-label">Select Project</label>                     
                            <SelectComponent inputRef={el => this.refs.selectProjectRef = el} onChangeFunction={this.projectChanged} defaultValue={this.state.project_id} options={this.state.projects}/>
                        </div>

                        { checklist }
                        
                    </div>
                );
            },
            render: function () {
                return this.renderForm();
            }
        });











     var Form = React.createClass({
        getInitialState: function () {
            return {
                Questions: _json_question
            }
        },

    addQuestion: function (text) {
        var arr =this.state.Questions;

        var question = {
            "question_text": "",
            "question_type": "textual",
            "question_name": ""
        }
        arr.push(question);

        this.setState({Questions: arr});
    },

    save: function () {
        
        if(this.state.Questions.length < 1){ return alert("No Any Questions Found."); } 
        
        var json_convertible = this.state.Questions.filter(function(item) {
            if (!item.hasOwnProperty('is_deleted')){
                return item;
            }
            else if (item.hasOwnProperty('is_deleted') && item.is_deleted == false){
                delete item.is_deleted;
                return item;
            }
        });
        
        for (var key in json_convertible) {
            json_convertible[key].question_name = json_convertible[key].question_text.replace(/\W/g,"_");
        }

        var json_Question = JSON.stringify(json_convertible);
        document.getElementById('json_questions').value = json_Question;
        document.getElementById('theForm').submit();
    },

    removeQuestion: function(i){
        var arr= this.state.Questions;
        arr[i].is_deleted=true;
        this.setState({Questions: arr});
    },


    updateQuestion: function (newtext, questionType, i) {
        console.log(this.state.Questions[i]);
        var arr = this.state.Questions;

        if (arr[i].question_type == "MCQ" && questionType != "MCQ"){
            delete arr[i].mcq_options; 
        }
        else if(arr[i].question_type == "Link" && questionType != "Link"){
            delete arr[i].project_id;
            delete arr[i].metas;
        }
        
        if(questionType == "MCQ" && arr[i].question_type != "MCQ"){
            arr[i].mcq_options=[];
        }
        else if(questionType == "Link" && arr[i].question_type != "Link"){
            arr[i].project_id = 0;
            arr[i].metas=[];
        }
        
        
        arr[i].question_text=newtext;
        arr[i].question_type=questionType;
        this.setState({Questions:arr});
    },

    updateMCQOptions: function (options, i){
        var arr = this.state.Questions;
        var newOptionsArray = options.filter(function (op) {
        if (!op.hasOwnProperty('is_deleted')){
            return op
            }
        });
        // console.log(newOptionsArray);
        arr[i].mcq_options=newOptionsArray;

        this.setState({Questions:arr});
        console.log("updatingmcqoptions");
        console.log(arr[i]);
    },

    updateLinkProject: function (project_id, i){
        var arr = this.state.Questions;
        console.log(i);
        arr[i].project_id=project_id;
        this.setState({Questions:arr});
        console.log("updatingLinkproject_id");
        console.log(arr[i]);
    },

    updateLinkMetas: function (project_id, i, obj){
        var arr = this.state.Questions;
        if (project_id in arr[i].metas){
            var obj_exists = arr[i].metas[project_id].find(temp=>temp.question_name==obj.question_name)
            console.log("sdsdsdasdsadasDelete", arr[i].metas[project_id].find(temp=>temp.question_name==obj.question_name));
            if (obj_exists > -1){
                arr[i].metas[project_id].splice(obj_exists, 1);
                console.log(obj_exists);
            }
            else{
                arr[i].metas[project_id].push(obj);
            }
        }else{
            arr[i].metas[project_id]=[obj];
        }
        this.setState({Questions:arr});
        console.log("updatingLinkmetas");
        console.log(arr[i]);
        
    },


    eachQuestion: function (question, i){
        if(!question.hasOwnProperty('is_deleted') || (question.hasOwnProperty('is_deleted') && question.is_deleted == false)){
            if(question.question_type=="MCQ" ){
                return(
                        <MCQQuestion key={i} index={i} options={question.mcq_options} question={question.question_text} question_type={question.question_type}  updateQuestionText={this.updateQuestion} updateMCQOptions={this.updateMCQOptions} deleteFromForm={this.removeQuestion} />
                    );
            }
            else if(question.question_type=="Link"){
                return(
                        <ExtLinkQuestion key={i} index={i} question={question.question_text} question_type={question.question_type}  updateQuestionText={this.updateQuestion} updateLinkProject={this.updateLinkProject} updateLinkMetas={this.updateLinkMetas} selected_metas={question.metas} deleteFromForm={this.removeQuestion} />                        
                    );
            
            }else{
                return(
                        <NormalQuestion key={i} index={i} question={question.question_text} question_type={question.question_type}  updateQuestionText={this.updateQuestion} deleteFromForm={this.removeQuestion} />
                    );
            }
        }
    },

    render: function () {
        return (
            <div>
                {   
                    this.state.Questions.map(this.eachQuestion)
                }
                <button onClick={this.addQuestion.bind(null, 'New Question')} className="btn btn-primary"><i className="la la-plus"></i>Add New</button>         
                <button onClick={this.save.bind()} className="btn btn-success pull-right"><i className="la la-save"></i>Save Form</button>
            </div>
            );
        }
    });

    ReactDOM.render(<Form /> , document.getElementById('app'));

</script> 
{% endblock %}


