{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load filters %}
        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 30 as paginated_objects %}
		<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-tasks"></i>{% block page-title %}{% trans 'Projects' %}{% endblock %}</h3>
						<div class="panel-heading-right">
							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchOrganization" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-search"></i> Search</a>
							<a href="{% url 'fieldsight:project-add' pk%}" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i>{% trans 'Add' %} {% trans 'New'%}</a>
						</div>
                    </header>
					<div class="panel-body">
						<!--Search Organization-->
						<div class="collapse margin-top" id="searchOrganization">
							<form class="padding">
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
										  <span class="input-group-btn">
											<button class="btn btn-primary" type="button"><i class="la la-search"></i> Search</button>
										  </span>
										</div>
									</div>
									<div class="col-md-3"></div>
								</div>
							</form>
						</div>
						<!--Organization Listing-->
						<div class="row">
                            {% for obj in paginated_objects %}
							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap  margin-top clearfix">
									<div class="logo">
										<img src="{{ obj.logo.url }}" alt="" width="80" height="80">
									</div>
									<div class="basic-info">
										<h4>{{ obj.name }}</h4>
										<p>{{ obj.address }}</p>
                                        <p>{{ obj.get_country_display }}</p>
									</div>
									<div class="action-button margin-top">
										<a href="{% url 'fieldsight:project-dashboard' obj.pk %}" title="" class="btn btn-sm btn-primary">{% trans 'View' %}</a>
										<a href="{% url 'fieldsight:project-edit' obj.pk %}" title="" class="btn btn-sm btn-primary">{% trans 'Edit' %}</a>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div>
                        {% paginate %}
					</div>

                </section>

			</div>
{% endblock %}
