{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}

<!-- <div class="collapse" id="searchOrganization">
							
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" name="q" placeholder="Search for..." data-bind="value: searchKeyword"/>
										  <span class="input-group-btn">
											  <button class="btn btn-primary" data-bind="click: dbsearchallsites" value="Search"><i class="la la-search"></i>{% trans 'Search' %}</button>
										  </span>
										</div>
									</div>
									<div class="col-md-3"></div>
								</div>
						</div>		 -->
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript">
    var static_url ="{{ STATIC_URL }}";
    configure_settings =  {};
    {% load l10n %}
  	configure_settings.project_id = {{obj.pk|unlocalize}};						
    </script>
		<div id="main-content" class="padding">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					{% block breadcrumbs %}
					<li class="breadcrumb-item"><a href="{% url 'fieldsight:project-dashboard' obj.pk %}">{{ obj.name }}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{% trans 'Submissions' %} {% trans 'Data' %}</li>
					{% endblock %}
				</ol>
			</nav>
				<section id="stagedatas" class="panel">
          {% verbatim %}
          
							
					
	
						
					
					{% endverbatim %}
        </section>

			</div>
<script type="text/javascript" src="{% static 'vendor/vue.js' %}"></script>
<script src="{% static 'js/forms/vue-resource.min.js' %}"></script>

{% verbatim %}
<script type="text/javascript">
window.app = new Vue({
  el: '#stagedatas',
  template: `
  <div>
    <header class="panel-heading clearfix">
                        <h3><i class="la la-tasks"></i>Project Response Status</h3>
            <div class="panel-heading-right">
              <a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchSites" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-search"></i>Search</a>
            </div>
          </header>
            <div class="collapse margin-top" id="searchSites">
              
                <div class="row">
                  <div class="col-md-6 ml-md-auto">
                    <div class="input-group">
                      <input type="text" class="form-control" name="q" v-model="searchQuery" placeholder="Search for..." autofocus />
                      <span class="input-group-btn">
                        <button class="btn btn-primary" v-on:click="searchDatas" value="Search"><i class="la la-search"></i> Search </button>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-3"></div>
                </div>
              </div>
        
          <div class="panel-body">

    <div class="row"><div class="col-md-12">
              <div class="widget-info margin-top bg-white padding">
                <div class="widget-head">
                  <h4>Tabular Report</h4>
                  <a class="btn btn-xs btn-primary" v-bind:href="'/fieldsight/project/stages_status_report/'+ project_id +'/'"><i class="la la-table"></i></a>
                </div>
                <div class="widget-body">
                  <template v-if="sub_headers.length > 0 && rows.length > 0 ">
                  <div class="table-responsive">
                      <table class="table table-bordered table-hover tabular-report">
                        <thead class="thead-default">
                          <tr>
                          <template v-for="header in headers">
                            <th v-if="header['stage_order']" scope="col" :colspan="header['colspan']" :rowspan="header['rowspan']">{{ header['name'] }}</th>
                            <th v-else scope="col" :colspan="header['colspan']" :rowspan="header['rowspan']">{{ header['name'] }}</th>
                          </template>
                          </tr>
                          <tr>
                          <template v-for="sub_header in sub_headers">
                            <th scope="col">{{ sub_header[1] }}</th>
                          </template>
                          </tr>
                        </thead>
                        <tbody>

                          <tr v-for="row in rows">
                          <template v-for="cell in row">
                            <template v-if="typeof cell === 'string'">
                              <th class="cell-inactive" v-html="cell"></th>
                            </template>
                            <template v-else>
                              <th :class="cell[2]">{{ cell[1] }}</th>
                            </template>
                          </template>
                          </tr>
                        
                        </tbody>
                      </table>
                      
                     
                  </div>
                  <div class="container-fluid">
                      <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-4">
                          <button v-if="load_next_url" v-on:click="loadDatas" class="btn btn-sm btn-block btn-primary margin-top">Load more</button>
                        </div>
                      </div>
                  </div>
                  </template>
                  <template v-else>
                    <span>No Data</span>
                  </template>
                </div>
              </div>
            </div>
            </div>
            </div>
            </div>`,
  data: {
        searchQuery: '',
        headers: [],
        sub_headers :[],
        rows :[],
        loading: false,
        project_id: configure_settings.project_id,
        load_next_url : '/fieldsight/ProjectStageResponsesStatus/'+configure_settings.project_id+'/',
        
     },

  methods:{
    loadDatas : function (query = false){
    var self = this;

    self.loading = true;
    if(query === true){
        var options = {'q':this.searchQuery};

    }else{
        var options = {};

    }

    function successCallback(response) {
        self.headers = response.body.content.head_cols;
        self.sub_headers = response.body.content.sub_stages;
        self.rows = self.rows.concat(response.body.content.rows);
        self.load_next_url = response.body.next_page;
        self.loading = false;
    }

    function errorCallback() {
        self.loading = false;
        console.log('failed');
    }

    self.$http.get(self.load_next_url, {
        params: options
    }).then(successCallback, errorCallback);

    },
    
    searchDatas: function (){
        var self = this;
        this.rows = [];
        self.loadDatas(true);

    },
  },
  created(){
    var self= this;
    self.loadDatas();
    
  },

});
</script>
{% endverbatim %}	
{% endblock %}
