{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Project' %}{% endblock %}
{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:project-list' %}">{% trans 'Projects' %}</a>
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:project-list' %}">{% trans 'Projects' %}</a></li>
    <li>{{ scenario }} {{ form.instance }}</li>
{% endblock %}

{% block content %}

    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" id='form'>
    {% else %}
        <form method="post">
    {% endif %}
        <div class="">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
            
            {% csrf_token %}
             {{ form.media }}
             <div class="col-sm-12 registration_field">
            {% for field in form %}
               <div class="col-sm-12 registration_field">
                 <div class="col-sm-2"> {{ field.label }}</div>
                 <div class="col-sm-4">      {{ field }}</div>
                 <div class="col-sm-6">      {{ field.errors }}</div>
               </div>
            {% endfor %}
        </div>
        
        <!-- <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}"> -->
        <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>
        {% if form.instance.id %}
            <a href="{% url 'fieldsight:project-delete' form.instance.id %}" class="btn btn-danger btn-raised">{% trans 'Delete' %}</a>
        {% endif %}
    </form>

{% endblock %}
