{% extends "fieldsight/fieldsight_base1.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
			<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-building"></i>{% trans 'New' %}{% trans 'Project' %}</h3>
                    </header>
					<div class="panel-body">
						<!-- Add New Organization-->
						<div id="newOrganization" class="margin-top">
							<form enctype="multipart/form-data" method="post">
								{% csrf_token %}
								<div class="form-row">
									{{ form.media }}
                                    {% for field in form %}

                                    {% if not field.label == 'Location' %}
                                    {% if not field.label == 'Is active' %}
									<div class="form-group col-md-6">

									  <label class="col-form-label">{{ field.label }}</label>

                                        {{ field|add_class:"form-control" }}
									</div>
                                    {% endif %}
                                    {% endif %}
                                    {% endfor %}
									<div class="form-group col-md-6">
									  <label class="col-form-label">Latitude :</label>
									  <input type="text" class="form-control" id="Latitude" name="Latitude" class="LatLon"/>
									</div>
									<div class="form-group col-md-6">
									  <label class="col-form-label">Longitude :</label>
									  <input type="text" class="form-control" id="Longitude" name="Longitude" class="LatLon"/>
									</div>

									<div class="form-group col-md-12">
										<div id="map" class="full-map margin-top"></div>
									</div>
								</div>
								<button type="btn btn-primary registration__action" type="submit" class="btn btn-primary"><i class="la la-floppy-o"></i> {% trans ' Save' %}</button>
								<button type="btn btn-primary registration__action" type="submit" class="btn btn-danger"><i class="la la-trash"></i> {% trans ' Delete' %}</button>

							</form>
						</div>
					</div>
                </section>

			</div>
{% endblock %}

    {%block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
  <script type="text/javascript">
     var static_url ="{{ STATIC_URL }}";
     var elat = "{{form.instance.latitude}}";
     var elong = "{{form.instance.longitude}}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/addmarker.js"></script>
{% endblock %}


