{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
		<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-tasks"></i>{% block page-title %}{% trans 'Projects' %}{% endblock %}</h3>
						<div class="panel-heading-right">
							
						</div>
                    </header>
					<div class="panel-body">
					




					
					
					</div>

                </section>

			</div>
{% endblock %}
