{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}
{% trans 'Projects ' %}
{% endblock %}
{% block head %}

    <a class="btn btn-primary btn-raised" href="{% url 'fieldsight:project-add' pk%}">{% trans 'New' %} {% trans 'Project' %}</a>


{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    

        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}

        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<th>{% anchor name _('Name') %}</th>-->
            <!--<th>{% anchor organization _('Organization') %}</th>-->
            <!--<th>{% anchor address _('Address') %}</th>-->
            <!--<th>{% anchor phone _('Phone') %}</th>-->
            <!--<th>{% anchor email _('Email') %}</th>-->
            <!--<th>{% anchor fax _('Fax') %}</th>-->
            <!--<th>{% anchor website _('Website') %}</th>-->
            <!--<th>{% trans 'Projects Managers ' %}</th>-->
            <!--<th>{% anchor is_active _('Status') %}</th>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--{% for obj in paginated_objects %}-->
                <!--<tr>-->
                    <!--<td>-->
                        <!--<a href="{% url 'fieldsight:project-edit' obj.pk %}">{{ obj.name }}</a>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.organization }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.address }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.phone }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.email }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.fax }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.website }}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.get_staffs }}<a class="fa fa-plus" title="Add Project Manager"-->
                                               <!--href="{% url 'fieldsight:add_proj_manager' pk=obj.id %}"></a>-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--{{ obj.is_active|activeness }}-->
                    <!--</td>-->
                     <!--<td>-->
                        <!--<a class="btn btn-success btn-raised" href="{% url 'fieldsight:alter_proj_status' pk=obj.id %}">-->
                            <!--&lt;!&ndash;later with js framework ko in some and angular in some&ndash;&gt;-->
                            <!--{{ obj.is_active|alter_status }} {% trans 'Project' %}</a>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--{% endfor %}-->
            <!--</tbody>-->
        <!--</table>-->
        <div class="gap"></div>
        {% for obj in paginated_objects %}
        <div class="organization-list">
            <div class="col-md-4 col-sm-4 col-xs-12 project_list_img">
                <a href="{% url 'fieldsight:project-dashboard' obj.pk %}">


                    <div class="card">

                        <!--Card image-->

                        <div class="card-image list-img">
                            <img src="{{ obj.logo.url }}" title="{{ obj.logo}}" class="sixty" />

                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">{{ obj.name }}</h4>
                            <hr class="colour">
                            <!--Text-->
                            <p class="card-text"><span><i class="fa fa-map-marker space" aria-hidden="true"></i></span>{{ obj.address }}, {{ obj.get_country_display }}</p>
 
                            <a href="{% url 'fieldsight:project-dashboard' obj.pk %}" class="btn btn-primary">GO <i class="fa fa-angle-double-right" aria-hidden="true"></i>
</a>
                        </div>
                        <!--/.Card content-->

                    </div>

                    </a>
                    </div>
                    </div>



              {% endfor %}
        {% paginate %}

    



{% endblock %}