{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/project_stage_data.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		vm=StageViewModel('/fieldsight/ProjectStageResponsesStatus/'+{{ obj.pk }}+'/');
		 ko.applyBindings(vm);
	});
	var loading= false;
	$(window).scroll(function() {
    if (!loading && ($(window).scrollTop() >  $(document).height() - $(window).height() - 100)) {
        loading= true;

        // your content loading call goes here.

        loading = false; // reset value of loading once content loaded
    }
});
</script>
		<div id="main-content" class="padding">
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb">
					{% block breadcrumbs %}
					<li class="breadcrumb-item"><a href="{% url 'fieldsight:project-dashboard' obj.pk %}">{{ obj.name }}</a></li>
					<li class="breadcrumb-item active" aria-current="page">{% trans 'Submissions' %} {% trans 'Data' %}</li>
					{% endblock %}
				</ol>
			</nav>
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-tasks"></i>{% block page-title %}{% trans 'Projects' %} {% trans 'Response' %} {% trans 'Status' %}{% endblock %}</h3>
						<div class="panel-heading-right">
							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchOrganization" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-search"></i>{% trans 'Search' %}</a>
						</div>
                    </header>
					<div class="panel-body">

				<!-- 	<table class="table table-bordered table-hover">
						<thead>
							<tr rowspan="2">
							{% for cols in table_head %}
								<th rowspan="{{ cols.rowspan }}" colspan="{{ cols.colspan }}">{{ cols.name }}</th>
							{% endfor %}
								
							</tr>
							<tr>
							{% for substage in substages%}
								<th>{{ substage }}</th>	
							{% endfor %}
							</tr>
						</thead>
						<tbody>
						{% for row in data %}
						<tr>
						{% for value in row %}
						<td>	
							{{ value }}
						</td>
						{% endfor %}
						</tr>
						{% endfor %}	
						
							
						</tbody>
					</table> -->	

						<div class="collapse" id="searchOrganization">
							
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" name="q" placeholder="Search for..." data-bind="value: searchKeyword"/>
										  <span class="input-group-btn">
											  <button class="btn btn-primary" data-bind="click: dbsearchallsites" value="Search"><i class="la la-search"></i>{% trans 'Search' %}</button>
										  </span>
										</div>
									</div>
									<div class="col-md-3"></div>
								</div>
						</div>			
					

						<table class="table table-bordered table-hover">
						<thead>
							<tr rowspan="2">
							<!-- ko foreach: headers  -->
								<th data-bind="text: $data.name + '('+ $data.stage_order +')', attr: { rowspan: $data.rowspan, colspan: $data.colspan }"></th>
							<!-- /ko-->
								
							</tr>
							<tr>
							<!-- ko foreach: subHeaders  -->
								<th data-bind="text: $data[0] + ' / ' + $data[1]"></th>	
							<!-- /ko-->
							</tr>
						</thead>


						<tbody>
						<!-- ko foreach: rows  -->
						<tr>
							<!-- ko foreach: $data  -->
							<td data-bind="text: $data.length">	
								

							</td>
							<!-- /ko-->
						</tr>
						<!-- /ko-->	
						
							
						</tbody>
					</table>		
					<div data-bind="scroll: show_next_page, scrollOptions: { loadFunc: loadMoreDatas, offset: 10 }">loading</div>
					<!-- <button type="button" data-bind="click:loadMoreDatas, visible: show_next_page, enable: show_next_page">Load More</button> -->

					</div>

                </section>

			</div>
{% endblock %}
