{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block extracss %}
<style type="text/css">
	.leaflet-bottom.leaflet-right{
		display:none;
	}
	.radio-div.card{
		display: none;
	}
</style>
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
 <!-- SLider css external pravin -slick  -->
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>-->
    <!--<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>-->

{% endblock %}
{%block kocript %}
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/project_sites.js"></script>

    <script>
$(document).ready(function() {
var project = "{{obj.pk}}";
 vm = new SitesViewModel(project);
 ko.applyBindings(vm);
});
    </script>

{% endblock %}
{% block content %}
{% load filters %}
			<div id="main-content" class="padding">
				<div class="org-profile-top-action">
					<div class="action-left">

					</div>
					<div class="action-right">
						<a href="{% url 'forms:project-responses' obj.pk %}" title="" class="btn btn-sm btn-xs btn-primary"><i class="la la-reply"></i> Responses</a>

						<span class="dropdown">
							<a href="#" id="dropdownMenuButtonManage" class=" btn btn-sm btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="la la-clipboard"></i> Reports
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonManage">
								<a class="dropdown-item" href="{% url 'fieldsight:project-summary-report' obj.pk %}" target="_blank"><i class="la la-list-alt"></i>{% trans ' Project Summary Report' %}</a>
								<!--<a class="dropdown-item" href="#"><i class="la la-clipboard"></i>{% trans 'Project Detail Report' %}</a>-->
								<a class="dropdown-item" href="{% url 'fieldsight:download-stages' obj.pk %}"><i class="la la-clipboard"></i>{% trans ' Excel Report' %}</a>
							</div>
						</span>
						<span class="dropdown">
							<a href="#" id="dropdownMenuButtonManage" class=" btn btn-sm btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="la la-cogs"></i> Manage
							</a>
							<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButtonManage">
								<a class="dropdown-item" href="{% url 'fieldsight:manage-people-project' obj.pk %}"><i class="la la-user"></i>{% trans ' People' %}</a>
								<a class="dropdown-item" href="{% url 'forms:setup-forms' 1 obj.pk %}"><i class="la la-clipboard"></i>{% trans ' Forms' %}</a>
								<a class="dropdown-item" href="{% url 'fieldsight:proj-site-list' obj.id%}"><i class="la la-map-marker"></i>{% trans ' Sites' %}</a>
							</div>
						</span>
						<a href="{% url 'fieldsight:project-edit' obj.pk %}" title="" class="btn btn-sm btn-xs btn-primary"><i class="la la-edit"></i> Edit</a>
					</div>
				</div>
				<section class="org-profile-body margin-top">
					<div class="org-profile-head padding clearfix bg-white">
						<div class="row">
							<div class="col-lg-6 col-sm-12">
								<div class="org-profile-basic-info-left clearfix ">
									<div class="org-profile-logo">
										<img src="{% if obj.logo %}{{ obj.logo.url }}{% else %}{% static 'dummy/assets/img/default-org.jpg' %}{% endif %}" width="123" height="123" alt="">
									</div>
									<div class="org-profile-basic-info">
										<h2>{{ obj.name }}</h2>
										<p>{{ obj.address }}, {{ obj.get_country_display }}</p>
                                        <p>{{ obj.phone }}</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12">
								<ul class="org-profile-stat-list clearfix margin-top">
									<li>
										<a href="{% url 'fieldsight:proj-user-list' obj.pk %}" class="org-profile-stat-item" title="">
											<i class="la la-users"></i>
											<div class="org-mini-stat-info">
												<span>{{peoples_involved.count}}</span>
												{% trans 'Total Users' %}
											</div>
										</a>
									</li>
									<li>
										<a href="{% url 'fieldsight:proj-site-list' obj.id%}" title="" class="org-profile-stat-item">
											<i class="la la-map-marker"></i>
											<div class="org-mini-stat-info">
												<span>{{total_sites}}</span>
												{% trans 'Total Sites' %}
											</div>
										</a>
									</li>
								</ul>
							</div>
						</div>
                    </div>
					<div class="row">
						<div class="col-lg-8 col-md-12">
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>{% trans 'About ' %}{% trans 'Us ' %}</h4>
								</div>
								<div class="widget-body">
									<p>
									{{ obj.public_desc}}
                                    </p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12">
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>Contact Info</h4>
								</div>
								<div class="widget-body">
									<ul class="contact-info-list">
										<li>
										{% if obj.phone %}
											<i class="la la-phone"></i>{{ obj.phone}}
										{% else %}
											{% endif %}
										</li>
										<li>
										{% if obj.fax %}
											<i class="la la-fax"></i>{{ obj.fax}}
										{% else %}
											{% endif %}
										</li>
										<li>
										{% if obj.email %}
											<i class="la la-envelope-o"></i>{{ obj.email}}
										{% else %}
											{% endif %}
										</li>
										<li>
										{% if obj.website %}
											<i class="la la-globe"></i>{{ obj.website}}
										{% else %}
											{% endif %}
										</li>

									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-3 col-md-6 col-sm-12">
							<a href="{% url 'fieldsight:proj-submission-data' obj.pk %}" class="mini-stat padding-large margin-top clearfix">
								<span class="mini-stat-icon"><i class="la la-exclamation"></i></span>
								<div class="mini-stat-info">
									<span>{{rejected}}</span>
									{%trans 'Rejected Submissions' %}
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<a href="{% url 'fieldsight:proj-submission-data' obj.pk %}" class="mini-stat padding-large margin-top clearfix">
								<span class="mini-stat-icon"><i class="la la-flag"></i></span>
								<div class="mini-stat-info">
									<span>{{flagged}}</span>
									{% trans 'flagged Submissions' %}
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<a href="{% url 'fieldsight:proj-submission-data' obj.pk %}" class="mini-stat padding-large margin-top clearfix">
								<span class="mini-stat-icon"><i class="la la-hourglass-half"></i></span>
								<div class="mini-stat-info">
									<span>{{outstanding }}</span>
									{% trans 'Pending Submissions' %}
								</div>
							</a>
						</div>
						<div class="col-lg-3 col-md-6 col-sm-12">
							<a href="{% url 'fieldsight:proj-submission-data' obj.pk %}" class="mini-stat padding-large margin-top clearfix">
								<span class="mini-stat-icon"><i class="la la-thumbs-up"></i></span>
								<div class="mini-stat-info">
									<span>{{approved}}</span>
									{% trans 'Approved Submissions' %}
								</div>
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-sm-12">
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<a href="{% url 'fieldsight:proj-loc-map' obj.pk %}" title="" class="btn btn-sm btn-xs btn-primary"><i class="la la-map"></i>{% trans ' View' %}{% trans ' Full Map' %}</a>
									<h4>Site Map</h4>
								</div>
								<div class="widget-body">
									<div class="radio-div card">
									<div class="radio">
										<label><input class = "switch" id = "form_status" type="radio" name="status" value="male" checked="checked"> Form Status</label><br>
									</div>
									<div class="radio">
									  <label><input class = "switch" id = "project_progress" type="radio" name="progress" value="male"> Site Progress</label><br>
									</div>
							    </div>
								<div id="map" class="full-map"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-sm-12">
							<div class="row">
								<div class="col-md-6 col-sm-12">
									<div class="widget-info widget-scolling-list margin-top bg-white padding">
										<div class="widget-head">
											<h4>Sites</h4>
											<a class="btn btn-xs btn-primary" href="{% url 'fieldsight:site-add' obj.pk %} "><i class="la la-plus"></i></a>
											<a class="btn btn-xs btn-primary" data-toggle="collapse" href="#searchSite" aria-expanded="false" aria-controls="searchSite"><i class="la la-search"></i></a>
										</div>
										<div class="widget-body">
											<!--Search Sites-->
											<div class="collapse margin-bottom" id="searchSite">
												<form>
													<div class="input-group input-group-sm">
														<input type="text" class="form-control" placeholder="Search for..." aria-label="Search for..." data-bind="value:search_key, valueUpdate:'afterkeydown'">
														<span class="input-group-btn">
														<button class="btn btn-primary" type="button"><i class="la la-search"></i> Search</button>
														</span>
													</div>
												</form>
											</div>
											<!-- ko foreach: sites  -->
											<a data-bind="attr:{ href: url }" class="project-item-wrap margin-top" style="width: 100%;">
												<div class="project-logo">
													<img data-bind="attr:{src: logo}" width="50" height="50"/>
												</div>
												<div class="project-basic-info">
													<h4 data-bind="text: name"></h4>
													<p data-bind="text: address"></p>
													<!--<span class="space site-label"></span>-->
																	 <!--<span data-bind="text: name" class="detail-text">-->
																	 <!--<i class="fa fa-building-o fa-fw" aria-hidden="true"></i></span>-->

																	 <!--<span class="space site-label"></span>-->
																	 <!--<span data-bind="text: identifier">-->
																	 <!--<i class="fa fa-building-o fa-fw" aria-hidden="true"></i></span>-->
																	 <!--<br>-->
																	 <!--<span class="space site-label"></span>-->
																	 <!--<span data-bind="text: address" class="detail-text1">-->
																	 <!--<i class="fa fa-building-o fa-fw" aria-hidden="true"></i></span>-->

												</div>
											</a>
											<!-- /ko-->
										</div>
									</div>
								</div>
								<div class="col-md-6 col-sm-12">
									<div class="widget-info widget-scolling-list margin-top bg-white padding">
										<div class="widget-head">
											<h4> {% trans 'People' %}</h4>
											<a class="btn btn-xs btn-primary" href="{% url 'fieldsight:manage-people-project' obj.pk %}"><i class="la la-plus"></i></a>
											<!--<div class="modal fade" id="projectManagerModal" tabindex="-1" role="dialog" aria-labelledby="projectManagerModalLabel" aria-hidden="true">-->
												<!--<div class="modal-dialog" role="document">-->
													<!--<div class="modal-content">-->
														<!--<div class="modal-header">-->
															<!--<h5 class="modal-title" id="projectManagerModalLabel">New Project Manager</h5>-->
															<!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
															  <!--<span aria-hidden="true">&times;</span>-->
															<!--</button>-->
														<!--</div>-->
														<!--<div class="modal-body">-->
															<!--<form>-->
															  <!--<div class="form-group">-->
																<!--<label for="recipient-name" class="form-control-label">Input Field:</label>-->
																<!--<input type="text" class="form-control" id="recipient-name">-->
															  <!--</div>-->
															  <!---->
															<!--</form>-->
														<!--</div>-->
														<!--<div class="modal-footer">-->
															<!--<button type="button" class="btn btn-sm btn-primary"><i class="la la-plus"></i> Add Project Manager</button>-->
															<!--<button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>-->
														<!--</div>-->
													<!--</div>-->
												<!--</div>-->
											<!--</div>-->
											<a class="btn btn-xs btn-primary" data-toggle="collapse" href="#searchProjectManager" aria-expanded="false" aria-controls="searchProjectManager"><i class="la la-search"></i></a>
										</div>
										<div class="widget-body">
											<!--Search Projects-->
											<div class="collapse margin-bottom" id="searchProjectManager">
												<form>
													<div class="input-group input-group-sm">
														<input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
														<span class="input-group-btn">
															<button class="btn btn-primary" type="button"><i class="la la-search"></i> Search</button>
														</span>
													</div>
												</form>
											</div>
                                            {% for role in peoples_involved %}
											<a href="{% url 'users:profile' role.user.id %}" class="project-item-wrap margin-top clearfix">
												<div class="project-logo">
													<img src="{{ role.user.user_profile.profile_picture.url }}" alt="" width="50" height="50">
												</div>
												<div class="project-basic-info">
													<h4>{{role.user.get_full_name}}</h4>
													<p>{{ role.user.email }}</p>
                                                    <p>{{ role.user.phone }}</p>
												</div>
											</a>
                                            {% endfor %}
											{% if role.has_multiple_project_roles %}
                                            {% for r in role.both_project_roles %}
                                            {{ r.group }}
                                            {% endfor %}
                                            {% else %}
                                            {{role.group }}
                                            {% endif %}
										</div>
									</div>
								</div>
								<!--<div class="col-md-12">-->
									<!--<div class="widget-info module-slick-slider margin-top bg-white padding">-->
										<!--<div class="widget-head">-->
											<!--<h4>Recent Pictures</h4>-->
										<!--</div>-->
										<!--<div class="scrollingSlider">-->
											<!--<div>-->
												<!--<div class="photo-item">-->
													<!--<img src="{% static 'dummy/assets/img/img-gallery.jpg' %}" img-title="test Title1">-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="photo-item">-->
													<!--<img src="{% static 'dummy/assets/img/img-gallery.jpg' %}">-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="photo-item">-->
													<!--<img src="{% static 'dummy/assets/img/img-gallery.jpg' %}">-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="photo-item">-->
													<!--<img src="{% static 'dummy/assets/img/img-gallery.jpg' %}">-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="photo-item">-->
													<!--<img src="{% static 'dummy/assets/img/img-gallery.jpg' %}">-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="photo-item">-->
													<!--<img src="{% static 'dummy/assets/img/img-gallery.jpg' %}">-->
												<!--</div>-->
											<!--</div>-->
											<!--<div>-->
												<!--<div class="photo-item">-->
													<!--<img src="{% static 'dummy/assets/img/img-gallery.jpg' %}">-->
												<!--</div>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							</div>

						</div>

					</div>
					<!--<div class="row">-->
						<!--<div class="col-md-12">-->
							<!--&lt;!&ndash; Nav tabs &ndash;&gt;-->
							<!--<div class="tabbing margin-top">-->
								<!--<ul class="nav nav-tabs" role="tablist">-->
								  <!--<li class="nav-item">-->
									<!--<a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">Scheduled</a>-->
								  <!--</li>-->
								  <!--<li class="nav-item">-->
									<!--<a class="nav-link" data-toggle="tab" href="#tab2" role="tab">Staged</a>-->
								  <!--</li>-->
								  <!--<li class="nav-item">-->
									<!--<a class="nav-link" data-toggle="tab" href="#tab3" role="tab">General</a>-->
								  <!--</li>-->
								<!--</ul>-->

								<!--&lt;!&ndash; Tab panes &ndash;&gt;-->
								<!--<div class="tab-content">-->
								  <!--<div class="tab-pane active" id="tab1" role="tabpanel">...</div>-->
								  <!--<div class="tab-pane" id="tab2" role="tabpanel">...</div>-->
								  <!--<div class="tab-pane" id="tab3" role="tabpanel">...</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
					<div class="row">
						<div class="col-md-6">
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>{% trans 'Form Submissions' %}</h4>
								</div>
								<div class="widget-body">
									<div id="submission-chart">
										<canvas id="myChart" width="500" height="388"></canvas>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="widget-info margin-top bg-white padding">
								<div class="widget-head">
									<h4>{% trans 'Site Progress' %}</h4>
								</div>
								<div class="widget-body">
									<div id="siteprogress-chart">
										 <canvas id="myBar" width="500" height="375"></canvas>
									</div>
								</div>
							</div>
						</div>
					</div>
                </section>

			</div>
{% endblock %}
{%block extrascript %}

	<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.ajax.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/textLabel.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.markercluster-src.js"></script>
<!--script for slider pravin-slick-->
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>-->
    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
  	<script type="text/javascript">
    var static_url ="{{ STATIC_URL }}";
    var data = {{ data|safe}};
    var cummulative_labels = {{ cumulative_labels|safe}};
    var cummulative_data = {{ cumulative_data|safe}};
    var progress_labels = {{ progress_labels|safe}};
    var progress_data = {{ progress_data|safe}};
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/map.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/d3.tip.v0.6.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/project_dashboard_bar-graph.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/project_dashboard_line_chart.js"></script>
{% endblock %}
