{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Forms Library' %}{% endblock %}


{% block content %}
{% load pagination_tags %}
{% load sorting_tags %}
{% load fs_filters %}
<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-building"></i>{% trans 'Manage' %} {% trans 'Regions'%}</h3>
						<div class="panel-heading-right">
							<a href="{% url 'fieldsight:region-add' pk%}" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i>{% trans 'Add' %} {% trans 'New'%} </a>
						</div>
                    </header>
					<div class="container">

                      <div class="table-striped">

                      <table class="table">
                        <thead>
                          <tr>
                            <th class="text-center">{% trans 'Region ID' %}</th>
                            <th class="text-center">{% trans 'Region Name' %}</th>
                            <th class="text-center"> {% trans 'Created Date' %}</th>
                            <th class="text-center">{% trans 'Actions' %}</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for obj in object_list %}
                          <tr>
                            <td class="text-center">{{ obj.identifier }}</td>
                            <td class="text-center">{{ obj.name }}</td>
                            <td class="text-center">{{ obj.date_created }}</td>
                            <td class="text-center">
								<a class="btn btn-primary btn-sm" href="{% url 'fieldsight:region-update' obj.pk %}"><i class="la la-pencil-square-o"></i>{% trans ' Edit' %}</a>
							</td>
						  </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                      </div>
                    </div>
					<!--Pagination-->



                </section>

			</div>
{% endblock %}