{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
			<div id="main-content" class="padding">

				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-globe"></i>{% trans 'New' %} {% trans 'Region' %}</h3>
                    </header>
					{% if messages %}
					<ul class="">
						{% for message in messages %}
						<li>
							<div class="alert alert-info">{{ message }}</div>
						</li>
						{% endfor %}
					</ul>
					{% endif %}

					<div class="panel-body">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
						<!-- Add New Organization-->
						<div id="newOrganization" class="margin-top">
							<form form enctype="multipart/form-data" method="post">
								{% csrf_token %}
								<div class="form-row">
									{{ form.media }}
                                    {% for field in form %}

									<div class="form-group col-md-6">

									  <label class="col-form-label">{{ field.label }}:     {% if field.label == "Identifier"  %}{{ parent_identifier }}<span id=extra_identifier>{{ current_identifier }}</span>{% endif %}</label>
                                        {% if field.field.required %}<span class="text-danger">*</span>{% endif %}

                                        {{ field|add_class:"form-control" }}
									</div>
                                    {% endfor %}

                                </div>
								<button class="btn btn-primary registration__action" type="submit" class="btn btn-primary"><i class="la la-floppy-o"></i>{% trans ' Save' %}</button>
								{% if form.instance.id %}
								<a href="{% url 'fieldsight:region-delete' form.instance.id %}">
								<button type="button" class="btn btn-danger "><i class="la la-trash"></i>{% trans 'Delete' %}</button>
								</a>
								{% endif %}
							</form>
						</div>
                        {% if form.instance.id %}
                        <br/>
                        <br/>
                        <h5>Sub regions</h5>
                        <div style="text-align: right; padding: 2px 8px 8px 0;">
                            <a href="{% url 'fieldsight:sub-region-add' project.id form.instance.id %}">
                                <button type="button" class="btn btn-primary "><i class="la la-plus"></i>{% trans 'Add' %}</button>
                            </a>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">{% trans 'Region' %} {% trans 'ID' %}</th>
                                    <th class="text-center">{% trans 'Region' %} {% trans 'Name' %}</th>
                                    <th class="text-center"> {% trans 'Created' %} {% trans 'Date' %}</th>
                                    <th class="text-center">{% trans 'Actions' %}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for obj in subregion_list %}
                            <tr>
                                <td class="text-center">{{ obj.identifier }}</td>
                                <td class="text-center">{{ obj.name }}</td>
                                <td class="text-center">{{ obj.date_created }}</td>
                                <td class="text-center">
                                    <a class="btn btn-primary btn-sm" href="{% url 'fieldsight:region-update' obj.pk %}"><i class="la la-pencil-square-o"></i>{% trans ' Edit' %}</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
					</div>

                </section>

			</div>
{% endblock %}
{%block extrascript %}
<script>
$( "#id_identifier" ).keyup(function(event) {
  $( "#extra_identifier" ).html($( this ).val());
});

</script>
{% endblock %}


