{% load staticfiles i18n filters %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"  lang="en"> <!--<![endif]-->
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
        {% block whole_title %}

            {% block title %}{% trans 'Fieldsight' %}

        {% endblock %}{% endblock %}
		</title>
		<!--Core CSS -->

	</head>
<style type="text/css">
  body {
    background-color:black;

  }

  #maincontent {
  	display: block;
  margin-left: auto;
  margin-right: auto;
  }
  </style>
  <style type="text/css">
@media print
{
body * { visibility: hidden; }
#maincontent * { visibility: visible; }
div.page
      {
        page-break-after: always;
        page-break-inside: avoid;
      }
}
</style>

    <body>


<a href="#" id="dropdownMenuButtonManage" class=" btn btn-sm btn-xs btn-primary " style="float: right;"  onclick="window.print();">
								<i class="la la-print"></i>{% trans 'Print' %}
							</a>

    	<div id="report">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{%block extracss %}
		{% endblock %}

		<link rel="apple-touch-icon" href="{% static 'dummy/apple-touch-icon.png' %}">
		<link rel="stylesheet" href="{% static 'dummy/assets/css/style.css' %}">
        <script src="{% static 'dummy/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">


		<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/libs/knockout.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/ko_lib.js" ></script>
		{%block kocript %}
    	{% endblock %}

        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


		<div id="maincontent" style="margin-top:20px ;width:660px; border: 8px solid #00628E; background-color: white; overflow: hidden;">
		{% block content %}
		{% endblock %}
		</div>
		<!--<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
        <!--<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>-->
        <script>window.jQuery || document.write('<script src="{% static 'dummy/assets/js/vendor/jquery-1.11.2.min.js' %}"><\/script>')</script>
		<script src="{% static 'dummy/assets/js/vendor/popper.min.js' %}"></script>

        <script src="{% static 'dummy/assets/js/va = endor/bootstrap.min.js' %}"></script>
		<script src="{% static 'dummy/assets/js/plugins.js' %}"></script>

		<script src="{% static 'dummy/assets/js/vendor/jquery.cookie.js' %}"></script>
		<script src="{% static 'dummy/assets/js/vendor/jquery.dcjqaccordion.2.7.min.js' %}"></script>
		<script src="{% static 'dummy/assets/js/vendor/jquery.slimscroll.min.js' %}"></script>
		<script src="{% static 'dummy/assets/js/vendor/jquery.nicescroll.min.js' %}"></script>

		<!--<script src="{% static 'dummy/assets/js/vendor/leaflet.js' %}"></script>-->
		<script>

			$(document).ready(function(){


			});



		</script>


        <!--<script src="{% static 'dummy/assets/js/main.js' %}"></script>-->
<div>
</div>
		</div>
    </body>
	{%block extrascript %}
    {% endblock %}
</html>
