{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Organizations' %}{% endblock %}
{% block breadcrumbs %}

{% endblock %}



{% block content %}

    {% load filters %}
{% if org_admin %}
<section style="margin-top: -55px;">
<h3>Organization Admin View</h3>
    <div class="organization-lsit-all row">

        {% for obj in org_admin %}
        <div class="organization-list  {{obj.is_active|activeness}}">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{% url 'fieldsight:organizations-dashboard' obj.organization.pk %}" >


                    <div class="card ">

                        <!--Card image-->

                        <div class="card-image list-img">
                            <img src="{{ obj.organization.logo.url }}" title="{{ obj.organization.logo}}" class="sixty" />
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">{{ obj.organization.name }}</h4>
                            <hr class="colour">
                            <!--Text-->
                            <p class="card-text"><span><i class="fa fa-map-marker space" aria-hidden="true"></i></span>

                            {{ obj.organization.address }}, {{ obj.organization.get_country_display }}</p>
 
                            <a href="{% url 'fieldsight:organizations-dashboard' obj.organization.pk %}" class="btn btn-primary">GO <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!--/.Card content-->

                    </div>

                </a>

            </div>
        </div>
        {% endfor %}

    </div>
{% endif %}





{% if proj_manager %}
<br>
<h3>Project Management</h3>
    <div class="organization-lsit-all row">

        {% for obj in proj_manager %}
        <div class="organization-list  {{obj.is_active|activeness}}">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{% url 'fieldsight:project-dashboard' obj.project.pk %}" >


                    <div class="card ">

                        <!--Card image-->

                        <div class="card-image list-img">
                            <img src="{{ obj.project.logo.url }}" title="{{ obj.project.logo}}" class="sixty" />
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">{{ obj.project.name }}</h4>
                            <hr class="colour">
                            <!--Text-->
                            <p class="card-text"><span><i class="fa fa-map-marker space" aria-hidden="true"></i></span>

                            {{ obj.project.address }}, {{ obj.project.email }}</p>
 
                            <a href="{% url 'fieldsight:project-dashboard' obj.project.pk %}" class="btn btn-primary">GO <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!--/.Card content-->

                    </div>

                </a>

            </div>
        </div>
       
        {% endfor %}

    </div>
{% endif %}


{% if site_reviewer %}
<br>
<h3>Sites to review </h3>
    <div class="organization-lsit-all row">

        {% for obj in site_reviewer %}
        <div class="organization-list  {{obj.is_active|activeness}}">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{% url 'fieldsight:site-dashboard' obj.site.pk %}" >


                    <div class="card ">

                        <!--Card image-->

                        <div class="card-image list-img">
                            <img src="{{ obj.site.logo.url }}" title="{{ obj.site.logo}}" class="sixty" />
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">{{ obj.site.name }}</h4>
                            <hr class="colour">
                            <!--Text-->
                            <p class="card-text"><span><i class="fa fa-map-marker space" aria-hidden="true"></i></span>

                            {{ obj.site.address }}, {{ obj.site.get_country_display }}</p>
 
                            <a href="{% url 'fieldsight:site-dashboard' obj.site.pk %}" class="btn btn-primary">GO <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!--/.Card content-->

                    </div>

                </a>

            </div>
        </div>
       
        {% endfor %}

    </div>
{% endif %}



{% if site_supervisor %}
<br>
<h3>Sites to Supervise </h3>
    <div class="organization-lsit-all row">

        {% for obj in site_supervisor %}
        <div class="organization-list  {{obj.is_active|activeness}}">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{% url 'fieldsight:site-dashboard' obj.site.pk %}" >


                    <div class="card ">

                        <!--Card image-->

                        <div class="card-image list-img">
                            <img src="{{ obj.site.logo.url }}" title="{{ obj.site.logo}}" class="sixty" />
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">{{ obj.site.name }}</h4>
                            <hr class="colour">
                            <!--Text-->
                            <p class="card-text"><span><i class="fa fa-map-marker space" aria-hidden="true"></i></span>

                            {{ obj.site.address }}, {{ obj.site.get_country_display }}</p>
 
                            <a href="{% url 'fieldsight:site-dashboard' obj.site.pk %}" class="btn btn-primary">GO <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                            </a>
                        </div>
                        <!--/.Card content-->

                    </div>

                </a>

            </div>
        </div>
       
        {% endfor %}

    </div>
{% endif %}
</section>
{% endblock %}


