{% extends "fieldsight/fieldsight_base1.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block page-title %} {% trans 'Profile '  %}{{obj.user }}{% endblock %}
{% block content %}

    <div id="main-content" class="padding">
                <section>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                           
                            {% if org_admin %}
                            <div class="widget-info margin-top bg-white padding">
                                <div class="widget-head">
                                    <h4>Organizations</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="max-260-scroll" style="overflow-y: scroll;">
                                        <div class="row">

                                        {% for role in org_admin %}
                                            <div class="col-lg-3 col-md-12"  style="padding:10px;">
                                                <a href="{% url 'fieldsight:organizations-dashboard' role.organization.pk %}" title="">
                                                <div class="project-item-wrap clearfix">
                                                    <div class="project-logo">
                                                        <img src="{{ role.organization.logo.url }}" alt="" width="50" height="50">
                                                    </div>
                                                    <div class="project-basic-info">
                                                        <h4>{{ role.organization.name }}</h4>
                                                        <p>{{ role.organization.address }}</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                            
                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                           
                    </div>
                    </div>



                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                           
                            {% if proj_manager %}
                            <div class="widget-info margin-top bg-white padding">
                                <div class="widget-head">
                                    <h4>Projects</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="max-260-scroll" style="overflow-y: scroll;">
                                        <div class="row">

                                        {% for role in proj_manager %}
                                            <div class="col-lg-3 col-md-12" style="padding:10px;">
                                                <a href="{% url 'fieldsight:project-dashboard' role.project.pk %}" title="">
                                                <div class="project-item-wrap clearfix">
                                                    <div class="project-logo">
                                                        <img src="{{ role.project.logo.url }}" alt="" width="50" height="50">
                                                    </div>
                                                    <div class="project-basic-info">
                                                        <h4>{{ role.project.name }}</h4>
                                                        <p>{{ role.project.address }}</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                            
                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                           
                    </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                           
                            {% if site_reviewer %}
                            <div class="widget-info margin-top bg-white padding">
                                <div class="widget-head">
                                    <h4>Review Sites</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="max-260-scroll" style="overflow-y: scroll;">
                                        <div class="row">

                                        {% for role in site_reviewer %}
                                            <div class="col-lg-3 col-md-12"  style="padding:10px;">
                                                 <a href="{% url 'fieldsight:site-dashboard' role.site.pk %}" title="">
                                                <div class="project-item-wrap clearfix">
                                                    <div class="project-logo">
                                                        <img src="{{ role.site.logo.url }}" alt="" width="50" height="50">
                                                    </div>
                                                    <div class="project-basic-info">
                                                        <h4>{{ role.site.name }}</h4>
                                                        <p>{{ role.site.address }}</p>
                                                    </div>
                                                </div>
                                               </a>
                                            </div>
                                        {% endfor %}
                                            
                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                           
                    </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                           
                            {% if site_supervisor %}
                            <div class="widget-info margin-top bg-white padding">
                                <div class="widget-head">
                                    <h4>Supervise Sites</h4>
                                </div>
                                <div class="widget-body">
                                    <div class="max-260-scroll" style="overflow-y: scroll;">
                                        <div class="row">

                                        {% for role in site_supervisor %}
                                            <div class="col-lg-3 col-md-12"  style="padding:10px;">
                                                <a href="{% url 'fieldsight:site-dashboard' role.site.pk %}" title=""> 
                                                <div class="project-item-wrap clearfix">
                                                    <div class="project-logo">
                                                        <img src="{{ role.site.logo.url }}" alt="" width="50" height="50">
                                                    </div>
                                                    <div class="project-basic-info">
                                                        <h4>{{ role.site.name }}</h4>
                                                        <p>{{ role.site.address }}</p>
                                                    </div>
                                                </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                            
                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                           
                    </div>
                    </div>
                </section>
                
            </div>
                </section>

            </div>
{% endblock %}
