{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}  

{% block page-title %}{% trans 'Sites' %}{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:site-add' %}">{% trans 'New' %} {% trans 'Site' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    <div class='adv-table'>

        {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}
         {% for obj in paginated_objects %}
         <div class="organization-list">
            <div class="col-md-3">
                <a href="{% url 'fieldsight:site-dashboard' obj.pk %}">
                    <div class="org-grg">
                            <div class="org-logo">
                                <img src="{{ obj.logo.url }}" title="{{ obj.logo}}" />
                            </div>
                            <div class="abt-org">
                                <h3>{{ obj.name }}</h3>
                                <h3>{{obj.identifier}}</h3>
                                <p class="address"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{ obj.address }},{{ obj.get_country_display }}</p>
                            </div>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
        {% paginate %}

    </div>
{% endblock %}