{% extends "fieldsight/fieldsight_base1.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% block content %}
{% load filters %}
			<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-building"></i>{% trans 'New' %}{% trans 'Site' %} </h3>
                    </header>
					<div class="panel-body">
						<!-- Add New Organization-->
						<div id="newOrganization" class="margin-top">
							<form form enctype="multipart/form-data" method="post">
								{{ form.non_field_errors }}
								<div class="form-row">
									{% csrf_token %}
									 {{ form.media }}
									{% for field in form %}

									<div class="form-group col-md-6">
									  <label class="col-form-label">{{ field.label }}</label>
									 {{ field|add_class:"form-control" }}
									</div>
									{% endfor %}

									<div class="form-group col-md-6">
									  <label for="input11" class="col-form-label">Latitude :</label>
									  <input type="text" class="form-control" id="input11">
									</div>
									<div class="form-group col-md-6">
									  <label for="input12" class="col-form-label">Longitude :</label>
									  <input type="text" class="form-control" id="input12">
									</div>

									<div class="form-group col-md-12">
										<div id="osMap" class="full-map margin-top"></div>
									</div>
								</div>
								<button class="btn btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>
							</form>
						</div>
					</div>
                </section>

			</div>
{% endblock %}
