{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{%block kocript %}
 <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/sites.js"></script>

    <script>

$(document).ready(function() {
var type="{{ type }}"
var id="{{ pk }}"
if (type == "org"){
var url = '/fieldsight/api/org-sites/'+id+'/';
 }
 else{
var url = '/fieldsight/api/project-sites/'+id+'/';
 }

 assignsite_id(url);
 vm = new SitesViewModel();
 ko.applyBindings(vm);
});

    </script>

{% endblock %}
{% block content %}
{% load filters %}
<div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3><i class="la la-map-marker"></i>Sites</h3>
						<div class="panel-heading-right">
							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchSite" aria-expanded="false" aria-controls="searchSite"><i class="la la-search"></i> Search</a>
							{% if is_form_proj %}
							<a href="{% url 'fieldsight:site-add' pk %}" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i> Add New</a>
							<a href="{% url 'fieldsight:site-upload' pk %}" title="" class="btn btn-sm btn-primary"><i class="la la-plus"></i> Bulk Upload Sites</a>
							{% endif %}
						</div>
                    </header>

{% if messages %}
						<ul class="messages">
						    {% for message in messages %}
						    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
						    {% endfor %}
						</ul>
						{% endif %}
					<div class="panel-body">

						<!--Search Organization-->
						<div class="collapse margin-top" id="searchSite">
							<form class="padding">
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										<input type="text" class="form-control no-btn-search" placeholder="Search . . . . . "  data-bind="value:search_key, valueUpdate:'afterkeydown'">
										  <span class="input-group-btn">
											<button class="btn btn-primary" type="button"><i class="la la-search"></i> Search</button>
										  </span>
										</div>
									</div>
									<div class="col-md-3"></div>
								</div>
							</form>
						</div>
						<!--Site Listing-->
						<div class="row" data-bind="foreach: sites">
							<div class="col-md-4 col-sm-6">
								<a data-bind="attr: { href: url }" title="" class="site-item-wrap  margin-top clearfix">
									<div class="logo">
										<img data-bind="attr:{src: logo}" alt="" width="100" height="100">
									</div>
									<div class="basic-info clearfix">
										<h4 class="detail-text1" data-bind="text: name"></h4>
										<h6 class="detail-text0" data-bind="text: identifier"></h6>
                                 		<p class="address"><i class="fa fa-map-marker" aria-hidden="true"></i> <span  class="detail-text1" data-bind="text: address"></span></p>
                                 		<p class="phone"><i class="fa fa-phone" aria-hidden="true"></i> <span  class="detail-text1" data-bind="text: phone"></span></p>
									</div>
									<ul class="icon-listing clearfix margin-top">
										<li>
											<i class="la la-exclamation"></i>
											<p data-bind="text: get_site_submission_count().rejected">
												
											</p>
										</li>
										<li>
											<i class="la la-flag"></i>
											<p data-bind="text: get_site_submission_count().flagged">
												
											</p>
										</li>
										<li>
											<i class="la la-hourglass-half"></i>
											<p data-bind="text: get_site_submission_count().outstanding">
												
											</p>
										</li>
										<li>
											<i class="la la-thumbs-up"></i>
											<p data-bind="text: get_site_submission_count().approved">
												
											</p>
										</li>
									</ul>
								
							
							<div class="progress">
							<div class="progress progress-striped active progress-sm" style="width:100%;">  
						
							<div class="progress-bar progress-bar-success" role="progressbar" style="" data-bind="style: { width: prog() + '%'}">
							<span class="progress-bar-value" style="color:grey;" data-bind="text: prog() + '% Complete'"> </span>

							
							</div>
							</div>
							</div>
						
							</a>
							</div>
							
								
							</div>


						</div>
					</div>
					<!--Pagination-->
						<!-- <nav class="margin-top" aria-label="page-navigation">
						  <ul class="pagination justify-content-center">
							<li class="page-item disabled">
							  <a class="page-link" href="#" tabindex="-1">Previous</a>
							</li>
							<li class="page-item active"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
							  <a class="page-link" href="#">Next</a>
							</li>
						  </ul>
						</nav> -->
                </section>

			</div>
{% endblock %}
{%block extrascript %}
{% endblock %}