{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}  

{% block page-title %}{% trans 'Survey Sites' %}{% endblock %}

{% block head %}
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:project-dashboard' project %}">{% trans 'Project Dashboard' %}</a></li>
<li>{% trans 'Survey Sites' %}</li>
{% endblock %}

 {%block kocript %}
 <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
<link rel="stylesheet" href="{% static 'css/toastr.css' %}">
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/plugin/toastr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.blockUI.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/App.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/fieldsight/survey_sites.js"></script>

    <script>

$(document).ready(function() {
var project = "{{project}}";
 vm = new SitesViewModel(project);
 ko.applyBindings(vm);
});

    </script>

{% endblock %}



{% block content %}
<div data-bind="with:current_site">
    <div class="modal" tabindex="-1" role="dialog" data-bind="modal:$parent.site_modal_visibility">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-bind="click:$parent.close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans 'Survey Detail' %}</h4>
      </div>
      <div class="modal-body">
          <form>
         {% csrf_token %}
             <div class="col-sm-12 registration_field">
                <div class="col-sm-2 field-label"> {% trans 'ID' %}</div>
                 <div class="col-sm-5">
                 <input data-bind="value: identifier" />
                 </div>
                 <div class="col-sm-6"></div>
               </div>
              <div class="col-sm-12 registration_field">
                <div class="col-sm-2 field-label"> {% trans 'Name' %}</div>
                 <div class="col-sm-5">
                 <input data-bind="value: name" />
                 </div>
                 <div class="col-sm-6"></div>
               </div>
              <div class="col-sm-12 registration_field">
                <div class="col-sm-2 field-label"> {% trans 'Address' %}</div>
                 <div class="col-sm-5">
                 <input data-bind="value: address" />
                 </div>
                 <div class="col-sm-6"></div>
               </div>
              <div class="col-sm-12 registration_field">
                <div class="col-sm-2 field-label"> {% trans 'Public Description' %}</div>
                 <div class="col-sm-5">
                 <input data-bind="value: public_desc" />
                 </div>
                 <div class="col-sm-6"></div>
               </div>
              <div class="col-sm-12 registration_field">
                <div class="col-sm-2 field-label"> {% trans 'Additional Description' %}</div>
                 <div class="col-sm-5">
                 <input data-bind="value: additional_desc" />
                 </div>
                 <div class="col-sm-6"></div>
               </div>
              <div class="col-sm-12 registration_field">
                <div class="col-sm-2 field-label"> {% trans 'Type' %}</div>
                 <div class="col-sm-5">
                 <select data-bind="options: $parent.typeList,
                       optionsText: 'name',
                       optionsValue: 'id',
                       value: type().id"></select>

                 </div>
                 <div class="col-sm-6"></div>
               </div>
             <div class="col-sm-12 registration_field">
                 <div class="col-sm-2 field-label"> {% trans 'Latitude' %}</div>
                 <div class="col-sm-5">
                 <input data-bind="value: mapOne().lat" />
                     </div>
                 <div class="col-sm-6"></div>
               </div>

          <div class="col-sm-12 registration_field">
                 <div class="col-sm-2 field-label"> {% trans 'Longitude' %}</div>
                 <div class="col-sm-5">
                 <input data-bind="value: mapOne().lng" />
                     </div>
                 <div class="col-sm-6"></div>
               </div>
          <div id="map1Div" data-bind="style:{width:'100%',height:'400px'},map:mapOne"></div>

              <div class="gap"></div>
              <div class="gap"></div>
              <h3 data-bind="visible:create_surveys().length">{% trans 'Survey Images' %}</h3>
              <div class="review-images" data-bind="foreach: create_surveys">
                  <img width="400px" height="400px" data-bind="attr:{src: image}" />

              </div>
              <div class="col-sm-12 registration_field" style="padding: 0px ;">
              <div class="col-sm-6" style="display:inline-flex;padding:0px;">
                  <div >
                    <input type="checkbox" data-bind="checked: is_survey" />
                  </div>
                  <div class="field-label" style="padding-left: 3px;">
                    {% trans 'Verify This Survey' %}
                  </div>
                  
              </div>
                 <div class="col-sm-6"></div>
               </div>
        <button class="btn btn-primary registration__action" type="submit" data-bind="click:$parent.save_detail" >
            {% trans 'Save Changes' %}</button>
              <div class="gap"></div>
              <div class="gap"></div>

    </form>


      </div>
      <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      <!--</div>-->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>


<div class="col-sm-12 site-survey-list">
        <input type="text" class="form-control" placeholder="Search ......" style="font-family:Arial,FontAwesome;" data-bind="value:search_key, valueUpdate:'afterkeydown'">
</div>

<div class='adv-table' data-bind="foreach: sites">
    <div class="current-person1 col-sm-9 col-md-4 col-xs-12 site-survey-div " style="height: auto;">
                <div class=" col-sm-12 col-md-12 person-div site-survey-inside"  >
                  
                  
                       <a data-bind="click:$parent.detail_survey">

                           <div class=" survey-site">

                              <div class="">       
                                     <div class="col-md-10 col-xs-10">
                                         <span class="list-heading detail-text" data-bind="text: name" >
                                         </span>
                                     <div class="gap_border"></div>
                                     </div>

                                     <div class="col-md-2 col-xs-2">
                                      <span class="badge bg-aqua">7</span>
                                     </div>
                              </div>
                              <div class="gap"></div>
                              <div class="">
                                     <div class="col-md-12 col-xs-12">
                                            <span class="space site-label">{% trans 'ID :' %}</span>
                                            <span data-bind="text: identifier"></span>
                                     </div>

                                      
                              </div>

                              <div class="">
                                     <div class="col-md-12">
                                            <span class="space site-label">{% trans 'Address :' %}</span>
                                            <span data-bind="text: address"></span>                                            
                                            <div class="gap"></div>

                                       </div>

                                      
                              </div>
                              </div>
                        </a>
                           </div>
                       

                  </div>

                </div>
          </div>




{% endblock %}

{%block extrascript %}
{% endblock %}