{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Site' %}{% endblock %}
{%block extracss %}
{% endblock %}
{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:sites-list' %}">{% trans 'Sites' %}</a>
{% endblock %}


{% block content %}

    <form enctype="multipart/form-data" method="post">
        <div class="">
            <div class="col-sm-12 registration_field">
               {{ form.non_field_errors }}
               </div>
            
            {% csrf_token %}
             {{ form.media }}
            {% for field in form %}

               <div class="col-sm-12 registration_field">
                 <div class="col-sm-2 label-site"> {{ field.label }}</div>
                 <div class="col-sm-5" >{{ field }}</div>
                 <div class="col-sm-5">      {{ field.errors }}</div>
               </div>
            {% endfor %}
           <div class="col-sm-12 registration_field">
                  <div class="col-sm-2 label-site">Latitude:</div>
                      <div class="col-sm-3">
	                    <input type="text" id="Latitude" name="Latitude" class="LatLon"/>
                      </div>
               </div>
            <div class="col-sm-12 registration_field">
                  <div class="col-sm-2 label-site">Longitude:</div>
                      <div class="col-sm-3">
	                    <input type="text" id="Longitude" name="Longitude" class="LatLon"/>
                      </div>
               </div>

        </div>
        <div id="map" style="height:500px; width:500px; cursor:pointer;"></div>

        <!-- <input type="submit" class='btn btn-info btn-raised' value="{% trans 'Save' %}"> -->
        <div class="gap"></div>
        <div class="gap"></div>
        <button class="btn btn-primary registration__action" type="submit" >{% trans 'Save' %}</button>

        {% if form.instance.id %}
        <a href="{% url 'fieldsight:site-delete' form.instance.id %}" class="btn btn-danger btn-raised">
            {% trans 'Delete' %}</a>
        {% endif %}
    </form>

{% endblock %}


    {%block extrascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/map/leaflet.js"></script>
    <script src="http://maps.google.com/maps/api/js?v=3&key=AIzaSyC8uXN1u5FYIaGOUnVK90Rh3wR2Gmyw1uU"></script>
  <script type="text/javascript">
     var static_url ="{{ STATIC_URL }}";
     var elat = "{{form.instance.latitude}}";
     var elong = "{{form.instance.longitude}}";
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/addmarker.js"></script>
{% endblock %}
