{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block content %}
<link href="{% static 'css/site-bulk-edit.css' %}" rel="stylesheet">
<div id="main-content" class="padding">

    <nav aria-label="breadcrumb" role="navigation">
        {% block breadcrumbs %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'fieldsight:project-dashboard' project.pk %}">{{ project.name }}</a></li>
            <li class="breadcrumb-item"><a href="{% url 'fieldsight:proj-site-list' project.pk %}">{% trans 'Sites' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% trans 'Bulk edit' %}</li>
        </ol>
        {% endblock %}
    </nav>

    {% if done %}
    <p>
    {% trans 'Successfully applied changes' %}
    </p>
    {% else %}

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
        {% endfor %}

        {% for field in form %}
        {% if field.name != "sites" %}
        <div class="form-group">
            <input type="checkbox" name="set_{{ field.name }}" class="select-attr" />
            {{ field.label_tag }}
        {% else %}
        <p>
            Select the sites for which you want to change metadata:
        </p>
        <div class="sites">
        {% endif %}
            {{ field.errors }}
            {% if field.name == "sites" %}
            {{ field }}
            {% else %}
            {{ field|add_class:"form-control" }}
            {% endif %}
            {{ field.help_text|safe }}
        </div>
        {% if field.name == "sites" %}
        <p>
        Select the meta attributes that you want to change and set new values:
        </p>
        <div class="attributes">
        {% endif %}
        {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary"><i class="la la-floppy-o"></i>{% trans 'Apply' %}</button>
    </form>

    {% endif %}

</div>
{% endblock %}
