{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% load fs_filters %}

{% block page-title %}{% trans 'Responses' %}{% endblock %}

   {%block extracss %}
<link rel="stylesheet" href="{% static 'css/knockout-file-bindings.css' %}">
<link rel="stylesheet" href="{% static 'dummy/assets/css/jquery-ui.css' %}">

    {% endblock %}





{% block content %}

    {% load filters %}
    <script>
    $(document).ready(function(){
	$( "#{{ type }}" ).addClass( "active" );
	$( "#tab{{ type }}" ).addClass( "active" );
	$( "#main-content" ).show();
	$("#pg").addClass("blue");
});
</script>
<div id="main-content" class="padding" style="display:none;">
	<nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
            {% block breadcrumbs %}
			<li class="breadcrumb-item"><a href="{% url 'fieldsight:site-dashboard' pk %}">{{ obj.name }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{% trans 'Submissions Data' %}</li>
		    {% endblock %}
        </ol>
    </nav>
<div class="row">
<div class="col-md-12">
    <div class="tabbing">


    	<ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link " id ="0" data-toggle="tab" href="#tab0" role="tab">{% trans 'Rejected Submissions' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id ="1" data-toggle="tab" href="#tab1" role="tab">{% trans 'Flagged Submissions' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id ="2" data-toggle="tab" href="#tab2" role="tab">{% trans 'Pending Submissions' %}</a>
            </li>
			<li class="nav-item">
              <a class="nav-link" id ="3" data-toggle="tab" href="#tab3" role="tab">{% trans 'Approved Submissions' %}</a>
            </li>
		</ul>



		<div class="tab-content">
		  	<div id="tab0" class="tab-pane">
			<table class="table table-striped table-hover" style="width:100%;">
				{% for instance in data %}
				<tr>
					<td style="width:60%;">
						<a title="view submission detail" href="{% url 'forms:instance' instance.site_fxf.pk %}#/{{ instance.instance.id|stringformat:'d'}}">
							<h7 class="address">{{ instance.site_fxf.xf.title}}</h7>
						</a>
					</td>
					<td>
						<a href="{% url 'users:profile' instance.submitted_by.id %}" title="view details of user">
							<div class="detail-person-time">
								<span class="site_icon_float" style="font-size:16px;"><i class="fa fa-user fa-fw"></i>{{ instance.submitted_by }}</span>
							</div>
						</a>
					</td>
					<td>
						<div class="detail-person-time">
							<span class="site_icon_float" style="font-size:16px;"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{ instance.date|timesince }}{% trans ' ago' %}</span>
						</div>
					</td>
				</tr>
				{% empty %}
				{% trans 'No data' %}
				{% endfor %}
			</table>
				<!--pagination-->
								{% if is_paginated %}
								<nav class="pagination justify-content-center" aria-label="page-navigation">
								  <ul class="pagination">
									{% if page_obj.has_previous %}
									  <li class="page-item disabled"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&laquo;</span></li>
									{% endif %}
									{% for i in paginator.page_range %}
									  {% if page_obj.number == i %}
									  <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

									  {% else %}
										<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
									  {% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
									  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&raquo;</span></li>
									{% endif %}
								  </ul>
								</nav>
								{% endif %}
		  </div>


		  <div id="tab1" class="tab-pane">
			  <table class="table table-striped table-hover" style="width:100%;">
				  {% for instance in data %}
				  <tr>
					  <td style="width:60%;">
						  <a title="view submission detail" href="{% url 'forms:instance' instance.site_fxf.pk %}#/{{ instance.instance.id|stringformat:'d'}}">
							  <h7 class="address">{{ instance.site_fxf.xf.title}}</h7>
						  </a>
					  </td>
					  <td>
						  <a href="{% url 'users:profile' instance.submitted_by.id %}" title="view details of user">
							  <div class="detail-person-time">
								  <span class="site_icon_float" style="font-size:16px;"><i class="fa fa-user fa-fw"></i>{{ instance.submitted_by }}</span>
							  </div>
						  </a>
					  </td>
					  <td>
						  <div class="detail-person-time">
							  <span class="site_icon_float" style="font-size:16px;"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{ instance.date|timesince }}{% trans ' ago' %}</span>
						  </div>
					  </td>
				  </tr>
				  {% empty %}
				 {% trans 'No data' %}
				  {% endfor %}
			  </table>
			  <!--pagination-->
								{% if is_paginated %}
								<nav class="pagination justify-content-center" aria-label="page-navigation">
								  <ul class="pagination">
									{% if page_obj.has_previous %}
									  <li class="page-item disabled"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&laquo;</span></li>
									{% endif %}
									{% for i in paginator.page_range %}
									  {% if page_obj.number == i %}
									  <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

									  {% else %}
										<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
									  {% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
									  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&raquo;</span></li>
									{% endif %}
								  </ul>
								</nav>
								{% endif %}
		  </div>


		  <div id="tab2" class="tab-pane">
			  <table class="table table-striped table-hover" style="width:100%;">
				  {% for instance in data %}
				  <tr>
					  <td style="width:60%;">
						  <a title="view submission detail" href="{% url 'forms:instance' instance.site_fxf.pk %}#/{{ instance.instance.id|stringformat:'d'}}">
							  <h7 class="address">{{ instance.site_fxf.xf.title}}</h7>
						  </a>
					  </td>
					  <td>
						  <a href="{% url 'users:profile' instance.submitted_by.id %}" title="view details of user">
							  <div class="detail-person-time">
								  <span class="site_icon_float" style="font-size:16px;"><i class="fa fa-user fa-fw"></i>{{ instance.submitted_by }}</span>
							  </div>
						  </a>
					  </td>
					  <td>
						  <div class="detail-person-time">
							  <span class="site_icon_float" style="font-size:16px;"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{ instance.date|timesince }}{% trans ' ago' %}</span>
						  </div>
					  </td>
				  </tr>
				  {% empty %}
				  {% trans 'No data' %}
				  {% endfor %}
			  </table>
			  <!--pagination-->
								{% if is_paginated %}
								<nav class="pagination justify-content-center" aria-label="page-navigation">
								  <ul class="pagination">
									{% if page_obj.has_previous %}
									  <li class="page-item disabled"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&laquo;</span></li>
									{% endif %}
									{% for i in paginator.page_range %}
									  {% if page_obj.number == i %}
									  <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

									  {% else %}
										<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
									  {% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
									  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&raquo;</span></li>
									{% endif %}
								  </ul>
								</nav>
								{% endif %}

		  </div>

		  <div id="tab3" class="tab-pane">
			  <table class="table table-striped table-hover" style="width:100%;">
				  {% for instance in data %}
				  <tr>
					  <td style="width:60%;">
						  <a title="view submission detail" href="{% url 'forms:instance' instance.site_fxf.pk %}#/{{ instance.instance.id|stringformat:'d'}}">
							  <h7 class="address">{{ instance.site_fxf.xf.title}}</h7>
						  </a>
					  </td>
					  <td>
						  <a href="{% url 'users:profile' instance.submitted_by.id %}" title="view details of user">
							  <div class="detail-person-time">
								  <span class="site_icon_float" style="font-size:16px;"><i class="fa fa-user fa-fw"></i>{{ instance.submitted_by }}</span>
							  </div>
						  </a>
					  </td>
					  <td>
						  <div class="detail-person-time">
							  <span class="site_icon_float" style="font-size:16px;"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{ instance.date|timesince }}{% trans ' ago' %}</span>
						  </div>
					  </td>
				  </tr>
				  {% empty %}
				  {% trans 'No data' %}
				  {% endfor %}
			  </table>
				<!--pagination-->
								{% if is_paginated %}
								<nav class="pagination justify-content-center" aria-label="page-navigation">
								  <ul class="pagination">
									{% if page_obj.has_previous %}
									  <li class="page-item disabled"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&laquo;</span></li>
									{% endif %}
									{% for i in paginator.page_range %}
									  {% if page_obj.number == i %}
									  <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

									  {% else %}
										<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
									  {% endif %}
									{% endfor %}
									{% if page_obj.has_next %}
									  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
									{% else %}
									  <li class="disabled"><span>&raquo;</span></li>
									{% endif %}
								  </ul>
								</nav>
								{% endif %}
		  </div>


		</div>


	</div>
</div>
</div>
</div>
{% endblock %}