{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n %}

{% block page-title %}{{ scenario }} {% trans 'Site' %}{% endblock %}
{%block extracss %}
{% endblock %}
{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:sites-list' %}">{% trans 'Sites' %}</a>
{% endblock %}


{% block content %}

    <form enctype="multipart/form-data" method="post" action="{% url 'fieldsight:site-upload' project %}">
        <div class="col-sm-12 registration_field">
           {{ form.non_field_errors }}
       </div>

        {% csrf_token %}
         {{ form.media }}
        {% for field in form %}

           <div class="col-sm-12 registration_field">
             <div class="col-sm-3"> {% trans 'Upload A File' %}</div>
             <div class="col-sm-3">      {{ field }}</div>
             <div class="col-sm-6">      {{ field.errors }}</div>
           </div>
        {% endfor %}
      <button class="btn btn-lg btn-primary registration__action" type="submit" >{% trans 'Upload' %}</button>
    </form>

{% endblock %}
