{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Users' %}{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:user-create' %}">{% trans 'New' %} {% trans 'User' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    
    {% autosort object_list as sorted_objects %}
        {% autopaginate object_list 25 as paginated_objects %}

    {% for user in paginated_objects %}
    <div class="col-md-3">
        <div class="person-div">
          <div class="image-of-person">
            <img src="{{user.user_profile.profile_picture.url}}">  
          </div>
          <div class="details-of-person">
            <h4 class="personname">{{ user.get_full_name }}</h4>
            <h5 class="perso-usernname"><span><i class="fa fa-user" aria-hidden="true"></i></span>{{ user.username }}</h5>
            <p class="personaddress"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{user.user_profile.address}}</p>
            <p class="personphone"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{user.user_profile.phone}}</p>
            <p class="personemail"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>{{ user.email }}</p>

            <div class="text-center"><p class="person-active"></span>{{ user.is_active|activeness }}</p></div>
            

          </div>
          <div class="person-edit-delete">
            <a href="{% url 'users:edit' pk=user.id %}" title="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            <a href="{% url 'users:alter_status' pk=user.id %}" title="active|in-active"><i class="fa fa-circle-o" aria-hidden="true"></i></a>

          </div>
        </div>
      </div>
      
        {% endfor %}
        {% paginate %}

{% endblock %}