{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Users' %}{% endblock %}

{% block head %}
    <a class="btn btn-success btn-raised" href="{% url 'fieldsight:user-create' %}">{% trans 'New' %} {% trans 'User' %}</a>
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}

    
    
      
      <div class="users-in-this-org">
        <ul class="nav nav-tabs">
          <li class="active">
            <a data-toggle="tab" href="#grid-view" title="Grid View"><i class="fa fa-th-large" aria-hidden="true"></i></a>
          </li>
          <li>
            <a data-toggle="tab" href="#table-view" title="Table View"><i class="fa fa-th-list" aria-hidden="true"></i></a>
          </li>
        </ul>
        <div class="tab-content">
            <div id="grid-view" class="tab-pane fade in active">
                {% autosort object_list as sorted_objects %}
                {% autopaginate object_list 5 as paginated_objects %}

                {% for user in paginated_objects %}
                <div class="col-md-3">
                    <div class="person-div">
                      <div class="image-of-person">
                        <img src="{{user.user_profile.profile_picture.url}}">  
                      </div>
                      <div class="details-of-person">
                            <h4 class="personname">{{ user.get_full_name }}</h4>
                            <h5 class="perso-usernname"><span><i class="fa fa-user" aria-hidden="true"></i></span>{{ user.username }}</h5>
                            <p class="personaddress"><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>{{user.user_profile.address}}</p>
                            <p class="personphone"><span><i class="fa fa-phone" aria-hidden="true"></i></span>{{user.user_profile.phone}}</p>
                            <p class="personemail"><span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>{{ user.email }}</p>

                            <div class="text-center"><p class="person-active">{{ user.is_active|activeness }}</p></div>
                        

                      </div>
                      <div class="person-edit-delete">
                        <a href="{% url 'users:edit' pk=user.id %}" title="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a href="{% url 'users:alter_status' pk=user.id %}" title="active|in-active"><i class="fa fa-circle-o" aria-hidden="true"></i></a>

                      </div>
                    </div>
                  </div>
              
                {% endfor %}
                <div class="clearfixx"></div>
                {% paginate %}       
            </div>
            <div id="table-view" class="tab-pane fade">
                {% autosort object_list as sorted_objects %}
                {% autopaginate object_list 5 as paginated_objects %}
         
                 <table class="table table-striped">
                     <thead>
                     <th>{% anchor username _('Username') %}</th>
                     <th>{% anchor first_name _('Fullname') %}</th>
                     <th>{% anchor email _('Email') %}</th>
                     <th>{% anchor is_active _('Active') %}</th>
                     <th>Activate/Deactivate</th>
                     </thead>
                     <tbody>
                     {% for user in paginated_objects %}
                         <tr>
                             <td>
                                 <a href="{% url 'users:edit' pk=user.id %}">{{ user.username }}</a>
                             </td>
                             <td>
                                 {{ user.get_full_name }}
                             </td>
                               <td>
                                 {{ user.email }}
                             </td>
                             <td>
                                 {{ user.is_active|activeness }}
                             </td>
                             <td>
                                 <a class="btn btn-success btn-raised" href="{% url 'users:alter_status' pk=user.id %}">
                                     <!--later with js framework ko in some and angular in some-->
                                     {{ user.is_active|alter_status }} {% trans 'User' %}</a>
                             </td>
         
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
                {% paginate %}
            </div>
        </div>
    </div>
        

{% endblock %}