{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}

{% block page-title %}{% trans 'Users' %}{% endblock %}


{% block content %}
{% load pagination_tags %}
    {% load sorting_tags %}
    {% load filters %}
				<div id="main-content" class="padding">
					{% block breadcrumbs %}
					  <ul class="breadcrumbb">
						{% if type == "site" %}
						<li><a href="{% url 'fieldsight:site-dashboard' pk %}">
						 {% trans 'Site Dashboard' %}</a></li>
						{% endif %}
						{% if type == "project" %}
						<li><a href="{% url 'fieldsight:project-dashboard' pk %}">
						 {% trans 'Project Dashboard' %}</a></li>
						{% endif %}
						{% if type == "organization" %}
						<li><a href="{% url 'fieldsight:organizations-dashboard' pk %}">
						 {% trans 'Organization Dashboard' %}</a></li>
						{% endif %}
						<li>{% trans 'Manage People' %}</li>
					  </ul>
					{% endblock %}
				<section class="panel">
                    <header class="panel-heading clearfix">
                        <h3>{% trans 'Users' %}</h3></i>
                        <div class="panel-heading-right">
							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#searchOrganization" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-search"></i>{% trans 'Search' %}</a>

							<a class="btn btn-sm btn-primary" data-toggle="collapse" href="#addfriend" aria-expanded="false" aria-controls="searchOrganization"><i class="la la-plus"></i>{% trans 'Add/Invite Users' %}</a>


						</div>
                    </header>
                    <div class="panel-body">

						<div class="collapse margin-top" id="searchOrganization">
							<form method="GET" class="padding" action="{% url 'fieldsight:search-org-user-list' %}" >
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" name="q" placeholder="Search for..." value='{{ request.GET.q }}'/>
										  <span class="input-group-btn">
											  <button class="btn btn-primary" value="Search"><i class="la la-search"></i>{% trans 'Search' %}</button>
										  </span>
										</div>
									</div>
									<div class="col-md-3"></div>
								</div>
							</form>
						</div>

						 <div class="panel-body">
                             <div class="collapse margin-top" id="addfriend">
							<form class="padding">
								<div class="row">
									<div class="col-md-6 ml-md-auto">
										<div class="input-group">
										  <input type="text" class="form-control" id="invite_email" placeholder="Invite Users" aria-label="Invite">
										  <span class="input-group-btn">
											<button class="btn btn-primary" onclick="sendmultiplerequest()" type="button"><i class="fa fa-plus"></i>{% trans 'Invite' %}</button>
										  </span>
										</div>
									</div>

									<div class="col-md-3"></div>
								</div>
							</form>
						</div>
						<!--Member Listing-->
						<div class="row">
							{% autosort object_list as sorted_objects %}
                            {% autopaginate object_list 100 as paginated_objects %}
                            {% for role in paginated_objects %}

							<div class="col-md-4 col-sm-6">
								<div class="organization-item-wrap margin-top clearfix">

                                    <img  style="float:left" src="{% if role.user.user_profile  %}{{role.user.user_profile.profile_picture.url}}{% endif %}" alt="" width="60" height="60">

									<a href="{% url 'users:profile' role.user.pk %}"  class="basic-info">
										<h4> {{ role.user.get_full_name }}</h4>
                                       	<p>{{ role.user.username }}</p>
                                        <p>{{ role.user.email }}</p>
										<p>{{ role.user.phone }}</p>
									</a>


								</div>
							</div>
							{% empty %}
							No Users are available 
                            {% endfor %}
                            {% paginate %}
						</div>
					</div>

					 <div class="modal fade" id="myinvitemodal" role="dialog" >
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content" style="margin-top: 15%;">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">{% trans 'Invite Status' %}</h4>
                          </div>
                          <div class="modal-body">
                          <center>
                            <div id="update-next-step">
                            <h2>{% trans 'Inviting ...' %}</h2>
                          
                            </div>
                            </center>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>

					<script type="text/javascript">
					var status_email = true;
					
					console.log(typeof status_email);
						function validateemail(email){
							  var atherate = email.indexOf("@");
							  var dot = email.indexOf(".", atherate);
							    
							      if(atherate != -1 && dot != -1){
							        return {
							        status1: true,
							        email: email
							        };
							      }
							      else{
							        // alert("Enter valid email address.");
							        return {
							        status1: false,
							        email: email
							        };
							      }
							}
							 function getNewInsertion(newValue) {
							     if(newValue.indexOf(',') > -1){
							        $("#retry").val('Invite Users');  
							        }
							     else{
							       $("#retry").val('Search User');
							     }
							}


							function sendmultiplerequest(group){
							    var email = $("#invite_email").val();
							    status_email=true;
							    emails = email.split(",");
							    emails.forEach(multiemailvalidate);
							    console.log(status_email);
							    console.log(typeof status_email);
							    if(status_email == true ){ sendinvite(emails, group); }
							    else{ alert('failed'); }
							}

							function multiemailvalidate(entry) {
								if(status_email == false){
									return false;
								}
							    email_res = validateemail(entry);
							    if(email_res.status1 == false){
							      
							      var email_input = document.getElementById("invite_email");
							      email = email_input.value;
							      start = email.search(email_res.email);
							      end = email.indexOf(",", start);
							      // console.log(start +" "+ end);
							      email_input.setSelectionRange(start, end);
							      email_input.focus();
							      status_email=false;


							      }
							    }

							 function sendinvite(emails, group){ 
							      $('#myinvitemodal').modal(); 
							      $.ajax({
							        url: "{% url 'fieldsight:senduserinvite' %}",
							        data: {'emails[]': emails, 'organization_id':{{ organization_id }}, 'project_id':'', 'site_id':'', 'group':'Unassigned', 'csrfmiddlewaretoken': '{{ csrf_token }}'},
							        type: 'POST',
							        success: function (html) {

							           $('#update-next-step').html(html);
							            
							        }
							      });
								}
      
					</script>

 {% endblock %}