{% extends "fieldsight/fieldsight_base1.html" %}
{% load i18n staticfiles %}


{%block extracss %}
{% endblock %}

{% block content %}

    <div id="main-content" class="padding">
				<section class="panel">
                    <header class="panel-heading clearfix">



						<div class="row">
							<img src="https://www.inzjobs.com/resources/frontend/images/404-error-page.png" >
                            <img src="https://media.giphy.com/media/COO13FZ1ktabS/giphy.gif" >
					</div>

                </section>

			</div>
{% endblock %}
