{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% load fs_filters %}

{% block page-title %}{% trans 'Responses' %}{% endblock %}

   {%block extracss %}
<link rel="stylesheet" href="{% static 'css/knockout-file-bindings.css' %}">
<link rel="stylesheet" href="{% static 'dummy/assets/css/jquery-ui.css' %}">

    {% endblock %}

{% block head %}
{% endblock %}
{% block breadcrumbs %}

<li><a href="{% url 'fieldsight:project-dashboard' pk %}">
  {% trans 'Project Dashboard' %}</a></li>
<li>{% trans 'Responses' %}</li>
{% endblock %}



{% block content %}
<div id="main-content" class="padding">

    <div class="tabbing">


    <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#general1" role="tab">General Forms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#schedule2" role="tab">Scheduled Forms</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#stage3" role="tab">Staged Form</a>
            </li>
          </ul>

    <div class="tab-content">
      <div id="general1" class="tab-pane active">
        {% if generals %}
          <h3><b> {% trans 'General Forms' %} </b></h3>

          <table class="table table-striped" id="dynamic-table2">
              <thead>
              <th>{% trans 'Form Name' %}</th>
              <th>{% trans 'Created Date' %}</th>
              <th>{% trans 'View Submissions' %}</th>
              <th>{% trans 'Download Excel' %}</th>
              </thead>
              <tbody>
              {% for obj in generals %}
                  <tr>
                      <td>
                          {{ obj.xf.title }}
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                      <td>
                           <a href="{% url 'forms:project_html_export' obj.id %}">
                               {{ obj.id|project_submissions }}
                               {% trans ' View ' %}</a>
                      </td>
                      <td>
                      <a target="_blank" href="{% url "onadata.apps.viewer.views.export_list" request.user.username obj.xf.id_string 'xls' %}">
                          <i class="la la-download" aria-hidden="true"></i></a>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        {% endif %}
      </div>


      <div id="schedule2" class="tab-pane fade">
        {% if schedules %}
          <h3><b>{% trans 'Scheduled Forms' %}</b></h3>

          <table class="table table-striped" id="dynamic-table1">
              <thead>
              <th>{% trans 'Schedule Name' %}</th>
              <th>{% trans 'Form Name' %}</th>
              <th>{% trans 'Created Date' %}</th>
              <th>{% trans 'Submissions' %}</th>
              <th>{% trans 'Download' %}</th>
              </thead>
              <tbody>
              {% for obj in schedules %}
                  <tr>
                      <td>
                          {{ obj.name}}</a>
                      </td>
                      <td>
                          {{ obj.schedule_forms.xf.title }}</a>
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                      <td>
                            {% with obj.schedule_forms.pk|project_submissions as count %}
                          {% if count %}
                           <a href="{% url 'forms:project_html_export' obj.schedule_forms.pk %}">
                               {{ count }}
                               {% trans ' View ' %}</a>
                          {% endif %}
                          {% endwith %}
                      </td>
                      <td>
                      <a target="_blank" href="{% url "onadata.apps.viewer.views.export_list" request.user.username obj.schedule_forms.xf.id_string 'xls' %}">
                          <i class="la la-download" aria-hidden="true"></i></a>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>

        {% endif %}
      </div>


      <div id="stage3" class="tab-pane fade">
        {% if stages %}
         <div class="panel-group col-sm-8" id="accordion">
          {% for stage in stages %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href=""><b>{% trans 'Stage Name' %}:</b> {{stage.name }}</a>
                </h4>
              </div>
              <div id="collapse{{stage.id}}">
                <div class="panel-body">
                  {% if stage.active_substages %}

                  <table class="table table-striped">
                      <thead>
                      <th>{% trans 'Sub Stage Name' %}</th>
                      <th>{% trans 'Order' %}</th>
                      <th>{% trans 'Form Name' %}</th>
                      <th>{% trans 'Submissions' %}</th>
                      <th>{% trans 'Download' %}</th>
                      </thead>
                      <tbody>
                     {% for obj in stage.active_substages %}
                          <tr>
                              <td>
                                  {{ obj.name}}
                              </td>
                              <td>
                                  {{ obj.order }}
                              </td>
                              <td>{{obj.stage_forms.xf.title}}</td>
                              <td>
                                {% with obj.stage_forms.pk|project_submissions as count %}
                          {% if count %}
                           <a href="{% url 'forms:project_html_export' obj.stage_forms.pk %}">
                               {{ count }}
                               {% trans ' View ' %}</a>
                          {% endif %}
                          {% endwith %}
                              </td>
                              <td>
                      <a target="_blank" href="{% url "onadata.apps.viewer.views.export_list" request.user.username obj.stage_forms.xf.id_string 'xls' %}">
                          <i class="la la-download" aria-hidden="true"></i></a>
                      </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>


                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}

          </div>
             <div class="col-sm-4 card">
                 <div class="well well-sm notice-danger"><h4>Deleted Form Responses</h4></div>
            {% for obj in deleted_forms %}
            <div class="row card_inside">{{obj.xf.title}} {% trans 'with' %}
             <a href="{% url 'forms:project_html_export' obj.id %}">
                               {{ obj.id|project_submissions }}
                               {% trans ' Submissions ' %}</a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
          </div>
      </div>
    </div>
</div>
{% endblock %}