{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load filters %}
{% load fs_filters %}

{% block page-title %}{% trans 'Responses' %}{% endblock %}

   {%block extracss %}
<link rel="stylesheet" href="{% static 'css/knockout-file-bindings.css' %}">
<link rel="stylesheet" href="{% static 'dummy/assets/css/jquery-ui.css' %}">

    {% endblock %}

{% block head %}
{% endblock %}
{% block content %}
<div id="main-content" class="padding">
    <nav aria-label="breadcrumb" role="navigation">
		<ol class="breadcrumb">
            {% block breadcrumbs %}
			<li class="breadcrumb-item"><a href="{% url 'fieldsight:project-dashboard' project %}">{{ obj.name }}</a></li>
			<li class="breadcrumb-item active" aria-current="page">{% trans 'Responses' %}</li>
		    {% endblock %}
        </ol>
    </nav>
    <div class="tabbing">


    <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#general1" role="tab">{% trans 'General' %} {% trans 'Forms' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#schedule2" role="tab">{% trans 'Scheduled' %} {% trans 'Forms' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#stage3" role="tab">{% trans 'Staged' %} {% trans 'Forms' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#survey4" role="tab">{% trans 'Survey' %} {% trans 'Forms' %}</a>
            </li>
          </ul>

    <div class="tab-content">
      <div id="general1" class="tab-pane active">
        {% if generals %}
        <div class="widget-info">
         
          <div class="widget-body">
            <table class="table table-responsive table-hover table-striped" id="dynamic-table2">
              <thead class="thead-default">
                <tr>
                  <th>{% trans 'Form' %} {% trans 'Name' %}</th>
                  <th>{% trans 'Last' %} {% trans 'Response' %} {% trans 'On' %}</th>
                  <th>{% trans 'Created' %} {% trans 'Date' %}</th>
                  <th>{% trans 'View' %} {% trans 'Submissions' %}</th>
                  <th>{% trans 'Download' %} {% trans 'Excel' %}</th>
                </tr>
              </thead>
              <tbody>
              {% for obj in generals %}
                  <tr>
                      <td>
                          {{ obj.xf.title }}
                      </td>
                      <td>
                          {{ obj.getlatestsubmittiondate.first.date }}
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                      
                      <td>
                           <a class="badge badge-primary" href="{% url 'forms:project_html_export' obj.id %}">
                           <i class="la la-eye"></i>  {{ obj.id|project_submissions }} {% trans 'Submission' %}</a>
                      </td>
                     
                      
                      <td>
                      <a class="badge badge-success" target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.xf.user.username obj.xf.id_string 'xls' 1 obj.id %}">
                          <i class="la la-download" aria-hidden="true"></i> Download</a>
                      </td>


                  </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
        </div>
         {% endif %}
      </div>

      <div id="survey4" class="tab-pane fade">
        {% if surveys %}
          <div class="widget-info">
         
          <div class="widget-body">

          <table class="table table-responsive table-hover table-striped" id="dynamic-table2" id="dynamic-table3">
              <thead class="thead-default">
              <th>{% trans 'Form' %} {% trans 'Name' %}</th>
              <th>{% trans 'Last' %} {% trans 'Response' %} {% trans 'On' %}</th>
              <th>{% trans 'Created' %} {% trans 'Date' %}</th>
              <th>{% trans 'View' %} {% trans 'Submissions' %}</th>
              <th>{% trans 'Download' %} {% trans 'Excel' %}</th>
              </thead>
              <tbody>
              {% for obj in surveys %}
                  <tr>
                      <td>
                          {{ obj.xf.title }}
                      </td>
                      <td>
                          {{ obj.getlatestsubmittiondate.first.date }}
                      </td>

                      <td>
                          {{ obj.date_created }}
                      </td>
                     

                       <td>
                           <a class="badge badge-primary" href="{% url 'forms:project_html_export' obj.id %}">
                           <i class="la la-eye"></i>  {{ obj.id|project_submissions }} {% trans 'Submission' %}</a>
                      </td>
                     
                      
                      <td>
                      <a class="badge badge-success" target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.xf.user.username obj.xf.id_string 'xls' 1 obj.id %}">
                          <i class="la la-download" aria-hidden="true"></i> Download</a>
                      </td>               
          
                  </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
          </div>
        {% endif %}
      </div>

      <div id="schedule2" class="tab-pane fade">
        {% if schedules %}
         <div class="widget-info">
         
          <div class="widget-body">
          <table class="table table-responsive table-hover table-striped" id="dynamic-table2" id="dynamic-table1">
              <thead class="thead-default">
              <th>{% trans 'Schedule' %} {% trans 'Name' %}</th>
               <th>{% trans 'Last' %} {% trans 'Response' %} {% trans 'On' %}</th>
              <th>{% trans 'Form' %} {% trans 'Name' %}</th>
              <th>{% trans 'Created' %} {% trans 'Date' %}</th>
              <th>{% trans 'Submissions' %}</th>
              <th>{% trans 'Download' %}</th>
              </thead>
              <tbody>
              {% for obj in schedules %}
                  <tr>
                      <td>
                          {{ obj.name}}
                      </td>
                      <td>
                          {{ obj.getlatestsubmittiondate.first.date }}
                      </td>
                      <td>
                          {{ obj.schedule_forms.xf.title }}
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                         <td>
                                {% with obj.schedule_forms.pk|project_submissions as count %}
                                   {% if count %}
                                   <a class="badge badge-primary" href="{% url 'forms:project_html_export'  obj.schedule_forms.pk %}">
                                   <i class="la la-eye"></i>  {{ count }} {% trans 'Submission' %}</a>
                                   {% endif %}
                                {% endwith %}
                              </td>
                             
                              
                              <td>
                              <a class="badge badge-success" target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.schedule_forms.xf.user.username obj.schedule_forms.xf.id_string 'xls' 1 obj.id %}">
                                  <i class="la la-download" aria-hidden="true"></i> Download</a>
                              </td>


                  </tr>
              {% endfor %}
              </tbody>
          </table>
          </div>
          </div>
        {% endif %}
      </div>

      <div id="stage3" class="tab-pane fade">
        {% if stages %}
        
          
          {% for stage in stages %}
          <div class="widget-info">
          <div class="widget-head">
            <h3>{{stage.name }}</h3>
                  </div>
                  <div class="widget-body">
               
                  {% if stage.active_substages %}

                  <table class="table table-responsive table-hover table-striped" id="dynamic-table2">
                      <thead class="thead-default">
                      <th>{% trans 'Sub' %} {% trans 'Stage' %} {% trans 'Name' %}</th>
                      <th>{% trans 'Last' %} {% trans 'Response' %} {% trans 'On' %}</th>
                      <th>{% trans 'Order' %}</th>
                      <th>{% trans 'Form' %} {% trans 'Name' %}</th>
                      <th>{% trans 'Submissions' %}</th>
                      <th>{% trans 'Download' %}</th>
                      </thead>
                      <tbody>
                     {% for obj in stage.active_substages %}
                          <tr>
                              <td>
                                  {{ obj.name}}
                              </td>
                              <td>
                                  {{ obj.getlatestsubmittiondate.first.date }}
                              </td>
                              <td>
                                  {{ obj.order }}
                              </td>
                              <td>{{obj.stage_forms.xf.title}}</td>
                          
                               <td>
                                {% with obj.stage_forms.pk|project_submissions as count %}
                                   {% if count %}
                                   <a class="badge badge-primary" href="{% url 'forms:project_html_export'  obj.stage_forms.pk %}">
                                   <i class="la la-eye"></i>  {{ count }} {% trans 'Submission' %}</a>
                                   {% endif %}
                                {% endwith %}
                              </td>
                             
                              
                              <td>
                              <a class="badge badge-success" target="_blank" href="{% url "onadata.apps.viewer.views.export_list" obj.stage_forms.xf.user.username obj.stage_forms.xf.id_string 'xls' 1 obj.stage_forms.id %}">
                                  <i class="la la-download" aria-hidden="true"></i> Download</a>
                              </td>

                            
                  
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
                 {% endif %}
                  </div>
                </div>
              
            
          {% endfor %}
           <div class="col-sm-4 card">
                 <div class="well well-sm notice-danger"><h4>{% trans 'Deleted' %} {% trans 'Form' %} {% trans 'Responses' %}</h4></div>
            {% for obj in deleted_forms %}
            <div class="row card_inside">{{obj.xf.title}} {% trans 'with' %}
             <a href="{% url 'forms:project_html_export' obj.id %}">
                               {{ obj.id|project_submissions }}
                               {% trans ' Submissions ' %}</a>
            </div>
            {% endfor %}
      
        {% endif %}
          </div>
        </div>
            
    </div>
    </div>
</div>
{% endblock %}