{% extends "fieldsight/fieldsight_base.html" %}
{% load i18n staticfiles %}
{% load fs_filters %}

{% block page-title %}{% trans 'Forms Responses' %}{% endblock %}

{% block head %}
{% endblock %}
{% block breadcrumbs %}
    <li><a href="{% url 'fieldsight:project-dashboard' project %}">Project Dashboard</a></li>
<li><a href="{% url 'fieldsight:project-list' %}">{% trans 'Projects' %}</a></li>
    <li>Responses</li>
{% endblock %}
{% block content %}

    <div class="adv-table">

    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#general1">{% trans 'General Forms' %}</a></li>
      <li><a data-toggle="tab" href="#schedule2">{% trans 'Scheduled Forms' %}</a></li>
      <li><a data-toggle="tab" href="#stage3">{% trans 'Staged Forms' %}</a></li>
    </ul>

    <div class="tab-content">
      <div id="general1" class="tab-pane fade in active">
        {% if generals %}
          <h3><b> {% trans 'General Forms' %} </b></h3>

          <table class="table table-striped" id="dynamic-table2">
              <thead>
              <th>{% trans 'Form Name' %}</th>
              <th>{% trans 'Created Date' %}</th>
              <th>{% trans 'View Submissions' %}</th>
              </thead>
              <tbody>
              {% for obj in generals %}
                  <tr>
                      <td>
                          {{ obj.xf.title }}</a>
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                      <td>
                           <a href="{% url 'forms:project_html_export' obj.id %}">
                               {{ obj.id|project_submissions }}
                               {% trans ' View ' %}</a>
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>
        {% endif %}
      </div>


      <div id="schedule2" class="tab-pane fade">
        {% if schedules %}
          <h3><b>{% trans 'Scheduled Forms' %}</b></h3>

          <table class="table table-striped" id="dynamic-table1">
              <thead>
              <th>{% trans 'Schedule Name' %}</th>
              <th>{% trans 'Form Name' %}</th>
              <th>{% trans 'Created Date' %}</th>
              <th>{% trans 'Submissions' %}</th>
              </thead>
              <tbody>
              {% for obj in schedules %}
                  <tr>
                      <td>
                          {{ obj.name}}</a>
                      </td>
                      <td>
                          {{ obj.schedule_forms.xf.title }}</a>
                      </td>
                      <td>
                          {{ obj.date_created }}
                      </td>
                      <td>
                            {% with obj.schedule_forms.pk|site_submissions as count %}
                          {% if count %}
                           <a href="{% url 'forms:project_html_export' obj.schedule_forms.pk %}">
                               {{ count }}
                               {% trans ' View ' %}</a>
                          {% endif %}
                          {% endwith %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
          </table>

        {% endif %}
      </div>


      <div id="stage3" class="tab-pane fade">
        {% if stages %}
         <div class="panel-group" id="accordion">
          {% for stage in stages %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href=""><b>{% trans 'Stage Name' %}:</b> {{stage.name }}</a>
                </h4>
              </div>
              <div id="collapse{{stage.id}}">
                <div class="panel-body">
                  {% if stage.active_substages %}

                  <table class="table table-striped">
                      <thead>
                      <th>{% trans 'Sub Stage Name' %}</th>
                      <th>{% trans 'Order' %}</th>
                      <th>{% trans 'Form Name' %}</th>
                      <th>{% trans 'Submissions' %}</th>
                      </thead>
                      <tbody>
                     {% for obj in stage.active_substages %}
                          <tr>
                              <td>
                                  {{ obj.name}}
                              </td>
                              <td>
                                  {{ obj.order }}
                              </td>
                              <td>{{obj.stage_forms.xf.title}}</td>
                              <td>
                                {% with obj.stage_forms.pk|project_submissions as count %}
                          {% if count %}
                           <a href="{% url 'forms:project_html_export' obj.stage_forms.pk %}">
                               {{ count }}
                               {% trans ' View ' %}</a>
                          {% endif %}
                          {% endwith %}
                              </td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>


                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}

          </div>
        {% endif %}
          </div>
      </div>
    </div>

{% endblock %}